/* CSS Document */
/*body,#content, table tr td,#header-bg,#header-bg .header,.citizen,.lodge,#top-header-bg {color: #fdeb44;background:#1529B6 none;} */
body,#content, table tr td {color: #fdeb44;background:#1529B6 none;}
p{color:#fdeb44}
.exchange h4{color: #fdeb44}
.mission h4{color: #fdeb44}
.whatis h1{color: #fdeb44}
.whatis span{color: #fdeb44}
h1,h2,h3,h4,h5,a{color: #fdeb44}
.questionmark{color: #fdeb44}
.body-column a{color: #fdeb44}
.register-box p{ color:#38527d}
.register-box h5 a{ color:#38527d}
.login-box h4 { color:#38527d}
.login-box label { color:#38527d}
.login-box small { color:#38527d}
table.gridview tr td a{color:#38527d;}
a, a:link, a:visited{color: #fdeb44 !important;}
#bottom-fullwidth{background:none;}
.container{background:none;}
#banner{background:none;}
#footer-fulwidth{background:#1529B6 none;} 
#footer-fulwidth .footer{background:#1529B6 none;}
#top-links{background:#1529B6 none;}
#top-links ul li a{color:#fdeb44;}
.search_bg{background:#1529B6 none;}
.state{background:#1529B6 none;}
#content-wrapper .sidebar{background:#1529B6 none;}
.sidebar-content ul li a{color:#fdeb44;}
.tab{background:#1529B6 none;}
.programe{background:#1529B6 none;}
.programe ul{background:#1529B6 none;}
.event_bg{background:#1529B6 none;}
.link_bg{background:#1529B6 none;}
.sidebar .activities_bg{background:#1529B6 none;}


.rightbar_bg a{
	color: #FDEB44 !important;
}
#navigation > a {
	color: #FDEB44 !important;
}
#block-views-video-gallery-block h2, #block-views-catalog-view-block h2{ color: #FDEB44 !important; }
#header .logo {
	/* background:url(../images/logo.gif) no-repeat; */
}
.banner{
	background:none;
}
.category_bg{
	/* background: url(../images/category_bg.png) no-repeat; */
}
.ryt-graphics{
/* background:url(../images/right-graphic-blue.jpg) no-repeat; */
}
.right-bar .rightbar_bg{
	/* background:url(../images/sidebar_bg-blue.png) no-repeat; */
}
.blockquote,.header-warpper,.image_wrapper,.header-graphics,.footer-wrapper{
	background:none;
}
.views-fluid-grid li.views-fluid-grid-item{
	background-color: #696969;
    background-image: none;
    border: 1px solid #FFFFFF;
    color: #FFFF00;
    list-style-type: none;
    overflow: hidden;
    padding: 3px;
    vertical-align: top;
}

#header
{
background: #0000ff;
}
#page{
background: #0000ff;
}
#main-wrapper,#content{
background: #0000ff;

}
#triptych-wrapper{
background: #0000ff;
}
#name-and-slogan{
color:#fdeb44;
}
