body {
	margin:0px;
	padding:0px;
	color:#212121;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:1.5em;
}

a, a:link, a:visited {
	color: #00aaa0;
}

a:hover {
	color: #FF6600;
	text-decoration:none;
}

p { margin: 0px; padding: 0 0 10px 0; }
img { border: none; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

h1 { font-size: 36px; color: #000; }
h2 { font-size: 28px; color: #000; margin: 0 0 20px 0; padding: 0; }
h3 { font-size: 21px; color: #ccc; margin: 0 0 20px 0; padding: 0; }
h4 { font-size: 15px; color: #FFF; margin: 15px 0 0px 0; padding: 0;  }
h5 { font-size: 14px; color: #373737; margin: 0 0 5px 0; padding: 0; font-weight:bold; }
h6 { font-size: 14px; margin: 0 0 5px 0; padding: 0;}

.cleaner { clear: both;   }

.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 90px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.float_l {
	float: left;
}

.float_r {
	float: right;
}

.wrapper{ margin:auto; width:700px;}

/********header start********/
#top-header-bg{ width:100%; background:#054b47; height:27px; }
#top-header{ width:1000px; margin:0 auto; }
#top-links {
	float: right;
	padding:0px 0;
	_padding:4px 0;
	width:100%;
}
#top-links ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#top-links ul li {
	padding: 0;
	margin: 0;
	display: inline;
	color:#FFF;
	font-size: 12px;
	float: right;
	display: block;
	line-height: 14px;
	padding: 0 10px;
}
#top-links ul li a {
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	outline: none;
	line-height:25px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#top-links ul li a:hover, #top-links ul li .current {
	color: #5dfff7;
}
#top-links ul .last {
	border: none;
	padding-right: 0
}
#font-size .small {
	font-size:11px;
}
#font-size .medium {
	font-size:13px;
}
#font-size .big {
	font-size:15px;
}

#header-bg{ width:100%; height:156px; background:url(/static/images_eabhi/header_bg.jpg) repeat-x;   }
#header-bg .header{ width:1000px; margin:0 auto; background:url(/static/images_eabhi/eabhijoga-1_03.png) no-repeat; height:123px;    }
.logo{ background:url(/static/images_eabhi/logo.png) no-repeat; width:550px; height:102px;}
.logo h2 a{ width:550px; height:102px; display:block; text-indent:-99999px;}

.wrapper{ width:1000px; margin:0 auto; position:relative; }
.slider{ width:650px; float:left; background:url(/static/images_eabhi/eabhijoga-1_0.jpg) no-repeat; height:316px; margin-top:20px; }
/* .login-box{ width:280px; float:right; height:250px; border:solid 1px #cadada; margin-top:30px; padding:10px 20px;  } */
.login-box {
    width: 280px;
    float: right;
    height: 180px;
    border: solid 1px #cadada;
    margin-top: 12px;
    padding: 10px 20px;
}
/*.grivance{ position:absolute; top:25px; right:60px; color:#FFF; background:url(../imagesNewLook/eabhijoga-1_06.jpg) no-repeat; width:193px; padding:4px 0px 0 20px; height:21px; font-weight:bold; text-transform:uppercase; font-size:12px; }*/
.grivance {
    position: absolute;
    top: 115px;
    right: 60px;
    color: #FFF;
    background: url(/static/images_eabhi/eabhijoga-1_06.jpg) no-repeat;
    width: 193px;
    padding: 4px 0px 0 20px;
    height: 21px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}
.input{ width:150px; height:20px; background:#e5edef; border: solid 1px #bebfbf; margin-bottom:10px;}
.login-button{ position:absolute; bottom:26px; right:-8px; width:81px; height:33px; background:url(/static/images_eabhi/login_button.jpg) no-repeat; border:none; cursor:pointer;}

#content{ width:1000px; margin:0 auto;}
#content a{ color:#0a0a0a; text-decoration:none;}
#content a:hover{ color:#333; }
.citizen{ width: 167px; height:61px; background:url(/static/images_eabhi/green.jpg) no-repeat; float:left; padding:40px 20px 0 20px; text-transform:uppercase; color:#FFF; font-size:30px; font-style:italic; }

.lodge{ width: 150px; height:61px; background:url(/static/images_eabhi/yellow.jpg) no-repeat; float:left; padding:40px 0px 0 20px; color:#0a0a0a; font-size:18px; font-weight:bold;  }
.lodge-remainder{ width: 153px; height:61px; background:url(/static/images_eabhi/lightgreen.jpg) no-repeat; float:left; padding:40px 0px 0 20px; color:#0a0a0a; font-size:18px; font-weight:bold; }
.action{ width: 150px; height:61px; background:url(/static/images_eabhi/orange.jpg) no-repeat; float:left; padding:40px 0px 0 20px; color:#0a0a0a; font-size:18px; font-weight:bold; }
.click{ width: 260px; height:81px; background:#FFF; float:right; padding:20px 0px 0 20px; color:#0a0a0a; font-size:18px; font-weight:bold;  }

#content a img { margin-right:15px;}

#footer-bg{ width:100%; background:#011615;}
.footer{ width:1000px; margin:0 auto;}
.footer p{ color:#FFF; font-size:12px;}
.footer a{ text-decoration:none;}
.footer:hover{ text-decoration:none;}
#top-links a.theme4 {
    background: #FFF;
    color: #000 !important;
    font-weight: bold;
    border: 1px solid #000;
    font-size: 10px;
    line-height: 11px;
    height: 11px;
  margin-left: -14px;
  padding: 0 3px;
}

#top-links a.theme1 {
    background: #000;
    color: #FF33FF !important;
    font-weight: bold;
    border: 1px solid #FF33FF;
     padding: 0 3px;
    font-size: 10px;
    line-height: 11px;
    height: 11px;
}
#top-links a.theme2 {
    /* background: #000; */
    color: #00ff00 !important;
    font-weight: bold;
    border: 1px solid #00ff00;
   padding: 0 3px;
    font-size: 10px;
    line-height: 11px;
    height: 11px;
}
#top-links a.theme3 {
    background: #0000ff;
    color: #fdeb44 !important;
    font-weight: bold;
    border: 1px solid #fff;
   padding: 0 3px;
    font-size: 10px;
    line-height: 11px;
    height: 11px;
}
#top-links a.theme4:hover {
    background: #000;
    color: #FFF !important;
    font-weight: bold;
    border: 1px solid #FFF;
    /*font-size: 10px;*/
}
#top-links a.theme1:hover {
    background: #ff920d;
    color: #000 !important;
    font-weight: bold;
    border: 1px solid #000;
    /*font-size: 10px;*/
}
#top-links a.theme2:hover {
    background: #00ff00;
    color: #000 !important;
    font-weight: bold;
    border: 1px solid #000;
    /*font-size: 10px;*/
}
#top-links a.theme3:hover {
    background: #fff;
    color: #fdeb44 !important;
    font-weight: bold;
    border: 1px solid #0000ff;
    /*font-size: 10px;*/
}
.wrapper1{
    width:1200px;
    margin:0 auto;
    position:relative;
}
.ssologinbox{
    width: 280px;
    float: right;
    height: 55px;
    border: solid 1px #cadada;
    margin-top: 27px;
    padding: 10px 20px;
}
.grivance1{
    position: absolute;
    top: 23px;
    right: 110px;
    color: #FFF;
    background: url(/static/images_eabhi/eabhijoga-1_06.jpg) no-repeat;
    width: 100px;
    padding: 4px 0px 0 20px;
    height: 21px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    }

    .login-button1{
        position: absolute;
        bottom: 241px;
        right: -8px;
        width: 81px;
        height: 33px;
        background: url(/static/images_eabhi/login_button.jpg) no-repeat;
        border: none;
        cursor: pointer;
        }
        .vl {
border-left: 1px solid grey;
  height: 50px;
  position: absolute;
  left: 87%;
  margin-left: -3px;
        }