/* CSS Document */
body,#content, table tr td {color: #fdeb44;background:#000 none;}
p{color:#fdeb44}
.exchange h4{color: #fdeb44}
.mission h4{color: #fdeb44}
.whatis h1{color: #fdeb44}
.whatis span{color: #fdeb44}
h1,h2,h3,h4,h5,a{color: #fdeb44}
.questionmark{color: #fdeb44}
.body-column a{color: #fdeb44}
.register-box p{ color:#38527d}
.register-box h5 a{ color:#38527d}
.login-box h4 { color:#38527d}
.login-box label { color:#38527d}
.login-box small { color:#38527d}
table.gridview tr td a{color:#38527d;}
a, a:link, a:visited, li a{color: #FFFF00 !important;}
#bottom-fullwidth{background:none;}
.container{background:none;}
#banner{background:none;}
#footer-fulwidth{background:#000 none;} 
#footer-fulwidth .footer{background:#000 none;}
#top-links{background:#000 none;}
#top-links ul li a{color:#fdeb44;}
.search_bg{background:#000 none;}
#navigation ul li a:hover{background:#000;color:#fdeb44}
#navigation ul li ul li a{background:#000;color:#fdeb44}
.state{background:#000 none;}
#content-wrapper .sidebar{background:#000 none;}
.sidebar-content ul li a{color:#fdeb44;}
.tab{background:#000 none;}
.programe{background:#000 none;}
.programe ul{background:#000 none;}
.event_bg{background:#000 none;}
.link_bg{background:#000 none;}
.sidebar .activities_bg{background:#1529B6 none;}

.rightbar_bg a{
	color: #FFFF00 !important;
}
#navigation > a {
	color: #FFFF00 !important;
}
#block-views-video-gallery-block h2, #block-views-catalog-view-block h2{ color: #FFFF00 !important; }
#header .logo {
	/* background:url(../images/logo.gif) no-repeat; */
}
.banner{
	/*background:none;*/
	background:#000000;
}
.category_bg{
	/* background: url(../images/category_bg.png) no-repeat; */
}
.blockquote,.header-warpper,.image_wrapper,.header-graphics,.ryt-graphics,.footer-wrapper{
	background:none;
}
.views-fluid-grid li.views-fluid-grid-item{
	background-color: #696969;
    background-image: none;
    border: 1px solid #FFFFFF;
    color: #FFFF00;
    list-style-type: none;
    overflow: hidden;
    padding: 3px;
    vertical-align: top;
}
#header_first
{
 background:#000000;
 }
#header
{
background: #000000;
}
#page{
background: #000000;
}
#main-wrapper{
background:none;
}
#triptych-wrapper,.menu-wrap,#footer-2,.footer-3{
background: #000000;
}
#name-and-slogan{
color:#FFFF00;
}
