@font-face {
	font-family: 'Conv_Roboto-Light';
	src: url('fonts/Roboto-Light.eot');
	src: local('ÃƒÂ¢Ã‹Å“Ã‚Âº'), url('fonts/Roboto-Light.woff') format('woff'), url('fonts/Roboto-Light.ttf') format('truetype'), url('fonts/Roboto-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Roboto-Regular';
	src: url('fonts/Roboto-Regular.eot');
	src: local('ÃƒÂ¢Ã‹Å“Ã‚Âº'), url('fonts/Roboto-Regular.woff') format('woff'), url('fonts/Roboto-Regular.ttf') format('truetype'), url('fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
*{margin:0; padding:0;}
body{font-family: 'Conv_Roboto-Regular',Arial,san-sarif; font-size:14px;color:#333;line-height:20px; background:url(../images/background-bg.jpg) left top repeat;}
.margin-10{margin:10px!important;}
.margin-left0 {margin-left:0 !important;}
.margin-left10 {margin-left:10px !important;}
.margin-right0 {margin-right:0 !important;}
.margin-bottom0 {margin-bottom:0px !important;}
.margin-bottom5 {margin-bottom:5px !important;}
.margin-bottom10 {margin-bottom:10px !important;}
.margin-bottom15 {margin-bottom:15px !important;}
.margin-bottom20 {margin-bottom:20px !important;}
.margin-bottom25 {margin-bottom:25px !important;}
.margin-bottom30 {margin-bottom:30px !important;}
.margin-bottom35 {margin-bottom:35px !important;}
.margin-top0 {margin-top:0px !important;}
.margin-top5 {margin-top:5px !important;}
.margin-top10 {margin-top:10px !important;}
.margin-top15 {margin-top:15px !important;}
.margin-top20 {margin-top:20px !important;}
.margin-top25 {margin-top:25px !important;}
.margin-top30 {margin-top:30px !important;}
.margin-top35 {margin-top:35px !important;}
.margin-top40{margin-top:45px !important;}
.margin-top50 {margin-top:50px !important;}
.padding-0{padding:0px!important;}
.padding-5 {padding:5px !important;}
.padding-10 {padding:10px !important;}
.padding-15 {padding:15px !important;}
.padding-20 {padding:20px !important;}
.padding-left-0{padding-left:0px!important}
.bg-white {background-color: #FFFFFF }
.bg-black {background-color: #000000 !important;}
.bg-dryellow {background-color:#9C9F48;}

.bg-dryellows {background-color:#d28f14;}
.bg-yellow {background-color:#AEB04B;}
.bg-blue {background-color:#ff8d0094;}
.text-white {color:#FFF !important;}
.text-red{color:#f00!important}
.text-orange{color:#F67248!important}
.text-blue{color:#396CAF!important}
.text-green{color:#6AE61D!important}
.margin0{margin:0px!important;}
.right-border {border-bottom: #d9d6d6 1px dotted;}

/*header css*/
.header-wrapp {/* background-color: #1b6ccc; */background: #088389;border-bottom: solid 5px rgb(163, 173, 185);padding: 0px 0px 0px;-moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);z-index:1000;}
.fontresize{margin:0px 2px 0 0;height:25px;float:right;line-height:22px;text-align:center;border: 1px solid #1e4675;color:#FFFFFF;padding: 0px 5px;}
.white-box,.black-box,.blue-box{width:25px;height:25px;float:right;}
.white-box{background-color:#FFF;border: 1px solid #1e4675;}
.black-box{background-color:#000000;margin-left:2px;margin-right:3px;border: 1px solid #1e4675;}
.blue-box{ background-color:#0000CC;margin-left:2px;margin-right:3px;border: 1px solid #1e4675;}
.skip-to-main{padding: 4px 5px 4px 5px; color: #FBF2F2;line-height: 26px;margin-right: 3px;font-weight: 400;font-family: arial;}
.address-section{background-color: #00b1ba;padding: 4px 0px;margin-bottom: 0px;}
.top-link {
float:right;


/* margin-top: 5px; *//* text-align: center; */border: #0c468a solid 1px;/*margin-bottom: -5px; border-bottom: #215490 solid 6px; */border-radius: 4px 4px 0px 0px;}
.top-link ul{margin:0px;padding:0px;/* border: solid 1px #1e4675; */}
.top-link li {display:inline-block;margin:1px 0px 0px 1px;;border-right: solid 1px #539cf1;position: relative;}
.top-link li:last-child{border-right:0px solid #ffa081}
.top-link li a {color: #ffffff;text-transform:uppercase;padding: 10px 32px;line-height: 25px;font-size:13px;display: block;background-color: #00b1ba;}
.top-link ul ul{display:none;position: absolute;top:100%;left:0px;padding:0px;margin-top:0px;background:#2A394D;border-left:1px solid #F67248!important;}
.top-link ul ul li{float:none;display:block;padding: 2px 0px;margin: 0 0 0 1px;border:none;width:150px;border-color:#ffa081; border-style: solid;border-width: 0px 0px 1px 0px;}
.top-link ul ul li:last-child{border-bottom:0px solid #ffa081}
.top-link ul ul li a{display: block; padding: 0px 15px; font-size: 13px; text-align: left;}
.top-link ul ul ul{left:100%;position:relative;z-index:1000;top:0px;}
.top-link ul ul ul li{width:200px;}

.top-link ul li:focus > ul,.top-link ul li:hover > ul{display:block}
.top-link ul li a:hover,.top-link ul li a:active{color:#fff;text-decoration:undeline;}
.top-link ul ul li:hover,.top-link ul ul li:active{color:#F67248;text-decoration:none!important;}
.top-link ul ul li a:hover,.top-link ul ul li a:active{color:#F67248;text-decoration:none!important;}
.settings a:hover,.settings a:active,.settings a:focus{color:#fff;text-decoration:underline;}
.sub-menu span{display:none;}
.settings a{font-size:14px;}
.banner-section {background-color:#FFFFFF; padding:3px; }
.profile-section {background-color:#26bdef14;}
.profile-box {padding: 20px 15px 31px 15px;}
.profile-section img {float: left;margin: 0px 4px 0px 0; width: 80px;height: 90px;background-color: #c4c4c4;padding: 2px;}
.profile-section h5 {font-size: 16px; color:#2a394d; margin: 5px 0 4px 0;line-height: 20px!important;}
.profile-section p {color:#5f5e5e;font-size: 12px;margin: 0px!important;line-height: 16px;}
.news-section {margin: 20px 0 22px; background-color:#FFFFFF; border:solid 1px #d2d2d2;}
.newheading {float:left; background-color:#0f2f55;font-size: 14px; width:11%; color:#b73532; line-height:22px; padding:12px 10px; text-transform:uppercase;}
.newheading a {color:#b73532; }
.news-container {border-left:solid 5px #f68353; margin-left:5px;width:87%; float:left;}
.marquee { position:relative; overflow:hidden; height:46px; line-height:45px; margin-left:10px; }
.marquee a { color: #8e8e8e; text-decoration: none; }
.marquee a:hover { text-decoration: underline; }
.marquee span {position:absolute;}
.folding-box {width:55%; margin:-5px auto 0px auto;}
.folding-corner-left {background:url(../images/commerce-bg-left.png) left top no-repeat; padding-left:56px;}
.folding-corner-right {background:url(../images/commerce-bg-right.png) right top no-repeat; padding-right:56px;}
.folding-box-container {background:url(../images/commerce-bg.png) left top repeat-x; text-transform:uppercase; color:#FFF; padding:8px 15px 17px 15px;}
.folding-corner-left-t {background:url(../images/transport-bg-left.png) left top no-repeat; padding-left:56px;}
.folding-corner-right-t {background:url(../images/transport-bg-right.png) right top no-repeat; padding-right:56px;}
.folding-box-container-t {background:url(../images/transport-bg.png) left top repeat-x; text-transform:uppercase; color:#FFF; padding:8px 15px 17px 15px;}
.folding-box-container h4 { font-size:150%; margin:0; font-size:200%; text-align:center;}
.folding-box-container-t h4 { font-size:150%; margin:0; font-size:200%; text-align:center;}
.box-section {margin: 15px 11px 15px 30px; padding-right:25px}
.row-box {margin-left:-10px; margin-right:-10px;}
.colm-1,.colm-2,.colm-3,.colm-4,.colm-5,.colm-6,.colm-7,.colm-8,.colm-9,.colm-10 {padding-left:5px; padding-right:5px; float:left; position:relative; text-align:center;}
.colm-1 {width:10%;}
.colm-2 {width:20%;}
.colm-3 {width:30%;}
.colm-4 {width:40%;}
.colm-5 {width:50%;}
.colm-6 {width:60%;}
.colm-7 {width:70%;}
.colm-8 {width:80%;}
.colm-9 {width:90%;}
.colm-10 {width:100%;}
.content-box,.content-box-v2 {margin:4px 0px; font-size: 98%; line-height:17px; color:#ffffff;padding: 10px 5px; display:block;font-weight: 300;}
.content-box img,.content-box-v2 img{display:block; margin:10px auto;}
.content-box {height:90px;}
.content-box-v2 {height:188px;}
.big-box {width:102%; height:94px;}
.big-box2 {width: 102%;height: 94px;}
.overlap-box {margin-left:-3px;}
.row-box .row {margin-left:-10px; margin-right:-10px;}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {padding-left:5px; padding-right:1px;}
.row-box .inner-row {margin-left:-5px; margin-right:-5px;}
.bg-orange{background:#FF835D;}
.bg-dr-brown{background:rgb(144, 92, 83)}
.bg-drbrown{ background: rgb(115, 72, 64);}
.bg-drorange {background:#F17249}
.icon-font-size{font-size:20px!important;}
.padding-5{padding: 5px 5px!important;}
.bottomarrow-box {position: relative;/*border-top: 1px solid #E16B47;border-left: 1px solid #E16B47;border-right: 1px solid #E16B47;*/ margin-bottom: 0px;border-left: 1px solid #935E55; border-top: 1px solid #935E55;border-right: 1px solid #935E55;}
.bottomarrow-box:after, .bottomarrow-box:before {top: 100%;left: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
.bottomarrow-box:after {border-color: rgba(241, 241, 241, 0);border-top-color:rgb(144, 92, 83);border-width: 5px;margin-left: -5px;}
.bottomarrow-box2 {position: relative;border-top: 1px solid #AEB04B;border-left: 1px solid #AEB04B;border-right: 1px solid #AEB04B; margin-bottom: 0px;}
.bottomarrow-box2:after, .bottomarrow-box2:before {top: 100%;left: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
.bottomarrow-box2:after {border-color: rgba(241, 241, 241, 0);border-top-color: #AEB04B;border-width: 5px;margin-left: -5px;}
.cut-corner-right {  position: relative;}
.cut-corner-right:before {content: ''; position: absolute;top: 0; right: 0; border-top: 5px solid #FFF;border-left: 5px solid transparent; width: 0;}
.cut-corner-left { position: relative;}
.cut-corner-left:before { content: ''; position: absolute;top: 0; left: 0;border-top: 5px solid #FFF; border-right: 5px solid transparent; width: 0;}
 h1, h2, h3, h4, h5, h6 { font-family: 'Conv_Roboto-Regular',arial, sans-serif;font-weight: 600;}
.border-blue {border:solid 2px #396caf;}
.border-ltblue {border:solid 2px #12a3c2;}
.border-green {border:solid 2px #5fa06d;}
.border-drgreen {border:solid 2px #558f88;}
.border-pink {border:solid 2px #b35bb6;}
.border-brown {border:solid 2px #d37951;}
.border-drbrown {border:solid 2px #c26161;}
.border-dryellow {border:solid 2px #cdb027;}
.border-ltorange {border:solid 2px #ff9e20;}
.border-cayan {border:solid 2px #15bcb2;}
.border-blue,.border-ltblue,.border-green,.border-drgreen,.border-pink,.border-brown,.border-drbrown,.border-dryellow,.border-ltorange,.border-cayan{border:none!important}
/* Css Added By BIkash on 23-04-2016 */
.header-left{padding-left:15px;margin-top: 8px;}
.header-right{padding-right:15px;}
.toggleMenu{display:none;background: #2A394D;color:#FFF; width:40px; text-align: center; position: absolute;z-index: 2;right: 15px;top: -55px;padding:10px 5px;}
.cmClass{background-color:#dcdcdc!important;}
/* Search */
.search {
    margin-top: 1px;
}
.margin-left20 {
    margin-left: 20px !important;
}
.pull-right {
    float: right;
}
#custom-search-input {
    padding: 0px;
    border: solid 1px #6597cf;
    border-radius: 0px;
    float: right;
}
#custom-search-input input {
    /*border: 0;
	border-radius: 0px;
    background: none;
    color: #6a9cd6;*/
    box-shadow: none;
    
}
<!--- page header-->
.page-header {
    padding-bottom: 0px;
    margin: 10px 0 10px;
    /* border-bottom: 1px solid #c7383d; */
}
/* End search */
/* SLIDER  */
#wowslider-container {position: relative; margin-bottom: 8px;}
#wowslider-container ul{position:relative;width: 10000%; height:auto;left:0;list-style:none;margin:0;padding:0;border-spacing:0;overflow: visible;}
#wowslider-container .ws_images ul li{width:1%;line-height:0; /*opera*/float:left;font-size:0;padding:0 0 0 0;margin:0 0 0 0;}
#wowslider-container .ws_images{position: relative;left:0;top:0;width:100%;height:100%;overflow:hidden;}
#wowslider-container .ws_images a{width:100%;display:block;color:transparent;}
#wowslider-container .ws_images img{width:100%;border:none 0; height:285px; max-width: none;}
#wowslider-container a{text-decoration: none;outline: none;border: none;}
#wowslider-container  .ws_bullets {font-size: 0px; 	float: left;position:absolute;z-index:70;}
#wowslider-container  .ws_bullets div{position:relative;float:left;}
#wowslider-container  a.wsl{display:none;}
#wowslider-container  .ws_bullets { padding: 10px; }
#wowslider-container .ws_bullets a {width:15px;height:15px;background: url(../images/bullet.png) left top;float: left; text-indent: -4000px;position:relative;margin-left:3px;color:transparent;}
#wowslider-container .ws_bullets a:hover{background-position: 0 50%;}
#wowslider-container .ws_bullets a.ws_selbull{background-position: 0 100%;}
#wowslider-container a.ws_next, #wowslider-container a.ws_prev {position:absolute;display:none;top:50%;margin-top:-50px;z-index:60;height: 100px;width: 60px;background-image: url(../images/arrows.png);}
#wowslider-container a.ws_next{background-position: 100% 0;right:0;}
#wowslider-container a.ws_prev {left:0;background-position: 0 0; }
* html #wowslider-container a.ws_next,* html #wowslider-container a.ws_prev{display:block}
#wowslider-container:hover a.ws_next, #wowslider-container:hover a.ws_prev {display:block}
#wowslider-container  .ws_bullets {top: 5px;right: 10px; display:none;}
#wowslider-container .ws_bullets .ws_bulframe {top: 20px;}
#wowslider-container .ws_bullets .ws_bulframe {top: 20px;}
#wowslider-container .ws-title{position: absolute;bottom: 10%;left: 7%;z-index: 50;padding:12px;color: #000000;background:#fff;font-family:Oswald,Impact,Charcoal,sans-serif;font-size: 30px;text-shadow: 1px 1px 1px #BBBBBB;line-height: 30px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;opacity:0.5;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);	}
#wowslider-container .ws-title div{font-size: 25px;text-shadow: 1px 1px 1px #000000;}
#wowslider-container ul{animation: wsBasic 12s infinite;-moz-animation: wsBasic 12s infinite;-webkit-animation: wsBasic 12s infinite;}
@keyframes wsBasic{0%{left:-0%} 16.67%{left:-0%} 33.33%{left:-100%} 50%{left:-100%} 66.67%{left:-200%} 83.33%{left:-200%} }
@-moz-keyframes wsBasic{0%{left:-0%} 16.67%{left:-0%} 33.33%{left:-100%} 50%{left:-100%} 66.67%{left:-200%} 83.33%{left:-200%} }
@-webkit-keyframes wsBasic{0%{left:-0%} 16.67%{left:-0%} 33.33%{left:-100%} 50%{left:-100%} 66.67%{left:-200%} 83.33%{left:-200%} }
#wowslider-container .ws_bullets  a img{text-indent:0;display:block;top:15px;left:-180px;visibility:hidden;position:absolute; -moz-box-shadow: 0 0 5px #999999;  box-shadow: 0 0 5px #999999;border: 5px solid #FFFFFF;max-width:none;}
#wowslider-container .ws_bullets a:hover img{visibility:visible;}
#wowslider-container .ws_bulframe div div{height:90px;overflow:visible;position:relative;}
#wowslider-container .ws_bulframe div {left:0;overflow:hidden;position:relative;width:246px;background-color:#FFFFFF;}
#wowslider-container  .ws_bullets .ws_bulframe{display:none;overflow:visible;position:absolute;cursor:pointer;-moz-box-shadow: 0 0 5px #999999;  box-shadow: 0 0 5px #999999; border: 5px solid #FFFFFF;}
#wowslider-container .ws_bulframe span{display:block;position:absolute;top:-11px;margin-left:-5px;left:123px;background:url(../images/triangle.png);width:15px;height:6px;}
/* END SLIDER  */
.mst-details{float: right;width: 71%;}
.newheading a{text-decoration:none;color:#fff;}
.newheading a:hover{color:#a2ccff;}
.padding-left{padding-left:30px;}
.bg-gray{background:#26bdef38;}
.other-con  { margin: 2px -20px 25px -11px;}
.padding-left-15{padding-left:15px;}

.padding-right-15{padding-right:5px;}
.other-important-liks-sec {margin: 15px 8px 20px 20px;padding: 0px 10px 10px 10px;}
.other-important-liks-sec h4,edispach-sec h4{margin-bottom:20px;}
.imp-link{/*padding: 7px 0px 5px 20px;border-bottom: 1px dashed #BBB9B9; background:url(../images/icon-arrow-right.png) no-repeat left center;margin-left: -9px;*/}
.imp-link a{color:#000;font-family: arial;font-weight: 500;padding: 5px 0px 4px 8px;background: #fff;margin-left: -5px;margin-bottom:5px;display: block; vertical-align: middle; -webkit-transform: translateZ(0);transform: translateZ(0);-webkit-backface-visibility: hidden;backface-visibility: hidden; -moz-osx-font-smoothing: grayscale;-webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s;transition-duration: 0.3s;border: 1px solid #dedcdc;}/* Shutter Out Horizontal */

.imp-link a:hover {
    color: #fff!important;
}
.imp-link a:before {content: "";position: absolute;z-index: -1; top: 0;bottom: 0;left: 0;right: 0;background:rgb(0, 48, 69); color:#fff;
-webkit-transform: scaleX(0); transform: scaleX(0);-webkit-transform-origin: 50%; transform-origin: 50%;-webkit-transition-property: transform;transition-property: transform;-webkit-transition-duration: 0.5s; transition-duration: 0.5s; -webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;}
.imp-link a:hover, .imp-link a:focus, .imp-link a:active,.imp-link a:hover .imp-link-logo img,.imp-link a:active .imp-link-logo img,.imp-link a:focus .imp-link-logo img {color: #020202;-webkit-filter: grayscale(0);-moz-filter: grayscale(0); -o-filter: grayscale(0); filter: none; opacity: 1;}
.imp-link a:hover:before, .imp-link a:focus:before, .imp-link a:active:before {-webkit-transform: scaleX(1);transform: scaleX(1);}
.imp-link a i{color:#F67248;font-size:15px;padding-right:7px;font-weight:600;}
.imp-link a:hover,.imp-link a:active{text-decoration:none}
.edispach-sec{margin: 15px 8px -10px 0px;  padding: 0px 10px 10px 10px;}
.e-con {padding: 10px 15px 10px 10px;}
.e-con a:hover,.e-con a:active{background:#F7450D!important;text-decoration:none}
.other-important-liks-sec h4 span a{font-size: 14px;text-decoration: underline;margin-top: 5px;color: #F67248;    margin-right: 15px;}
.other-important-liks-sec h4 span a:hover{color:#396CAF;}
.imp-link-logo{float:left;width:20%}
.imp-link a .imp-link-logo img{height: 40px;-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%); -o-filter: grayscale(100%);}
.imp-link a .link-address{width:72%;float:left;min-height:40px; display: block; vertical-align: middle;padding:10px 1px;}
ul, ol {list-style: none;}
/* Sweep To Right */
.hvr-sweep-to-right {width: 100%;display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0);
transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;
-moz-osx-font-smoothing: grayscale; position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
.hvr-sweep-to-right:before {content: "";width: 100%; position: absolute; z-index: -1; top: 0;left: 0;right: 0; bottom: 0;background: rgb(8, 8, 8);opacity: 0.1; -webkit-transform: scaleX(0); transform: scaleX(0);-webkit-transform-origin: 0 50%; transform-origin: 0 50%;-webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out;}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before { -webkit-transform: scaleX(1); transform: scaleX(1);color:#fff;}

.border-pink {width: 100%;display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0);
transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;background-color: #FCE7FD;
-moz-osx-font-smoothing: grayscale; position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
.border-pink:before {content: "";width: 100%; position: absolute; z-index: -1; top: 0;left: 0;right: 0; bottom: 0; background-color:rgba(179, 91, 182,1);); -webkit-transform: scaleX(0); transform: scaleX(0);-webkit-transform-origin: 0 50%; transform-origin: 0 50%;-webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out;}
.border-pink:hover:before, .border-pink:focus:before, .border-pink:active:before { -webkit-transform: scaleX(1); transform: scaleX(1);}

.border-drbrown {width: 100%;display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0);
transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;background-color:rgba(16, 186, 222, 0.52);
-moz-osx-font-smoothing: grayscale; position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
.border-drbrown:before {content: "";width: 100%; position: absolute; z-index: -1; top: 0;left: 0;right: 0; bottom: 0; background-color: #c26161; -webkit-transform: scaleX(0); transform: scaleX(0);-webkit-transform-origin: 0 50%; transform-origin: 0 50%;-webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out;}
.border-drbrown:hover:before, .border-drbrown:focus:before, .border-drbrown:active:before { -webkit-transform: scaleX(1); transform: scaleX(1);}

.border-drgray {width: 100%;display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0);
transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;background-color:rgba(245, 18, 18, 0.46);
-moz-osx-font-smoothing: grayscale; position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
.border-drgray:before {content: "";width: 100%; position: absolute; z-index: -1; top: 0;left: 0;right: 0; bottom: 0; background-color: rgba(142, 139, 132,1);; -webkit-transform: scaleX(0); transform: scaleX(0);-webkit-transform-origin: 0 50%; transform-origin: 0 50%;-webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out;}
.border-drgray:hover:before, .border-drgray:focus:before, .border-drgray:active:before { -webkit-transform: scaleX(1); transform: scaleX(1);}

.border-green {width: 100%;display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0);
transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;background-color: #E2FFE9;
-moz-osx-font-smoothing: grayscale; position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
.border-green:before {content: "";width: 100%; position: absolute; z-index: -1; top: 0;left: 0;right: 0; bottom: 0; background-color: rgba(95, 160, 109,1); -webkit-transform: scaleX(0); transform: scaleX(0);-webkit-transform-origin: 0 50%; transform-origin: 0 50%;-webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out;}
.border-green:hover:before, .border-green:focus:before, .border-green:active:before { -webkit-transform: scaleX(1); transform: scaleX(1);}

.border-drgreen {width: 100%;display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0);
transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;background-color:rgba(228, 235, 194,1);
-moz-osx-font-smoothing: grayscale; position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
.border-drgreen:before {content: "";width: 100%; position: absolute; z-index: -1; top: 0;left: 0;right: 0; bottom: 0; background-color: #93AD14; -webkit-transform: scaleX(0); transform: scaleX(0);-webkit-transform-origin: 0 50%; transform-origin: 0 50%;-webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out;}
.border-drgreen:hover:before, .border-drgreen:focus:before, .border-drgreen:active:before { -webkit-transform: scaleX(1); transform: scaleX(1);}

.border-ltblue {width: 100%;display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0);
transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;background-color:rgba(255, 169, 12, 0.62);
-moz-osx-font-smoothing: grayscale; position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}

.border-ltblues {width: 100%;display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0);
transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;background-color:rgba(255, 88, 204, 0.61);
-moz-osx-font-smoothing: grayscale; position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}

.border-ltblues {width: 100%;display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0);
transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;background-color:rgba(243, 12, 69, 0.78);
-moz-osx-font-smoothing: grayscale; position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
.border-ltblue:before {content: "";width: 100%; position: absolute; z-index: -1; top: 0;left: 0;right: 0; bottom: 0; background-color: rgba(18, 163, 194,1); -webkit-transform: scaleX(0); transform: scaleX(0);-webkit-transform-origin: 0 50%; transform-origin: 0 50%;-webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out;}
.border-ltblue:hover:before, .border-ltblue:focus:before, .border-ltblue:active:before { -webkit-transform: scaleX(1); transform: scaleX(1);}

.border-cayan {width: 100%;display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0);
transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;background-color: #EBFFFE;;
-moz-osx-font-smoothing: grayscale; position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
.border-cayan:before {content: "";width: 100%; position: absolute; z-index: -1; top: 0;left: 0;right: 0; bottom: 0; background-color: rgba(21, 188, 178,1); -webkit-transform: scaleX(0); transform: scaleX(0);-webkit-transform-origin: 0 50%; transform-origin: 0 50%;-webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out;}
.border-cayan:hover:before, .border-cayan:focus:before, .border-cayan:active:before { -webkit-transform: scaleX(1); transform: scaleX(1);}

.border-brown {width: 100%;display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0);
transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;background-color: rgba(255, 72, 9, 0.72);
-moz-osx-font-smoothing: grayscale; position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
.border-brown:before {content: "";width: 100%; position: absolute; z-index: -1; top: 0;left: 0;right: 0; bottom: 0; background-color:rgba(211, 121, 81,1); -webkit-transform: scaleX(0); transform: scaleX(0);-webkit-transform-origin: 0 50%; transform-origin: 0 50%;-webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out;}
.border-brown:hover:before, .border-brown:focus:before, .border-brown:active:before { -webkit-transform: scaleX(1); transform: scaleX(1);}

.border-yellow {width: 100%;display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0);
transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;background-color:rgba(79, 154, 177, 0.62);
-moz-osx-font-smoothing: grayscale; position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
.border-yellow:before {content: "";width: 100%; position: absolute; z-index: -1; top: 0;left: 0;right: 0; bottom: 0; background-color:#F9C728; -webkit-transform: scaleX(0); transform: scaleX(0);-webkit-transform-origin: 0 50%; transform-origin: 0 50%;-webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out;}
.border-yellow:hover:before, .border-yellow:focus:before, .border-yellow:active:before { -webkit-transform: scaleX(1); transform: scaleX(1);}

.border-gray{width: 100%;display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0);
transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;background-color: #8a7b7b;
-moz-osx-font-smoothing: grayscale; position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
.border-gray:before {content: "";width: 100%; position: absolute; z-index: -1; top: 0;left: 0;right: 0; bottom: 0; background-color:rgba(134, 134, 134,1); -webkit-transform: scaleX(0); transform: scaleX(0);-webkit-transform-origin: 0 50%; transform-origin: 0 50%;-webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out;}
.border-gray:hover:before, .border-gray:focus:before, .border-gray:active:before { -webkit-transform: scaleX(1); transform: scaleX(1);}




.border-shadow-greeen{width: 100%;display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0);
transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;background-color: #DDE4DC;
-moz-osx-font-smoothing: grayscale; position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
.border-shadow-greeen:before {content: "";width: 100%; position: absolute; z-index: -1; top: 0;left: 0;right: 0; bottom: 0; background-color:rgba(77, 111, 73,1); -webkit-transform: scaleX(0); transform: scaleX(0);-webkit-transform-origin: 0 50%; transform-origin: 0 50%;-webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out;}
.border-shadow-greeen:hover:before, .border-shadow-greeen:focus:before, .border-shadow-greeen:active:before { -webkit-transform: scaleX(1); transform: scaleX(1);}

.border-blue {width: 100%;display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0);
transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;background-color: rgba(15, 148, 99, 0.52);
-moz-osx-font-smoothing: grayscale; position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
.border-blueee {width: 100%;display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0);
transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;background-color: rgba(3, 75, 82, 0.61);
-moz-osx-font-smoothing: grayscale; position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
.border-blues {width: 100%;display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0);
transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;background-color: rgba(20, 17, 241, 0.35);
-moz-osx-font-smoothing: grayscale; position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
.border-blue:before {content: "";width: 100%; position: absolute; z-index: -1; top: 0;left: 0;right: 0; bottom: 0; background-color:rgba(57, 108, 175,1); -webkit-transform: scaleX(0); transform: scaleX(0);-webkit-transform-origin: 0 50%; transform-origin: 0 50%;-webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out;}
.border-blue:hover:before, .border-blue:focus:before, .border-blue:active:before { -webkit-transform: scaleX(1); transform: scaleX(1);}

.border-ltorange {width: 100%;display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0);
transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;background-color:rgba(187, 104, 0, 0.57);
-moz-osx-font-smoothing: grayscale; position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
.border-ltorange:before {content: "";width: 100%; position: absolute; z-index: -1; top: 0;left: 0;right: 0; bottom: 0; background-color:rgba(255, 158, 32,1); -webkit-transform: scaleX(0); transform: scaleX(0);-webkit-transform-origin: 0 50%; transform-origin: 0 50%;-webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out;}
.border-ltorange:hover:before, .border-ltorange:focus:before, .border-ltorange:active:before { -webkit-transform: scaleX(1); transform: scaleX(1);}

.bg-yellow {width: 100%;display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0);
transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;
-moz-osx-font-smoothing: grayscale; position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
.bg-yellow:before {content: "";width: 100%;    height: 100%; position: absolute; z-index: -1; top: 0;left: 0;right: 0; bottom: 0; background: rgb(8, 8, 8);opacity: 0.1; -webkit-transform: scaleX(0); transform: scaleX(0);-webkit-transform-origin: 0 50%; transform-origin: 0 50%;-webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out;}
.bg-yellow:hover:before, .bg-yellow:focus:before, .bg-yellow:active:before { -webkit-transform: scaleX(1); transform: scaleX(1);}

.bg-orange {width: 100%;display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0);
transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;
-moz-osx-font-smoothing: grayscale; position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
.bg-orange:before {content: "";width: 100%;    height: 100%; position: absolute; z-index: -1; top: 0;left: 0;right: 0; bottom: 0; background: rgb(8, 8, 8);opacity: 0.1; -webkit-transform: scaleX(0); transform: scaleX(0);-webkit-transform-origin: 0 50%; transform-origin: 0 50%;-webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out;}
.bg-orange:hover:before, .bg-orange:focus:before, .bg-orange:active:before { -webkit-transform: scaleX(1); transform: scaleX(1);}

.bg-dr-brown {width: 100%;display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0);
transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;
-moz-osx-font-smoothing: grayscale; position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
.bg-dr-brown:before {content: "";width: 100%;    height: 100%; position: absolute; z-index: -1; top: 0;left: 0;right: 0; bottom: 0;background: rgb(8, 8, 8);opacity: 0.1; -webkit-transform: scaleX(0); transform: scaleX(0);-webkit-transform-origin: 0 50%; transform-origin: 0 50%;-webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out;}
.bg-dr-brown:hover:before, .bg-dr-brown:focus:before, .bg-dr-brown:active:before { -webkit-transform: scaleX(1); transform: scaleX(1);}

   

.bg-drbrown:hover,.bg-drbrown:active,.bg-drorange:focus{background: rgb(115, 72, 64);opacity: 0.9;text-decoration:none;}
.bg-drorange:hover,.bg-drorange:active,.bg-drorange:focus{background:#FF6D3E;opacity: 0.9;text-decoration:none;}
.bg-dryellow:hover,.bg-dryellow:active,.bg-dryellow:focus{background:#b91807;opacity: 0.8;text-decoration:none;}

.border-blue:hover,.border-blue:focus, .border-blue:active,.border-pink:hover,.border-pink:focus, .border-pink:active,.border-drbrown:hover,.border-drbrown:focus, .border-drbrown:active,
.border-green:hover,.border-green:focus, .border-green:active,.border-drgreen:hover,.border-drgreen:focus, .border-drgreen:active,.border-ltblue:hover,.border-ltblue:focus, .border-ltblue:active,.border-cayan:hover,.border-cayan:focus, .border-cayan:active,.border-brown:hover,.border-brown:focus, .border-brown:active,.border-blue:hover,.border-blue:focus, .border-blue:active,.border-ltorange:hover,.border-ltorange:focus, .border-ltorange:active,.hvr-sweep-to-right:hover,.hvr-sweep-to-right:focus, .hvr-sweep-to-right:active,
.bg-yellow:hover,.bg-yellow:focus, .bg-yellow:active,.bg-orange:hover,.bg-orange:focus, .bg-orange:active,.bg-dr-brown:hover, .bg-dr-brown:focus, .bg-dr-brown:active ,.border-yellow:hover, .border-yellow:focus, .border-yellow:active,.border-gray:hover, .border-gray:focus, .border-gray:active,.border-drgray:hover, .border-drgray:focus, .border-drgray:active,.border-shadow-greeen:hover, .border-shadow-greeen:focus, .border-shadow-greeen:active  {text-decoration:none;color:#fff;}

.border-blue:hover i,.border-blue:focus i, .border-blue:active i,.border-pink:hover i,.border-pink:focus i, .border-pink:active i,.border-drbrown:hover i,.border-drbrown:focus i, .border-drbrown:active i,.border-green:hover i,.border-green:focus i, .border-green:active i,.border-drgreen:hover i,.border-drgreen:focus i, .border-drgreen:active i,.border-ltblue:hover i,.border-ltblue:focus i, .border-ltblue:active i,.border-cayan:hover i,.border-cayan:focus i, .border-cayan:active i,.border-brown:hover i,.border-brown:focus i, .border-brown:active i ,.border-blue:hover i,.border-blue:focus i, .border-blue:active i,.border-ltorange:hover i,.border-ltorange:focus i, .border-ltorange:active i,.hvr-sweep-to-right:hover i,.hvr-sweep-to-right:focus i, .hvr-sweep-to-right:active i,.bg-yellow:hover i,.bg-yellow:focus i, .bg-yellow:active i,.bg-orange:hover i,.bg-orange:focus i, .bg-orange:active i,.bg-dr-brown:hover i, .bg-dr-brown:focus i, .bg-dr-brown:active i,.border-yellow:hover i, .border-yellow:focus i, .border-yellow:active i,.border-gray:hover i, .border-gray:focus i, .border-gray:active i,.border-drgray:hover i, .border-drgray:focus i, .border-drgray:active i,.border-shadow-greeen:hover i, .border-shadow-greeen:focus i, .border-shadow-greeen:active i{text-decoration:none;color:#fff;}
.e-con h4{margin-bottom:5px;font-size:24px;}
.e-con p{font-size: 12px;font-weight: 500; font-family: arial;color: #484848}
.edispch-data-cons{padding: 10px 5px 0px 5px;border:1px solid #DEDCDC;background:#fff;margin-bottom: 10px;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden; backface-visibility: hidden;-moz-osx-font-smoothing: grayscale; position: relative; -webkit-transition-property: color;transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
.edispch-data-cons:before { content: "";position: absolute;z-index: -1;top: 0;left: 0;right: 0; bottom: 0;background: #f67248;-webkit-transform: scaleY(0);transform: scaleY(0);-webkit-transform-origin: 50% 100%; transform-origin: 50% 100%;-webkit-transition-property: transform;transition-property: transform;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-timing-function: ease-out; transition-timing-function: ease-out;}
.edispch-data-cons:hover, .edispch-data-cons:focus, .edispch-data-cons:active {color: #fff;}
.edispch-data-cons:hover p, .edispch-data-cons:focus p, .edispch-data-cons:active p {color: #fff;}
.edispch-data-cons:hover:before, .edispch-data-cons:focus:before, .edispch-data-cons:active:before {-webkit-transform: scaleY(1);transform: scaleY(1);}
.edispch-data-cons img{float:left;margin-left:10px;}
.padding-top-bottom{padding: 24px 10px 14px;}
.margin-top-6{margin-top:6px;}
.edispach-sec iframe{border: 0px; width: 100%;margin-top: 8px; margin-left: -5px;min-height: 174px;}

/* FOOTER CSS */
.footer{background:#fff;border-top:1px solid #D5D5D5;}
.footer-left,.footer-right{width:50%;float:left;}
.footer-left{padding:15px 0px;}
.footer-right{padding:10px 0px;}
.footer-nav{margin:0px;padding:0px;margin-bottom:5px;}
.footer-nav li{display:inline-block;list-style-type:none; margin: 0px;}
.footer-nav li a{font-family: 'Conv_Roboto-Regular',Arial,San-sarif;text-decoration:none;font-size:110%;color:#293A4C;line-height:16px;padding:0px 10px;}
.footer-nav li a:hover,.footer-nav li a:active{color:#FFCC66;}
.footer p{color:#5B5B5B;font-size:13px;font-weight:400;margin:0px;margin-left:10px;}
.address-section .social-links{margin:0px;padding: 0px 0px;margin-bottom:0px;margin-left: 63px;}
.address-section .social-links li{display:inline-block;list-style-type:none; margin: 0px;}
.address-section .social-links li a {width: 24px;display: block;font-family: 'Conv_Roboto-Regular',Arial,San-sarif;text-decoration: none;color: #ffffff;line-height: 15px;background: #293A4C;font-size: 14px;padding: 5px;text-align: center;border-radius: 0% 0px;margin-left: 0px;}
.address-section .social-links li a:hover,.address-section .social-links li a:active{color:#f67248;}
.footer-right p{font-size:14px;padding: 18px 10px;}
.footer-right p span{font-size:16px;color:#f67248;}
.bg-twiter{background-color:#32ccfe!important;}
.bg-fb{background-color:#4867aa!important;}
/* END FOOTER CSS */
h1{font-size: 26px;line-height: 30px;} 
h2{font-size: 24px;line-height: 28px;}
h3{font-size: 22px;line-height: 26px;}
h4{line-height:24px;font-size:20px;}
h5{font-size: 18px;line-height: 22px;}
h6{font-size: 16px;line-height: 20px;}
/*inner page Navigator  */
.page-navigator{padding: 5px 0px 5px 10px;background: url(./images/pagenavigator-bg.png);border-bottom: 1px solid #eee;box-shadow: 0px 0px 15px #C5C5C5;background-repeat: no-repeat; background-position: right top; background-attachment: fixed;}

.page-navigator h2{margin-top:10px;font-size: 20px;line-height: 25px;margin-bottom:0px;}
ul.breadcrumbs {float: right; margin-top: 13px; margin-right: 15px;}
ul.breadcrumbs li {font-family: 'Conv_Roboto-Regular', sans-serif; font-size: 14px; font-weight: 300; margin-left: 3px;color: #252525; float: left;}
ul.breadcrumbs li a:first-child { margin: 0;color:#f67248;}
ul.breadcrumbs li a{color: #666;font-weight: 600; transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-webkit-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;}
ul.breadcrumbs li a:hover{color:#252525;text-decoration:none;}
ul.breadcrumbs li:before { content: '/'; margin: 0 4px 0 2px;color: #bbb;}
ul.breadcrumbs li:first-child:before {content: ''; margin: 0;}
/* End inner page  Navigator */
.page-container{ background-color:#fff;padding:5px 0px 5px 0px;box-shadow: 0px 5px 15px #C5C5C5;}
.form-horizontal{padding: 15px 25px;}
.form-control,.btn { border-radius: 0px; }
.colon { text-decoration: none; float: left; margin: 6px 0px 0px -10px;}
 label{font-weight:400;margin-top:5px;}
 button, input, optgroup, select, textarea,textarea.form-control { color: inherit; font-weight:400;font-family:Arial, Helvetica, sans-serif;}
.mandatory {color: #f00;position: absolute;right: -6px;top: 6px;}
 textarea {resize: none;}
.right-pannel,.left-pannel{width:100%;height:100%;}
.left-pannel{border-right:1px solid #eee;}
.right-nav{margin-top:0px!important;padding:0!important;width:100%!important;margin-bottom: 0px!important; list-style-image:none!important;border: 1px solid #eee;border-right: none;}
.right-nav li{list-style-type:none!important;padding:4px!important;/*<!--border-left:4px solid #f67248;-->color:#00C!important;*/}
/*.right-nav li:last-child{border-bottom:0px solid #f67248!important}*/
.right-nav li a img{height:35px;margin-right: 4px;-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%); -o-filter: grayscale(100%); }
.right-nav li a span{width: 82%;float: right; padding: 4px 0px;line-height: 16px;}
.right-nav li a{padding-left: 5px!important; color:rgb(54, 67, 84)!important;line-height: 14px!important;font-size: 14px!important; text-decoration!important: none;font-family:'Conv_Roboto-Regular',Arial,San-sarif!important;/*background:url(../images/right-arrow-black.png)  no-repeat left center;*/display: block;padding: 2px 10px 10px;border-bottom: 1px solid #e4e4e4;}
.right-nav li:last-child a{border-bottom:none;}
.right-nav li a:hover,.right-nav li a:active,.right-nav li a:focus{color:#ff3e00!important;text-decoration:none;}
.right-nav li a:hover img,.right-nav li a:active img,.right-nav li a:focus img{color:#ff3e00!important;text-decoration:none;-webkit-filter: grayscale(0); -moz-filter: grayscale(0);-o-filter: grayscale(0); filter: none; opacity: 1;}
.right-nav ul{display: none; position: absolute;  background-color: #f9f9f9;  min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}
.right-pannel h4,.left-pannel h4{margin: 0px; padding: 10px 15px;color: #FFF;background:#f67349;font-weight: 400;/* border: 1px solid #A0A0A0; */line-height: 20px;font-size: 18px;border-bottom: 2px solid #F67248;margin-top: 0px;}
.imp-links-side h4 span{font-size:24px;}
.classic-title {margin-bottom: 10px!important;padding-bottom: 8px!important; border-bottom: 1px solid #eee!important; font-weight: 300!important;}
.classic-title span { padding-bottom: 8px!important;  border-bottom: 1px solid #f67248!important;font-weight: 400!important;}
.page-container p{font-size:16px;}
ul.icons-list {margin-bottom: 6px;list-style-image:none!important;padding:0px!important}
ul.icons-list li i { color: #f67248; font-size: 14px; margin-right: 4px;}
/* Web directory */
.page-data-container{padding:0px 5px 10px 0px;}
.profile-directory{margin-bottom:5px;border: 1px solid #DEDEDE;border-radius: 2px;    border-bottom: 2px solid #F9BDAB;}
.profile-contact-details {}
.profile-bottom-section{padding:1px;}
.profile-top-section{text-align:left;}
.img-section{text-align: center;padding: 10px 10px; width: 100%;border-right: 1px solid #DEDEDE;vertical-align:middle;background-color: #F2F2F2;}
.img-section img{height:105px;border-radius: 50px/15px;border: 3px solid rgba(255, 255, 255, 1);}
.profile-descriiption{padding: 5px 12px;height:120px;}
.profile-descriiption h4{margin-bottom: 5px;text-transform:uppercase;font-size: 11px!important;line-height: 14px!important;}
.profile-descriiption h3{font-size: 18px!important;line-height: 20px!important;}
.profile-contact-details{}
.profile-contact-details ul{margin-bottom:0px!important;margin-top: 0px;padding:0px!important;list-style-image:none!important;}
.profile-contact-details ul li{font-size:13px;font-family:Arial,San-sarif!important;}   
.profile-contact-details ul li i{color: #FD8A65;}
.profile-name-section{padding:5px;background:#F3F0F0;color:#000;border-top-left-radius:4px;border-top-right-radius:4px;}
.profile-name-section h6{ font-size: 14px;line-height: 18px;margin:3px;}
/* End web directory */
/* Left side navigation */
.page-sidebar{border-left: 3px solid #2558b4;padding: 0px 0px; background: #F0F0F0;max-height:600px}
/*.x-navigation-active{background:#5A5A5A;}*/
.x-navigation,
.x-navigation ul { width: 100%;padding: 0px;margin: 0px;float: left;list-style: none;display: block;z-index: 3;font-family:'Conv_Roboto-Regular',Arial,San-sarif;}
.x-navigation {background-color:#154277;height:auto;list-style-image:none!important;padding:0px!important}
.x-navigation li {float: left;display: block;width: 100%;padding: 0px;margin: 0px!important;position: relative;}
.x-navigation li > a {display: block;float: left; width: 100%;line-height: 19px;color: #FFF!important;font-size: 13px;font-weight: 400;padding: 10px 10px 10px 5px;text-decoration: none;border-bottom: 1px solid #285b98;vertical-align: text-bottom;font-size:13px!important;font-family: sans-serif;}
.x-navigation li > a .fa,
.x-navigation li > a .glyphicon {color: #c6dfff;text-align: center; width: 20px;font-size: 14px;
margin-right: 5px;vertical-align: baseline;-webkit-transition: color 200ms ease;-moz-transition: color 200ms ease;-ms-transition: color 200ms ease;-o-transition: color 200ms ease;
transition: color 200ms ease;}
.x-navigation li > a:hover,.x-navigation li > ul li > a:hover {background:#285b98;color:#F67248;-webkit-transition: all 200ms ease;-moz-transition: all 200ms ease;-ms-transition: all 200ms ease;-o-transition: all 200ms ease;transition: all 200ms ease;}
.x-navigation li > a:hover .fa,.x-navigation li > a:hover .glyphicon {color: #fff;}
.x-navigation li > ul {background-color:rgb(232, 242, 254);max-height: 0px;-webkit-transition: all 200ms ease;-moz-transition: all 200ms ease;-ms-transition: all 200ms ease;-o-transition: all 200ms ease;transition: all 200ms ease;overflow: hidden;}
.x-navigation li > ul li > a {font-size: 12px;line-height: 19px;font-weight: 400;padding: 8px 10px;border-bottom: 1px dashed #b9b8b8;color:rgb(48, 109, 184)!important;}
.x-navigation li > ul li.active > a {background:#FFF;color: #ffffff;}
.x-navigation li.xn-openable:before {position: absolute; font-family: "FontAwesome";content: "\f101"; font-size: 16px;  width: 20px; height: 20px;color: #a8cfff;right: 3px;top: 12px;cursor: pointer;}
.x-navigation li.active.xn-openable:before {content: "\f103";}
.x-navigation li.active > a {background:rgb(38, 101, 180);color:#fff;-webkit-transition: all 500ms ease;-moz-transition: all 500ms ease;-ms-transition: all 500ms ease;-o-transition: all 500ms ease;transition: all 200ms ease;}
.x-navigation li.active > a .fa,.x-navigation li.active > a .glyphicon {color: #fff;}
.x-navigation li.active > ul {max-height: 1200px;padding:0px!important}
.x-navigation > li.xn-openable:before {top: 10px;}
.x-navigation > li > ul > li > a {padding-left:0px;}
.x-navigation > li > ul > .xn-openable a{padding-left:0px;}
.x-navigation > li > ul > li > a:hover {padding-left: 0px;color:#fff!important;border-bottom: 1px solid #4583d0;}
.x-navigation > li > ul > li > a:hover .icon-class{color:#fff!important}
.x-navigation li > ul > li.xn-openable:before {position: absolute; font-family: "FontAwesome";content: "\f105"; font-size: 20px;  width: 20px; height: 20px;color: #939393;right: 3px;top: 8px;cursor: pointer;}
.x-navigation li > ul > li.active.xn-openable:before {content: "\f107";}
.x-navigation > li > ul > li.active > a {padding-left: 0px;}
.x-navigation > li > ul > li.active a:hover {color:#f67248!important;border-bottom: 1px dashed #b9b8b8;}
.x-navigation > li > ul > li.active a:hover .icon-class{color:#f67248!important;}
.x-navigation > li > ul > li > ul > li > a {padding-left: 40px!important;background-color:#eee!important;}
.x-navigation > li > ul > li.active > ul > li a:hover {padding-left:40px;color:#f67248!important;}
.x-navigation > li > ul > li > ul > li.active a:hover {padding-left:40px;color:#f67248!important;}
.x-navigation > li > ul > li > ul > li.active > a {padding-left: 40px;}
.x-navigation > li:last-child > a {-moz-border-radius: 0px 0px 0px 5px;-webkit-border-radius: 0px 0px 0px 0px; border-radius: 0px 0px 0px 0px;border-bottom: 0px;}
.x-navigation > li > ul > li > a > .icon-class{    padding-left: 8px;font-size: 15px;padding-right: 10px;font-weight: 500; color: #928f8f;display: block; width: 14%;float: left;padding: 3px 30px 3px 10px;}
.xn-openable a{padding-left:5px;}

.xn-text{width:80%;folat:left;}

/* End Left side navigation */

/* inner page design */
.page-data-container h1,h2,h3,h4,h5,h6{margin:0px;padding:0px;margin-bottom:10px;margin-top: 5px;}
.page-data-container h1{font-size: 22px;line-height: 26px;}
.page-data-container h2{font-size: 20px;line-height: 24px;}
.page-data-container h3{font-size: 18px;line-height: 22px;}
.page-data-container h4{font-size: 16px;line-height: 20px;color:#4A4949;}
.page-data-container h5{font-size: 14px;line-height: 18px;}
.page-data-container h6{font-size: 13px;line-height: 16px;}
.page-data-container p{font-size: 14px;font-weight: 500; font-family:sans-serif; line-height: 22px;word-break: break-word;;margin-bottom:10px;color: #4C4C4C;}
.page-data-container ul {padding-left:30px;list-style-type: none; list-style-image:url(../images/keyboard-right-arrow.png);}
.page-data-container ul li{padding:0px; color: #636261;font-family:"Arial",sans-sarif;line-height: 24px;}
.page-data-container ul li a,.page-data-container ol li a{text-decoration: none;color: #0E0E0E;}
.page-data-container ul li a:hover,.page-data-container ol li a:hover{text-decoration: none;color:#F67248;}
.page-data-container ul li ul{padding-left: 20px;list-style-type: none;list-style-image:url(../images/list-right-arrow.png);}
.page-data-container ol{padding-left: 20px;list-style-type: none;list-style-type:decimal;font-family:"Arial",sans-sarif;}
.page-data-container ol li ol{padding-left: 20px;list-style-type: none;list-style-type:lower-alpha;}
.page-data-container table{ width: 100%;margin-bottom: 10px;background-color: transparent;border-collapse: collapse; border-spacing: 0;border: 1px solid #ddd;overflow-y: hidden; overflow-x: scroll;overflow: hidden;}
.page-data-container table tr th{padding: 8px;line-height: 1.42857143;vertical-align:middle;border: 1px solid #ddd;background-color:#eee;font-size:13px;}
.page-data-container table tr td{padding: 6px;line-height: 1.7;vertical-align:middle;border: 1px solid #ddd;color:#6D6D6D;font-family:"Arial",sans-sarif;font-size: 12px;}
.page-data-container table tr td a{color: #428BCA;font-weight: 500;}
.page-data-container table tr td a i{font-size:18px;color:#F17B55;}
.page-data-container table tr td a:hover{color:#EF4F1D;text-decoration:none;opacity: 0.8;}
.page-data-container table tr td a i:hover{color: #888388;}
.page-data-container table tr td img{border:0px!important;box-shadow:0px 0px 0px #fff!Important;margin-top:0px!important;}
.page-data-container img{/*width: 260px!important;*/border: 4px solid #f0f0f0;box-shadow: 0px 0px 2px #9a9a9a;margin-top: 10px;}
.img-right{float:right;margin-left:10px;margin-left: 20px;margin-bottom: 10px;}
.img-left{float:left;margin-right:20px;margin-bottom: 10px;}
/* End inner page design */    
.box-section i{font-size:26px;margin:5px;}
.nav-tabs { border-bottom: 1px solid #0f2f55;padding-left:0px!important;}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {color: #1b6ccc!important;background-color: #ffffff;border: 1px solid #1a3c68;border-bottom-color: transparent;cursor: default;}
.nav-tabs>li>a {margin-right: 2px;line-height: 1;border: 1px solid #1a3c68;border-radius:0px;color: #FFF!important;font-weight:600;background: #1a3c68;}
.nav-tabs>li>a>.fa{font-size:15px;}
.nav-tabs>li>a:hover {border: 1px solid #0f2f55;color: #F67248!important;}
.tab-content{margin-top: 5px;}
/*Error Page */
.error-page-container {position:fixed;top: 20%;left: 40%;padding: 15px;border: 1px solid #F67248; }  
.error-page-container h1{font-size: 15em;color:#E6E9EA;line-height: 180px; }
.error-page-container p{font-size: 1.8em;text-align: center; color: #F75D2D;margin: 10px 0;}
hr.hr-style-404 {border: 0;height: 1px;width: 100%;background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(246, 114, 72), rgba(0, 0, 0, 0));}
/*End Error Page */

.imp-links-container{padding:2px 0px 2px 3px;}
.imp-links-container .imp-link{padding: 10px 10px 10px 10px!important;border-bottom: none!important; background:#E4DFDE; border-left: 3px solid #F67248; margin: 2px 2px 2px 2px;}
.imp-links-container .imp-link:first-child{margin: 2px 2px 2px 0px;}
.imp-links-container .imp-link a{padding-left: 15px;font-weight: 600;font-size: 14px;color: #333;}
.imp-links-container .imp-link:hover a,.imp-links-container .imp-link:focus a{color:#F67248;}
.site-link{padding:5px 20px;background:rgba(25, 39, 58, 0.68);margin-top: 5px;margin-left:5px;color:#fff;margin-right:1px;text-decoration: none;line-height: 16px;font-size: 13px;font-weight: 400;border: 1px solid #1e4675;text-transform:uppercase;}
.site-link:hover,.site-link:focus{text-decoration:none;color:#F90}
.line-devider{line-height: 20px;font-size: 16px; color: #ffffff!important;}
.imp-links-side{margin-top:8px;}

.lightboxcontainer {width: 100%;text-align: left;}
.lightboxleft {width: 40%;float: left;}
.lightboxright {width: 60%;float: left;}
.lightboxright iframe {min-height: 390px;}
.divtext {margin: 36px;}
.search-div{background: #F2F2F2;border-radius: 2px;padding: 10px;margin-left: 5px;margin-right:10px; margin-bottom: 5px;border: 1px solid #DEDEDE;}
.gallery-container{padding: 7px 13px;}
.gallery,.gallery-category {position: relative;width:100%;padding: 0px;}
.gallery figure, .gallery-category figure{position: relative;float: left;overflow: hidden;margin: 3px 1%;min-width: 100%;width:100%;background:#F67248;cursor: pointer;border: 1px solid #b1b0af;height: 187px;}
.gallery figure img, .gallery-category figure img{position: relative;display: block;height:auto;max-width: 100%;opacity: 0.8;}
.gallery figure figcaption , .gallery-category figure figcaption{padding: 1.5em;color: #fff;font-size: 1.25em;-webkit-backface-visibility: hidden;backface-visibility: hidden;}
.gallery figure figcaption::before,.gallery-category figure figcaption::before,.gallery-category figure figcaption::after,
.gallery figure figcaption::after {pointer-events: none;}
.gallery figure figcaption,.gallery-category figure figcaption,.gallery-category figure figcaption > a
.gallery figure figcaption > a {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.gallery figure h2,.gallery-category figure h2 {word-spacing: -0.15em;font-weight: 300;}
.gallery figure h2 span,.gallery-category figure h2 span {font-weight: 700;}
.gallery figure h2,gallery-category figure h2,gallery-category figure p
.gallery figure p {margin: 0;}
.gallery figure p,gallery-category figure p{letter-spacing: 1px;font-size: 75%;}
.gallery-category figure img{height: 185px!important;}
/*---------------*/
/***** Milo *****/
/*---------------*/

figure.effect-milo {background: #2e5d5a;}
figure.effect-milo img {max-width: none;width: -webkit-calc(100% + 60px);width: calc(100% + 60px);opacity: 1;-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;transition: opacity 0.35s, transform 0.35s;-webkit-transform: translate3d(-30px,0,0) scale(1.12);transform: translate3d(-30px,0,0) scale(1.12);-webkit-backface-visibility: hidden;backface-visibility: hidden;}
figure.effect-milo:hover img {opacity: 0.5;-webkit-transform: translate3d(0,0,0) scale(1);transform: translate3d(0,0,0) scale(1);}
figure.effect-milo h2 {position: absolute;right: 0;bottom: 0; padding: 0.5em 1em;width: 100%;text-align: right;background: rgba(0, 0, 0, 0.66);font-size:18px;word-spacing: 2px;}
figure.effect-milo p {padding: 10px 10px 0 0;width: 100%;text-align: center;opacity: 0;-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;transition: opacity 0.35s, transform 0.35s;-webkit-transform: translate3d(-40px,0,0);transform: translate3d(-40px,0,0);}
figure.effect-milo p span i{font-size: 20px; margin-left: 5px;  padding: 10px; background: rgba(0, 0, 0, 0.53); border-radius: 2px;margin-top:20px;}
figure.effect-milo:hover p {opacity: 1;-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}

/*---------------*/
/***** Roxy *****/
/*---------------*/

figure.effect-roxy {background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);}
figure.effect-roxy img {max-width: none;width: -webkit-calc(100% + 60px);width: calc(100% + 60px);-webkit-transition: opacity 0.35s, -webkit-transform 0.35stransition: opacity 0.35s, transform 0.35s;-webkit-transform: translate3d(-50px,0,0);transform: translate3d(-50px,0,0);}
figure.effect-roxy figcaption::before {position: absolute;top: 25px;right: 25px;bottom: 50px;left: 25px;content: '';opacity: 0;-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;transition: opacity 0.35s, transform 0.35s;-webkit-transform: translate3d(-20px,0,0);transform: translate3d(-20px,0,0);background-color:rgba(0, 0, 0, 0.61);}
figure.effect-roxy figcaption {padding: 3em;text-align: left;}
figure.effect-roxy h2 {text-align: center;padding: 20% 0 10px 0;}
figure.effect-roxy p {opacity: 0;-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;transition: opacity 0.35s, transform 0.35s;-webkit-transform: translate3d(-10px,0,0);transform: translate3d(-10px,0,0);    text-align: center;padding: 10%;}
figure.effect-roxy p span i{font-size:25px;}
figure.effect-roxy:hover img {opacity: 0.7;-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
figure.effect-roxy:hover figcaption::before,
figure.effect-roxy:hover p {opacity: 1;-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}

/*---------------*/
/***** Goliath *****/
/*-----------------*/
.img-padding{padding: 8px 15px}
figure.effect-goliath {background: #F67248;}
figure.effect-goliath img,
figure.effect-goliath h2 {-webkit-transition: -webkit-transform 0.35s;transition: transform 0.35s;}
figure.effect-goliath img {-webkit-backface-visibility: hidden;backface-visibility: hidden;}
figure.effect-goliath h2{position: absolute;bottom: -10px;left: 0; padding: 10px 10px;background: rgba(0, 0, 0, 0.58);width: 100%;text-align:center;font-size: 16px;}
figure.effect-goliath h2 span i{padding: 5px 10px;background: rgba(246, 114, 72, 0.78);border-radius: 1px;font-size: 16px;font-weight: 400;margin-left: 10px;}
figure.effect-goliath p {position: absolute;bottom: 0;left: 0;padding:5px;}
figure.effect-goliath p {text-transform: none;font-size: 90%;opacity: 0;-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;transition: opacity 0.35s, transform 0.35s;-webkit-transform: translate3d(0,50px,0);transform: translate3d(0,50px,0);width: 100%;text-align: center;}
figure.effect-goliath:hover img {-webkit-transform: translate3d(0,-50px,0);transform: translate3d(0,-50px,0);}
figure.effect-goliath:hover h2 {-webkit-transform: translate3d(0,-50px,0);transform: translate3d(0,-50px,0);}
figure.effect-goliath:hover p {opacity: 1;-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}

/*-----------------*/
/*---------------*/
.imp-links-container ul li{padding: 8px; line-height: 10px;font-size:14px;}
.panel { margin-bottom: 20px; background-color: #fff;  border: 1px solid rgba #F00;border-radius: 0px;}
.panel-group .panel{border-radius:0px;}
.panel-title a:hover,.panel-title a:active,.panel-title a:focus{text-decoration:none;}
.sitemap-div ul {}
.sitemap-div ul li{width: 32%;float:left;margin-left:5px;padding: 5px 10px;margin-bottom:5px; background-color: #FBF8F8;border-bottom: 1px solid #FFDDDD; }
.sitemap-div ul li ul{padding-left:0px;list-style-type:square!important;}
.sitemap-div ul li ul li{float:none;display:block;width:100%;margin-bottom: 0px;list-style-type:square!important;      border-bottom: 1px solid #FBE3E3;}
.sitemap-div ul li ul li:last-child{border-bottom: 0px solid #FBE3E3;}
.sitemap-div ul li ul li a{width: 100%;padding: 0 0 0 20px;font-size: 13px;outline: none; font-weight: 400;background: url("../images/keyboard-right-arrow.png") no-repeat 0px 3px; margin: 0.3em 0;font-family: 'Roboto', sans-serif;}
.sitemap-div ul li a:hover{color:#F67248;text-decoration:none;}
.page-data-container .panel-body  table{margin-bottom:0px!important}
.panel-title { font-size: 16px; color: inherit;font-weight:400}
.panel-default>.panel-heading a{color:#666;}
.panel-body p{font-weight:400;font-size:14px;font-family: sans-serif;}
.panel-default>.panel-heading a:hover,.panel-title a:active{text-decoration:none;}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {color: rgb(246, 114, 72)!important;background-color:none!important;border-color: rgb(246, 114, 72)!important;}
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a{border-color: rgb(246, 114, 72);}
.pagination>.disabled>a:hover, .pagination>.disabled>a:focus { color: #FFF;border-color: rgb(246, 114, 72);}
.pagination {display: inline-block;padding-left: 0!important;margin: 20px 0;border-radius: 4px;}
.pagination>li>a, .pager>li>a { border-width: 1px;border-color: rgb(246, 114, 72);border-radius: 0 !important;color: #EF3900;}
.pagination>li.active>a{    background-color: #F3754D!important; border-color: #F67248!important;color: #fff;text-shadow: 0 -1px 0 rgba(0,0,0,0.25);z-index: 2;}
.pagination>li.active>a:hover {color:#fff!important}
.norecord-div {width: 100%;text-align: center;font-size: 22px;padding: 22px;color: #D6D2D2;}
.port-details{border: 1px solid #E2E1E1;padding: 10px;box-shadow: 1px 0px 10px #D4D4D4;    margin-bottom: 10px;}
.zoomin img { height: 200px; width: 200px; -webkit-transition: all 2s ease; -moz-transition: all 2s ease; -ms-transition: all 2s ease; transition: all 2s ease; } 
.zoomin img:hover { width: 300px; height: 300px; }
.btn-back {font-size: 20px;margin-top:5px;background-color: #5f3e3e;margin-right:5px; color: #FFF;width: 25px;height: 25px;line-height: 23px;text-align: center;}
#backGalley a:hover,#backGalley a:active{color:#f67248;}
.tooltip-inner { background-color: #000;color: #fff;font-family: arial;border-radius:0px;padding:5px;}
.edispach-sec h4{margin-bottom:6px!important;padding-right: 12px;}
.edispach-sec >.tab-content {margin-top: 0px;}
.edispach-sec >.nav-tabs {border-bottom: 1px solid #1a3c68;padding-left: 0px!important;margin-right: 10px;}
.black-div{height: 198px;}
.address-section {
     height: 46px;
     transition: top 0.2s ease-in-out;
     width: 100%;
}

.nav-up {
    top: -35px;
}
@media (max-width: 800px) {
.lightboxleft {width: 100%;}
.lightboxright {width: 100%;}
.divtext {margin: 12px;}
}

@media screen and (max-width: 1050px) {
.container {width: 1000px;}
.logo{height:65px;}
.top-link{margin-top:2px;}
.black-div {height: 10px;}
.content-box, .content-box-v2 {font-size: 100%;word-break:break-wordg; hyphen: auto; -ms-hyphens: auto;-moz-hyphens: auto;padding:2px 0px;}
.profile-box h5 {font-size: 16px;margin: 8px 0 3px 0;}
.profile-section p {font-size: 12px;    }
.newheading { width: 13%;}
.news-container {width:85%;}
.folding-box {width: 70%;}
.imp-link a {font-size: 12px;}
.e-con h4 {font-size: 20px;}
.e-con p { font-size: 10px;}
.padding-top-bottom { padding: 20px 10px 18px;}
.box-section {margin: 15px 8px 15px 20px; padding-right: 15px;}
.margin-left0 {margin-left: -5px !important;}
.edispch-data-cons img{float:left;margin-left:10px;}
.profile-contact-details ul li {font-size: 11px;line-height: 16px;}

.profile-contact-details{margin-top: 0px;}
.error-page-container {left: 35%; }
.site-link { margin-top: 2px;}
.gallery figure figcaption{padding:1em;}
.gallery figure img{height:200px;}
figure.effect-roxy figcaption::before {top: 15px;right: 15px;bottom: 70px;left:15px;}
figure.effect-roxy:hover p {padding:10px;}
figure.effect-roxy h2 {padding: 15% 0 10px 10px;}
figure.effect-roxy p span i {margin-top: 30px;}
.profile-descriiption { padding: 12px 12px;}
.profile-descriiption h4 {font-size:10px!important;}
.profile-descriiption h3 {font-size: 14px!important;line-height: 16px!important;}
.footer-left{width:70%;}
.footer-right{width:30%}
.imp-link-logo { float: left; width: 24%; margin-right: 5px;}
.imp-link a .imp-link-logo img {height: 50px;}
.imp-link a { padding: 11px 0px 1px 10px;}
.edispach-sec iframe {  width: 103%;  margin-left: -10px;min-height: 170px;}   
.edispach-sec {padding: 0px 20px 10px 0px;}
.profile-section img {width: 65px; height: 70px;}
.mst-details { width:70%;}
.profile-box {   border-bottom: 1px solid #dcdcdc;}
}


@media screen and (max-width: 770px) {
.cm-img{display:none;}
.container { width: 750px;}
.toggleMenu:focus{color:#fff;}
.toggleMenu:hover,.toggleMenu:active{color:#F67248;}
.top-link{display:none; margin-top: 0px;}   
.top-link ul{ width: 30%; padding-left: 0px;position: absolute; z-index: 2;right: 15px; top: -8px; background: #2A394D;}
.top-link ul li{float: none;border-right: none;padding: 2px 0px;margin: 0 0 0 1px;border:none;width:100%;}
.top-link ul li a{display: block; border-bottom: 1px solid #565555;padding: 6px 15px; font-size: 13px; text-align: left;}
.top-link ul ul{display:none;position: relative;border-left:none;width:99%;border:none;border-left:none!important;}
.top-link ul li ul li{width:100%;border-bottom:none}
.top-link ul ul li a{display: block; padding: 6px 10px 6px 15px;}
.top-link ul ul ul{left:100%;position:relative;z-index:1000;top:0px;}
.top-link ul ul ul li{width:99%;}
.top-link ul li:hover > ul{display:none}
.site-link{display:none}
.sub-menu span{display:block;float:right;}
.top-link ul li a:hover,.top-link ul li a:active{color:#F67248;text-decoration:none;}
.settings{}
.setting-items{display:none;}
.profile-section img { width: 55px; height: 55px;}
.profile-box {padding: 6px 2px 0px 2px;}
.profile-section h5 { font-size: 12px;}
.profile-section p { font-size: 9px;}
.padding-left{padding-left:16px;}
.margin-left0 { margin-left: 20px !important;}
.other-con {margin-top: 0px;}
.imp-link{width:100%;}
.imp-link a {font-size: 13px;}
.e-con h4 {font-size: 24px;}
.newheading {width: 17%;}
.news-container { width: 78%;}
.padding-left-15 { padding-left: 5px;}
.padding-right-15 { padding-right: 5px;}
.e-con p { font-size: 11px;}
.border-top-1{border-top:1px solid #F1F1F1;}
.content-box, .content-box-v2 {font-size: 100%;line-height: 13px; word-break: keep-all;padding:5px;}
.page-navigator{text-align:center;padding: 0px 0px 5px 10px;}
ul.breadcrumbs{float:none;margin-top: 15px;}
ul.breadcrumbs li {font-size: 18px;margin-bottom: 5px;}
.colon{display:none;}
.page-navigator h2{display:none;}
.cut-corner-left:before,.cut-corner-right:before{border-top:none;}
.bottomarrow-box:after, .bottomarrow-box:before,.bottomarrow-box2:after, .bottomarrow-box2:before {border:none!important;}
.error-page-container {left: 28%; }
#wowslider-container .ws_bullets {top: 1px;right: 0px;}
#wowslider-container .ws_bullets {padding: 1px;}
.form-group {margin-bottom: 5px;}
.left-pannel{min-height:auto!important;border:none;}
.page-data-container {padding: 5px 0px 10px 0px;}
.gallery figure figcaption{padding:3em;}
.gallery figure img { height: 240px;}
figure.effect-roxy figcaption::before {top: 30px;right: 30px;bottom: 70px;left:30px;}
figure.effect-roxy:hover p {padding:10px;}
figure.effect-roxy h2 {padding: 15% 0 10px 10px;}
.gallery-category figure img {width:100%;}
.imp-links-side { margin-bottom: 13px;}
.right-border {border-right: solid 0px #d9d6d6;}
.profile-section img {margin: 0px 4px 0px 0;}
.profile-section h5 { margin: 3px 0 2px 0;}
.big-box2 {width: 102%;}
.edispach-sec iframe {min-height: 325px;   background-color: white;}
}
@media screen and (max-width:648px) {
.container { width: 100%;}
.profile-left-15{padding-left:20px!important;}
.margin-bottom-10{}
.top-link ul{ width: 35%;}
.profile-box {padding: 12px 10px 10px 10px;}
.profile-section img { width: 75px; height:75px;}
.profile-section h5 {  margin: 10px 0 5px 0;font-size: 20px;}
.padding-left {padding-left: 20px;}
.profile-section p { font-size: 13px;}
.newheading {font-size: 95%; padding: 8px 10px;}
.marquee { height: 38px;line-height:40px;}	
.colm-8,.colm-6,.colm-2,.colm-4{width: 100%;}
.margin-right0 { margin-right: 0px !important;}
.edispach-sec { margin: 15px 8px 0px 15px;}
.big-box {width: 100%;    height: 85px;}
.margin-top30 { margin-top: 10px !important;}
.margin-bottom35 {margin-bottom: 10px !important;}
.content-box-v2 { height: 90px;}
.overlap-box {margin-left: 1px;}
.row-box .inner-row { margin-left: 0px;}
.margin-left-m5{margin-left:-5px!important;}
.margin-top0 {margin-top: 10px !important;}
.margin-bottom25 { margin-bottom: 10px !important;}
.right-border{border:none;}
.content-box, .content-box-v2 {font-size: 115%;}
.edispch-data-cons img{float:none;margin-left: 0px;}
.padding-top-bottom { padding: 15px 10px 0px;}
.e-con p { font-size: 13px;}
.page-navigator{text-align:center;padding: 0px 0px 5px 10px;}
ul.breadcrumbs{margin-top:15px;}
ul.breadcrumbs li {font-size:16px;}
.img-section img {height:80px;}
.img-section {border-right:0px solid #eee!important;;}
.profile-contact-details {width: 100%;}
.profile-contact-details ul li {font-size: 13px;}
.profile-contact-details ul { margin-top: 10px;}
.margin-top35, .margin-top50{margin-top:10px !important;}
.error-page-container {left: 25%; }
.box-section{margin-bottom:30px;}
.gallery figure figcaption{padding:5em;}
.gallery figure img { height: 300px;}
figure.effect-roxy figcaption::before {top: 50px;right: 50px;bottom: 80px;left:50px;}
figure.effect-roxy:hover p {padding:10px;}
figure.effect-roxy h2 {padding: 15% 0 10px 10px;}
.gallery-category figure img {height: 300px!important;width:100%;}
.profile-descriiption {text-align:center}
.margin-top40 { margin-top: 10px !important;}
.other-important-liks-sec { margin: 15px 15px 20px 20px;}
.big-box2 {width: 100%;}
.sitemap-div ul li {width: 48%;}
.footer-right ul{float:none!important;text-align:right}
.footer-right p { padding: 0px 10px; margin-top: -15px;}
.edispach-sec iframe {min-height: 170px;}
.mst-details { width: 84%;}
}
@media screen and (max-width:480px) {
.container { width: 100%;}
.logo{height: 45px!important;}
.toggleMenu{ width: 35px; right: 15px;top: -40px;  padding: 8px 5px;}	
.top-link ul {width: 45%;right: 15px; top: 5px;}	
.black-div {  height: 10px;}
.profile-section img { width: 65px; height:65px;}
.profile-section h5 {  margin: 10px 0 2px 0;font-size: 16px;}
.profile-section p { font-size: 12px;}
.newheading { width: 25%;}
.news-container {width: 65%;}
.cut-corner-left:before{border-right:none!important;}
 ul.breadcrumbs { margin-top: 15px;}
.other-important-liks-sec { margin: 15px 10px 20px 17px;}
.error-page-container {left: 15%; }
 figure.effect-roxy h2 {padding: 24% 0 10px 10px;}
.box-section{margin-bottom:30px;}
.profile-contact-details ul {margin-top: 10px;}
.gallery-category figure img {height: 270px!important;}
.footer-left{width:100%;text-align:center}
.footer-right{width:100%;text-align:center}
.footer-right ul{float:none!important;text-align:center}
.edispach-sec iframe {min-height: 170px;overflow-x: hidden;
overflow-y: scroll;}
.mst-details { width: 80%;}
}

@media screen and (max-width:365px){
.other-important-liks-sec { margin: 8px 2px 10px 8px;}
.top-link ul {width: 50%;right: 15px; top: 5px;}
.newheading { font-size: 70%;padding: 8px 10px;}
.folding-box {width: 90%;}
.footer-nav li a{font-size:11px;padding: 0px 5px;}
.top-link ul li a{ padding: 3px 15px; font-size: 10px;font-weight:400;}
.top-link ul ul li a{font-size: 10px;padding: 3px 0px 3px 20px;}
.sitemap-div ul li {width:98%;}
.mst-details {width: 72%;}
	
}
	
@media screen and (max-width:325px) {
.sitemap-div ul li {width:98%;}
.container { width: 100%;}
.logo{height:35px!important;}
.toggleMenu{ width: 30px; right: 15px;top: -28px;  padding: 5px 5px;}	
.top-link ul {width: 50%;right: 15px; top: 5px;}	
.black-div {  height: 10px;}
.newheading { font-size: 65%;padding: 5px 6px;}
.profile-section img { width: 55px; height:55px;}
.profile-section h5 {  margin: 10px 0 2px 0;font-size: 13px;}
.profile-section p { font-size:9px;}
.newheading { width: 25%;}
.news-container {width: 65%;}
.marquee { height: 32px; line-height: 32px;}
.folding-box {width: 90%;}
.folding-box-container h4 {font-size: 150%;}
.folding-box-container {padding: 8px 15px 8px 15px;}
.box-section { margin: 5px 0px 10px 20px; padding-right: 25px;}
.other-con {margin: 10px 13px 15px 15px;}
.footer-nav li a{font-size:11px;padding: 0px 5px;}
.footer p{font-size:10px;}
 ul.breadcrumbs { margin-top: 3px;}
.profile-contact-details ul li {font-size: 11px;}
.error-page-container {left: 22%;top:20%; }
.error-page-container h1 {font-size: 8em;line-height: 90px;}
.error-page-container p {font-size: 1.2em;}
.box-section{margin-bottom:30px;}
.profile-contact-details ul {margin-top: 0px;}
.gallery figure figcaption{padding:0.5em;}
.gallery figure img { height: 160px;}
figure.effect-milo h2 {padding: .5em 1.2em;}
figure.effect-roxy figcaption::before {top: 15px;right: 15px;bottom:50px;left:15px;}
figure.effect-roxy:hover p {padding:15px;}
figure.effect-roxy h2 {padding: 5% 0 10px 10px;}
.gallery-category figure img {height: 180px!important;width:100%;}

}
/* Akruti ori sarala */
@font-face {
    font-family: 'AkrutiOriSarala06Normal';
    src: url('fonts/osr06nie.eot');
    src: url('fonts/osr06nie.eot?#iefix') format('embedded-opentype'),
         url('fonts/osr06nie.woff') format('woff'),
         url('fonts/osr06nie.ttf') format('truetype'),
         url('fonts/osr06nie.svg#AkrutiOriSarala06Normal') format('svg');
	
}
.akrutiorisarala{	
	font-family:'AkrutiOriSarala06Normal' !important;	
	font-size:146%!important;
}
h4.akrutiorisarala{font-size: 20px;}
akrutiorisarala.h1{font-size: 24px;}
<!-- second menu--->
/*---------------focus menu classes starts here-------------------------*/
.focus-menu >.leftmenu{width:auto !important}
.focus-menu .accordian{background:none;border:0;box-shadow:none}
/*.focus-menu .accordian-section{float:left;width:143.7px;margin-left:-1px;margin-top:0px;}*/
.focus-menu .accordian-section{float:left;width:125px;margin-top:0px;}
.focus-menu .accordian-section.first{margin-top:0px;margin-left:0px}
.focus-menu .accordian-section-title{background:#eeeeee;border: 1px solid #c6c6c6;color:#2662ae;font-size:14px;font-weight:normal;text-align:center;
padding:15px}
.focus-menu .accordian-section-title:hover,.focus-menu .accordian-section-title.active{background:#4891dc;color:#fff;border:1px solid #4891dc}
.focus-menu .accordian-section:hover .accordian-section-title {background:#4891dc;color:#fff;border:1px solid #4891dc}
.focus-menu .accordian-section-content{width:220px;border:1px solid #4891dc;padding:5px;margin-top:-0.5px;background:#fff;border-bottom:3px solid #4891dc}
.focus-menu .extended{width:350px}
.focus-menu .accordian-section:hover .accordian-section-content{display:block;}
.focus-menu a.accordian-section-title{height:67px}
.focus-menu .accordian ul{list-style-type:none;margin:0;padding:5px;position:relative;}
.focus-menu .accordian ul li{background: url(images/arrow_bullet.gif) no-repeat left 9px;padding:5px 18px}
.focus-menu .accordian-section:last-child .accordian-section-content,.focus-menu .accordian .last .accordian-section-content{margin-left:-80px}
.focus-menu .accordian ul:before{content:'';width:0px; height:0px;position:absolute;left:30%; top:-20px;margin-left:-10px;border:10px solid;border-color: rgba(136, 183, 213, 0);border-bottom-color: #fff;border-width: 8px;}
.focus-menu .accordian .extended  ul:before{left:20%;}
.focus-menu .accordian .last  ul:before{left:65%;}
.focus-menu .accordian-section-content{z-index:999;position:absolute}
.focus-menu  .accordian-section-content a.more{display:block;float:right;font-size:11px;cursor:pointer}
.focus-menu  a.accordian-section-title[href^="#accordian"]{pointer-events: none;cursor: default;}
.focus-menu .quick_links{display:none}
/*--focus menu classes ends here--*/

/*---------------accordian for menu classes starts here-------------------------*/
.accordian, .accordian * {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.accordian {	overflow:hidden;box-shadow:0px 1px 3px rgba(0,0,0,0.25);border-radius:3px;background:#f7f7f7;}
.accordian-section-title {width:100%;padding:15px;display:inline-block;transition:all linear 0.15s;font-size:12px}
.accordian-section-title.active, .accordian-section-title:hover {background:#4c4c4c; text-decoration:none;}
.accordian-section-content {	display:none;}
/*---------------accordian for menu classes ends here-------------------------*/

/*---------------------leftpanel classes starts here--------------------*/
.leftpanel{height: 444px;width: 220px;padding:0 0 0 6px}
.leftmenu{width:220px}
.leftmenu .accordian{background:none;border:0;box-shadow:none}
.leftmenu .accordian-section{float:left;width:220px;margin-top:-1px;margin-left:0px;}
.leftmenu .accordian-section.first{margin-top:0px;margin-left:0px;}
.leftmenu .accordian-section-title {
    background: #0f2f55;
    border: 1px solid #c6c6c6;
    color: #fffefe;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 10px;
}
.leftmenu .accordian-section-title:hover{background:#d7d7d7}
.leftmenu .accordian-section.active .accordian-section-title{background:#6699FF}
.leftmenu .accordian-section.active .accordian-section-content{display:block}
.leftmenu .accordian-section-content{width:220px;border:1px solid #c4c4c4;padding:5px;margin-top:-0.5px;background:#fff}
.leftmenu.extended{width:220px}
.leftmenu .accordian  ul{list-style-type:none;margin:0;padding:5px;position:relative;}
.leftmenu .accordian ul li{background: url(images/arrow_bullet.gif) no-repeat left 9px;padding:5px 20px;list-style-type:none;}
.leftmenu .accordian ul li a{color:#000}
.leftmenu .accordian-section-content a.more{display:none}
.quick_links{margin: 10px 0 0 0}
.quick_links ul{margin:0;padding:0;list-style:none}
.quick_links ul li{border-bottom:1px solid #ccc;padding:5px 25px;background: url(images/bullet_clickable.png) no-repeat 5px 9px}
/*---------------------leftpanel classes ends here--------------------*/

<!-- What's News-->
.departments-bg {
    background: #FFF;
    margin-top: 8px;
}
.news-flash {
    margin-bottom: 8px;
	margin-left: 5px;
    background-color: #fff;
    border: 1px solid #26bdef;
}
.news-heading:hover {
    color: #F9D7D8;
}
.news-heading {
    float: left;
    width: 15%;
    position: relative;
    padding: 2px 6px;
    box-sizing: border-box;
    color: #FFF;
    font-size: 14px;
    background: #1a3c68;
    line-height: 17px;
}
.news-heading::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -.5em;
    bottom: -21px;
    right: -20px;
    box-sizing: border-box;
    border: 12px solid #000;
        border-color: transparent transparent #1a3c68 #1a3c68 ;
    transform-origin: 0 0;
    transform: rotate(225deg);
}
.news-heading .fa {
    font-size: 36px;
    margin-right: 6px;
    float: left;
}
.news-content {
    height: 35px;
    float: right;
    width: 83%;
}
.socialbtnnew {
    padding: 0px 0px 0 !important;
    display: block;
    height: 41px;
    background: #67060a;
    color: #fff;
    letter-spacing: 1px;
    font-size: 1.1em;
}
.socialbtnnew {
    text-align: right;
    height: 100%;
}
.socialbtnnew .stext {
    padding: 10px 40px  0 10px;
    display: block;
    float: left;
    color: #fff;
}
.socialbtnnew .sociall {
    padding: 6px 11px;
    float: right;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    height: 41px;
    width: 40px;
    text-align: center;
}
.fbl {
    background: #345aea;
}
.twl {
    background: #26bdef;
}
<!-- What's News-->
<!--member-->
.member_bg {
    background: url(images/side-background.jpg) no-repeat;
    width: 284px;
    height: 57px;
    margin-bottom: 10px;
    padding: 2px 0px 0 2px;
}
.slider_sidebar {
    width: 284px;
    float: right;
    height: 280px;
    text-align: right;
}
<!--member-->
<!--6-3-3-->
.my-panel-1{background-color: #a2b630; border-color:#a2b630; color: #fff; }
.my-panel-2{background-color: #0f2f55; border-color:#5c7fa9; color: #fff; }
.my-panel-3{background-color: #0c468a; border-color:#0c468a; color: #fff; }
.my-panel-4{background-color: #194ed5; border-color:#194ed5; color: #fff; }
.my-panel-5{background-color: #fff; border-color:#fff; color: #fff; }
.my-panel-6{background-color: #fff; border-color:#fff; color: #fff; }
.caption{padding: 2px; border-bottom: solid 1px #eee;}

#DepartmentsList .departmentPortlet {
    display: block;
    width: 32%;
    min-height: 150px;
    float: left;
    margin-right: 2%;
    border-right: #D8D8D8 1px solid;
    padding-right: 20px;
}
#DepartmentsList .departmentPortlet2 {
    display: block;
    width: 100%;
    min-height: 150px;
    float: left;
    margin-right: 2%;
	margin-left: 5px;
    border-right: #D8D8D8 1px solid;
    padding-right: 20px;
}
#DepartmentsList .departmentPortlet:last-child {
    margin-right: 0;
    border-right: 0;
    padding-right: 0;
}
.bg-department {
    background: #eefafe57!important;
}
.well {
    border-radius: 0;
    background: #fff;
    margin-bottom: 15px;
    float: left;
    width: 100%;
    padding: 15px;
}
#DepartmentsList ul li {
    padding: 5px 0;
    border-bottom: #bebcbc 1px dotted;
}
#DepartmentsList ul li a:hover {
    color: #E99235;
}
#DepartmentsList ul li a {
    color: #0F2F55;
	background: url(../images/right.png) 0px 10px no-repeat;
    padding-left: 26px;
    padding-top: 12px;
}
<!--6-3-3-->
<!-- view table pdf icon-->
.view-content .file a {
    display: block;
    height: 50px;
    width: 40px;
    
	background:url(img/f.png)  no-repeat;
    text-indent: -1999px;
    overflow: hidden;
    margin-top: 9px;

}
.view-content .file img {
display: none;
}
.view-content .views-table .file a{
display: block;
height: 40px;
width: 40px;
background:url(../images/f.png) no-repeat;
text-indent: -1999px;
overflow: hidden;
margin-top: 9px;
}
.view-content .views-table .file img{display:none; }
<!-- view table pdf icon-->

<!--footer-->

.footer-text{margin-top: 34px; color: #ddd;}
.footer-top-link{background-color: rgb(8, 131, 137); height: 100%; padding: 25px;}
.pull-right {
    float: right !important;
}
.f-link ul{ list-style: none; }
.f-link ul li{font-size: 14px; line-height:1.1em; padding: 5px; margin: 0 10px 0 10px;}
.f-link ul li a{color: #fff;}
.f-link ul li a:hover{color:#FFFF33; text-decoration: none;}
.footer-top-link h3 {
    color: #fff;
}
.bg-color{background-color: #00b1ba; padding: 0px; }
.footer-text {
    margin-top: 34px;
    color: #f5f5f5;
}
<!--- zia--->
.news_head {
    background: #2b4c8f;
    color: #fff;
}
.col_head {
    margin: 0px;
    height: 62px;
    background: #088389;
    position: relative;
}
.news_event {
    background: #fb702b url(../icons/newsevent.PNG) no-repeat center;
}
.head_icon {
    width: 55px;
    height: 62px;
    margin: 0px;
    padding: 0px;
    background: #da251c;
    position: absolute;
	background: #099ed0 url(../icons/govt.png) no-repeat center;
}
.news_head h2 {
    color: #fff;
}
.col_head h2 {
    line-height: 16px;
    margin: 0px;
    padding-left: 70px;
}
blockquote {
    font: 14px;
    font-style: italic;
    padding-left: 50px;
    padding-bottom: 0px;
    margin: 0px;
    background-image: url(../icons/openquote.png);
    background-position: middle left;
    background-repeat: no-repeat;
}
.calloutbox {
    margin: 20px 0;
    color: #fff;
    padding: 30px 20px 20px;
    overflow: hidden;
	background-color: #f7c221;
}
.bgdark {
    background: #064367 !important;
}
.bgdark span{
color: #f7c221;
}
<!--Footers-->
.text-danger {
    color: #e2d6d6;
}
.container-fluid {
    margin: 0;
    padding: 0;
}
<!-- media Gallery-->
.gen-list ul {
    padding-left: 0;
    display: inline-block;
    width: 100%;
}
.mva7-thc-activetheme-district-theme-4 .media-gallery-four.gen-list.iconTop-textBottom-box-list li, .home-4 .media-gallery-four.gen-list.iconTop-textBottom-box-list li {
    width: 30.33%;
    border-radius: 0 !important;
}
.gen-list.iconTop-textBottom-box-list li {
    width: 120px;
    float: left;
    margin: 1%;
    padding: 1em;
    background: #333333;
    text-align: center;
    display: table;
    height: 140px;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
    border-radius: 0px;
}
.orange-bg, .no-bg .list-icon.orange-bg, .list-icon.orange-bg {
    background-color: #088389 !important;
}
.gen-list.iconTop-textBottom-box-list li a {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    padding: 0;
}
.gen-list.normal-font a {
    font-size: 1em !important;
}
.gen-list.iconTop-textBottom-box-list li a span.list-icon {
    display: inline-block;
    width: auto;
    height: auto;
    line-height: 1;
    margin-bottom: 10px;
    background-color: transparent !important;
}
.gen-list.iconTop-textBottom-box-list li a span.list-icon:before {
    font-size: 3em;
}
<!-- h3 style-->
<!-- Leftside bar-->
.sidebar-box{margin-bottom:30px;background:#fff;border:1px solid #e0e0e0}.sidebar-box:last-child{margin-bottom:0}.sidebar-box .sidebar-box-inner{padding:10px 15px}@media(min-width:768px) and (max-width:1199px){.sidebar-box .sidebar-box-inner{padding:30px 15px}}
h3.sidebar-title{font-size:22px;color:#002147;text-transform:capitalize;margin-bottom:35px;position:relative;font-weight:500}
@media(min-width:480px) and (max-width:1199px){h3.sidebar-title{font-size:19px}}
@media only screen and (max-width:479px){h3.sidebar-title{font-size:18px}}
h3.sidebar-title a{color:#002147;}h3.sidebar-title a:hover{color:#fdc800}
h3.sidebar-title:before{content:"";height:3px;width:315px;position:absolute;left:0;bottom:-15px;z-index:1;background:#fdc800}h2.sidebar-title{font-size:30px;color:#002147;text-transform:capitalize;margin-bottom:35px;position:relative;font-weight:500}
.learning-outcomes li{margin-bottom:10px;position:relative;padding-left:30px;color:#444}
.learning-outcomes li:last-child{margin-bottom:0}.learning-outcomes li:before{content:"\f105";background:#002147;color:#fff;position:absolute;left:0;top:5px;font-size:14px;border-radius:50%;height:15px;width:15px;line-height:14px;text-align:center;z-index:1;font-family:FontAwesome}
.well {
    border-radius: 0;
	/*background: #f1d61a63 url(../icons/govt.png) no-repeat center;*/
    background: #c87529;
    margin-bottom: 15px;
    float: left;
    width: 100%;
    padding: 15px;
}

header{
    background: url(../icons/header.jpg)no-repeat;
    height: 86px;
    color: #ffffff;
    text-align:center;
    border-bottom: 2px solid #ffffff;
    
}
ul{
  margin: 0px;
  padding: 0px;
  list-style: none;  
}
h2{
font-size:24px ;
padding-top:24px ;

}
#main-contain{
    background: #1cdccba3 url(../icons/.jpg) no-repeat center;
    padding: 31px 25px 31px 0px;
}
.icon-images ul li{
 display: inline-block;
 margin-bottom: 10px;

}
.icon-margin{
   margin: 1px 12px;
    width: 223px;
    height: 53px;
  
}
footer{
background: url(../icons/footer.jpg)no-repeat;
height: 29px;
color: #ffffff;
border-top: 2px solid #c59e00;

}
<!-- Best efect of image-->
.grid_4 {
    width: 370px;
}
.page1_header .banner {
    background-color: #088389;
    color: #ffffff;
    display: block;
    width: 50%;
    text-align: center;
    float: left;
    font-size: 18px;
    padding: 20px 0 0px;
}
.page1_header .banner .fa {
    margin-bottom: 15px;
    display: block;
    font-size: 24px;
    line-height: 0px;
}
.page1_header .banner:hover {
    background-color: #000000 !important;
}
.page1_header .banner:first-child + .banner {
    background-color: #00b1ba;
}
.page1_header .banner + .banner + .banner {
    padding-top: 63px;
    padding-bottom: 13px;
}
.page1_header .banner:first-child + .banner + .banner {
    background-color: #00b1ba;
}
<!-- Left Media-->
#media_table{
 width: 228px;
 margin: 0px ;
 padding: 0px;

}
.ortdc_header{
    background:url(../images/ortps.png) no-repeat;
    height: 50px;
    border-bottom: 2px solid#fff;
    
}
.delivary_services{
   background: #f6821c;
    
}
.delivary_services h3{
   font-size: 24px;
   color: #fff;
   text-align: center;
   text-transform: uppercase;
   font-family: Arial, Helvetica, sans-serif;
   padding: 5px;
   padding-bottom: 5px;
    
}
.table_bg{
      /* background: #3c599d url(../images/table_background.jpg) no-repeat;
width: 308px;*/
   background-color: #064346fa;
    padding: 0px;
	padding-bottom: 1px;
}
.table{
    
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-spacing:7px;
}
.table th{
    background: #254081;
    color: #fff;
    font-size: 13px;
    padding: 5px 6px;
    margin-bottom: 10px;
   
}
.table td{
    color: #fff;
    font-size: 13px;
    padding: 5px 6px;
   
}
.table1{
    
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    width: 98%;
    border-spacing:0px;
}
.table1 th{
    background: #088389;
    color: #fff;
    font-size: 13px;
    padding: 6px 1px;
    margin-bottom: 10px;
   
}

.red{
    background: #088389;
    color: #fff;
    padding: 12px 44px !important;
    text-align: center;
    
   
}
.green{
    background: #00b1ba;
    color: #fff;
    padding: 12px 44px !important;
    text-align: center;
    
    
   
}
.m_gallery{
    border-top:0px solid #fff;
}
<!-- top nav fix-->
.navbar-fix-top {
    top: 0;
    border-width: 0 0 1px;
}


<!-- Left Media end-->
<!-- image Over effect e-governer application-->
li.shadow {
	width: 300px;
	margin: 20px;
	border: 1px solid #ccc;
	padding: 10px;
	}

li.shadow:hover {
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	}
<!-- datatable-->
	#example {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#example td, #example th {
    border: 1px solid #ddd;
    padding: 8px;
}
#example tr:nth-child(even){background-color: #f2f2f2;}
#example tr:hover {background-color: #ddd;}
#example th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #99C663;
    color: white;
} 
.table tr {
    background: #088389;
    color: #fff;
    font-size: 13px;
    padding: 5px 6px;
    margin-bottom: 10px;
}
.table>tbody>tr.success>th, .table>tfoot>tr.success>th {
    background-color: #00b1ba;
}
.table>tbody>tr.success>td
{
    background-color: #8df9ff69;
}
<!--For DILRMP and rest pages >
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}
#customers tr:nth-child(even){background-color: #f2f2f2;}
#customers tr:hover {background-color: #ddd;}
#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #99C663;
    color: white;
}
.views-field-title .field-content a {
    color: red;
    margin-right: 50px;
}


/*last changes*/
.socialbtnnew ul li{
width:50%;}
.news-flash ul li a {
    color: #1a3c68 !important;
}
.node-gallery .field-item img{
float: left;
height: auto;
    margin: 5px 5px;
}