body {background:#3A3939!important; background-image:none!important;}
.header-wrapp {background:#000!important;}
.toggleMenu {background: #FFF!important ;color:#2A394D!Important; }   
.top-link{background:#000;}
.banner-section {background-color: #000;color:#fff;}
.profile-section{background:#000!important}
.profile-section img { background-color: #000;!important;}
.profile-section h5{color:#fff!important;}
.profile-section p {color: #FF835D!important;}
.newheading { background-color:#000!important;}
.news-section {background-color:#000!important;}
.newheading a {color:#FFF!important;   }
.marquee{background-color:#000!important;margin-left: 0px!important;}
.marquee a{color:#fff!important;}
.footer{background:#000!important;color:#fff!important;border-top: 1px solid #eee!important;}
.footer-nav li a {
-webkit-border-image: -webkit-gradient(linear, 0 0, 100% 0, from(black), to(rgba(241, 200, 187, 1))) 1 100%!important;
-webkit-border-image: -webkit-linear-gradient(left, black, rgba(241, 200, 187, 1)) 1 100%!important;
-moz-border-image: -moz-linear-gradient(left, black, rgba(241, 200, 187, 1)) 1 100%!important;
-o-border-image: -o-linear-gradient(left, black, rgba(241, 200, 187, 1)) 1 100%!important;
border-image: linear-gradient(to left, black, rgba(241, 200, 187, 1)) 1 100%!important;
color:#f67248!important;}
.imp-link{ background:url(../images/right-arrow-yellow.png) no-repeat left center!important;}
.content-box, .content-box-v2 {  color: #D2D0D0!important;}
.cut-corner-left:before { border-top: 5px solid #000!important;}
.cut-corner-right:before { border-top: 5px solid #000!important;}
.bg-white{background:#000!important;}
.bg-gray{background:#000!important;}
.other-important-liks-sec h4, .edispach-sec h4{color:#fff!important}
.edispch-data-cons { background: #333!important; margin-bottom: 10px;}
.e-con h4 {color: #00FFF0!important;}
.e-con a{color:#EEF3F7!important;}
.e-con a:hover,.e-con a:active,.e-con a:focus{ color: #00FFF0!important;}
.imp-link { background: url(../images/icon-arrow-right.png) no-repeat left center;}
.imp-link a{color:#fbff01!important;}
.imp-link a:hover,.imp-link a:active,.imp-link a:focus{ color: #FF835D!important;}
.footer-nav li a:hover{color:#fff!important;}
.bg-drorange:hover,.bg-drorange:active,.bg-drorange:focus{background:rgb(8, 8, 8);opacity: 0.8;text-decoration:none;}
.bg-dryellow:hover,.bg-dryellow:active,.bg-dryellow:focus{background:rgb(8, 8, 8);opacity: 0.8;text-decoration:none;}
.border-top-1 { border-top: 1px solid #3A3939!important;}
.profile-contact-details ul li{color:#fff;} 
.profile-name-section {background: #272323!important;color: #FFF!important;}
.profile-directory{background:#000!important;}
.img-section {border-right: 1px solid #272323!important;}
.right-pannel h4 {background:#000!important;;color:#fff!important;}
.right-pannel { background: #4E4D4D!important;}
.right-nav li { border-bottom: 1px solid #000!important}
.right-nav li a{color:#fff!important;background:url(../images/right-arrow-yellow.png) no-repeat left center!important;}
.DepartmentsList ul li a {color: #d8ff00!important;}
.DepartmentsList ul li {border-bottom: #f5f906 1px dotted!important;}
.col_head {background:#ec3a3a !important;}
p {color: aqua;}
.panel {background-color: #000!important;}
.bgdark {background: #000000 !important;}
h3 {color:#FFFFFF !important;}
h1 {color:#FFFFFF !important;}
.imp-link a {background: #000 !important;}