@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?aiv8dc');
    src:    url('fonts/icomoon.eot?aiv8dc#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?aiv8dc') format('truetype'),
        url('fonts/icomoon.woff?aiv8dc') format('woff'),
        url('fonts/icomoon.svg?aiv8dc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-train-railway:before {
    content: "\e900";
}
.icon-ActsRules-1:before {
    content: "\e902";
}
.icon-acts_and_rules:before {
    content: "\e903";
}
.icon-biju-gaon-gadi-yojna:before {
    content: "\e904";
}
.icon-boat-operation:before {
    content: "\e905";
}
.icon-bus-fare-notification:before {
    content: "\e906";
}
.icon-DCAmous:before {
    content: "\e907";
}
.icon-dti:before {
    content: "\e908";
}
.icon-empaneled-Institutes:before {
    content: "\e909";
}
.icon-faq:before {
    content: "\e90a";
}
.icon-freight-charges:before {
    content: "\e90b";
}
.icon-govtpress:before {
    content: "\e90c";
}
.icon-inland-water-transport:before {
    content: "\e90d";
}
.icon-itransport-office:before {
    content: "\e90e";
}
.icon-launch-services:before {
    content: "\e90f";
}
.icon-national-waterway:before {
    content: "\e910";
}
.icon-notification:before {
    content: "\e911";
}
.icon-osrtc:before {
    content: "\e912";
}
.icon-performance-of-ports:before {
    content: "\e913";
}
.icon-port-policy:before {
    content: "\e914";
}
.icon-ports-in-operation:before {
    content: "\e915";
}
.icon-potential-port-sites:before {
    content: "\e916";
}
.icon-railway:before {
    content: "\e901";
}
.icon-revenue:before {
    content: "\e917";
}
.icon-riverine-port:before {
    content: "\e918";
}
.icon-training:before {
    content: "\e919";
}
.icon-transport-commissioner:before {
    content: "\e91a";
}
