.newsticker li{
	padding-top: 8px;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-color: #b9060d;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: -93px;
    width: 248px;
    transform: rotate(-90deg);
	top:auto;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 85px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 3px 3px;
    border: none;
    cursor: pointer;
    width: 10%;
    margin-bottom: 10px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 2px;
    font-size: 23px;
    /* margin-left: 41px; */
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.innerbtn {
    /* margin-left: 13px; */
    margin-top: 4px;
    padding: 5px 12px 5px;
    background-image: linear-gradient(to right, #000000, #f3e11233);
    border-radius: 27px;
    color: white;
    float: right;
    font-size: 13px;
	font-weight: 600;
}