<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Welcome {{userinfo['name']}}</h2>
                    <pre>{{userinfo_pretty}}</pre>
</body>
</html>