<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- font awesome from BootstrapCDN -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="static/app.css" rel="stylesheet">
    </head>
    <body class="home">
        <div class="container">
            <div class="login-page clearfix">
                <div class="logged-in-box auth0-box logged-in">
                    <h1 id="logo"><img src="//cdn.auth0.com/samples/auth0_logo_final_blue_RGB.png" /></h1>
                    <img class="avatar" src="{{userinfo['picture']}}"/>
                    <h2>Welcome {{userinfo['name']}}</h2>
                    <pre>{{userinfo_pretty}}</pre>
                    <a id="qsLogoutBtn" class="btn btn-primary btn-lg btn-logout btn-block" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </body>
</html>
{%if userinfo %}
<h1>Hey GOD</h1>
{% else %}
<h2>Oh No</h2>
{% endif %}
{% extends "e_dispatch.html" %}
