
<!DOCTYPE html>
<html>
<head profile="http://www.w3.org/1999/xhtml/vocab">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" media="screen, projection, tty, tv" title="Standard" href="/sites/all/modules/pagestyle/css/style_standard.css" />
<link rel="shortcut icon" href="static/images/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="alternate stylesheet" type="text/css" media="screen, projection, tty, tv" title="Yellow/Blue" href="/sites/all/modules/pagestyle/css/style_yellow_blue.css" />
<link rel="alternate stylesheet" type="text/css" media="screen, projection, tty, tv" title="Black/White" href="/sites/all/modules/pagestyle/css/style_black_white.css" />
<meta name="Generator" content="Drupal 7 (http://drupal.org)" />
<link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet">
<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
   if (self === top) {
       var antiClickjack = document.getElementById("antiClickjack");
       antiClickjack.parentNode.removeChild(antiClickjack);
   } else {
       top.location = self.location;
   }
</script>
<link rel="alternate stylesheet" type="text/css" media="screen, projection, tty, tv" title="White/Black" href="/sites/all/modules/pagestyle/css/style_white_black.css" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0 minimum-scale=1.0, user-scalable=no">
<meta name="description" content="">
<meta name="author" content="Revenue & Disaster Management Department">
<meta name="keywords" content="">
<title>Welcome to Revenue &amp; Disaster Management Department | Revenue &amp; Disaster Management Department</title>
<script type="text/javascript">
	function AlertIt() {
	var answer = confirm ("You are going to be directed to a web page out side http://revenueodisha.gov.in"+
			"for any queries regarding the content of the linked page ,please contact the web master of the concerned website.Please click on OK to continue.")
			
	if (answer)
	window.location="http://ortpsa.in/";
	}
</script>
<script>
function openForm() {
    document.getElementById("myForm").style.display = "block";
}

function closeForm() {
    document.getElementById("myForm").style.display = "none";
}
</script>

<!-- Bootstrap Core CSS -->
<!-- <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700' rel='stylesheet' type='text/css'> -->
        <link rel="shortcut icon" href="static/images/favicon2.ico" type="image/x-icon">
<link rel="icon" href="static/images/Logo.ico" type="image/x-icon">

<link href="static/css/bootstrap.min.css" rel="stylesheet">
<link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename = 'css/sm-simple.css') }}" rel="stylesheet" type="text/css" />
<link rel="alternate stylesheet" type="text/css" media="screen" title="black-theme" href="static/css/custom-black.css" />
<link rel="alternate stylesheet" type="text/css" media="screen" title="blue-theme" href="static/css/custom-blue.css" />
<script type="text/javascript" src="static/js/customscrollbar.min.js"></script>
	<script type="text/javascript" src="static/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/menu.js"></script>
<script type="text/javascript" src="#"></script>
<script type="text/javascript" src="static/js/styleswitch.js"></script>
<script type="text/javascript" src="static/js/custom.js"></script>
<script type="text/javascript" src="static/js/loadJson.js"></script>


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/customscrollbar.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/animate.min.css') }}">
<link href="{{ url_for('static', filename = 'css/icons.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename = 'css/fontawesome-webfont914c.eot') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename = 'css/icons.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename = 'css/ct-style.css') }}" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="static/js/styleswitch.js"></script>
<script type="text/javascript" src="static/js/custom.js"></script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

<link rel="stylesheet" href="static/css/anythingzoomer.css">
	<script src="static/js/jquery.anythingzoomer.js"></script>

	
	<script type="text/javascript">
    jQuery(function() {
        var comm=0;
        jQuery("#zoom").anythingZoomer({
                clone: true
        });
        jQuery('#zoom').anythingZoomer('disable');
        jQuery('.zoom_in_out').click(function(){
            if(comm==0){
                jQuery('#zoom').anythingZoomer('enable');
                document.getElementById('zoom_in_out_img').src='http://localhost:8082/rdm2018/sites/all/themes/revenue/images/lens_bgmainus.png';

                comm=1;
            }else{
                jQuery('#zoom').anythingZoomer('disable');
                document.getElementById('zoom_in_out_img').src='http://localhost:8082/rdm2018/sites/all/themes/revenue/images/lens_bg.png';
                comm=0;
            }
        });
		});
	</script>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/css_xE-rWrJf-fncB6ztZfd2huxqgxu4WO-qwma6Xer30m4.css') }}" media="all" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/css_QnDqumlAmBiA-LkPKOOEj-wMlRQlYuHQdMmPGFs03GQ.css') }}" media="all" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/css_n7aK8s-ciXhQyEYWNOJtISbWxtxQiQvnD-N_xWUtD5A.css') }}" media="all" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/css_S0VIv5sdIw-VQStmevFQm3K_f9bb-NvBtF_AwzJywxk.css') }}" media="all" />
<style type="text/css" media="screen">
<!--/*--><![CDATA[/*><!--*/
body.pagestyle_black_white,body.pagestyle_black_white *{font-weight:normal !important;}body.pagestyle_white_black,body.pagestyle_white_black *{font-weight:bold !important;}body.pagestyle_yellow_blue,body.pagestyle_yellow_blue *{font-weight:bold !important;}body.pagestyle_standard,body.pagestyle_standard *{font-weight:normal !important;}

/*]]>*/-->
</style>
<link type="text/css" rel="stylesheet" href="static/css/css_Uk5QilmhAbD-9X7kt4uPvRwqRad40bXqFhUNB2yL4QY.css" media="all" />
<link type="text/css" rel="stylesheet" href="static/css/font-awesome.min.css" media="all" />
<link type="text/css" rel="stylesheet" href="static/css/css_uLUWwNbs3tMzW3BD1LDBlMMP0HhWtBiV1Pu_9G_JfHE.css" media="all" />
<style type="text/css" media="all">
<!--/*--><![CDATA[/*><!--*/
.tb-megamenu.animate .mega > .mega-dropdown-menu,.tb-megamenu.animate.slide .mega > .mega-dropdown-menu > div{transition-delay:200ms;-webkit-transition-delay:200ms;-ms-transition-delay:200ms;-o-transition-delay:200ms;transition-duration:400ms;-webkit-transition-duration:400ms;-ms-transition-duration:400ms;-o-transition-duration:400ms;}

/*]]>*/-->
</style>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/css__PxoyYLMXyOEa_p494TaC351dA3fLwg5D1nv1g-Wyzc.css') }}" media="all" />
<script type="text/javascript" src="{{ url_for('static', filename = 'js/js_vDrW3Ry_4gtSYaLsh77lWhWjIC6ml2QNkcfvfP5CVFs.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/js_0qGD1CqGsDpO1yJ1qzckatKYx8lDESM0HyyA0gOUh_k.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/js_o9rsiOhm8djGpUWbxvCwAJ52JQyR2rv1xez6T05WUNk.js') }}"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
  var pagestyleCookieExpires = 365;
  var pagestyleCookieDomain = "/RDM/";
  var pagestylePath = "sites/all/modules/pagestyle";
  var pagestyleCurrent = "standard";
//--><!]]>
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/js_BZ6Vqw7RyrIp-D0Q8IqDhyMcYUSOZvb9fNTPtH_lAqo.js')}}"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
(function($) { Drupal.behaviors.views_ticker1 = { attach: function (context) { $("#views-ticker-fade-news_and_events").newsTickerFade(); } };})(jQuery);
//--><!]]>
</script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, {"basePath":"\/","pathPrefix":"","ajaxPageState":{"theme":"revenue","theme_token":"M-gqqmK74OuuBe2I6gUj4TLnoBaaCjd9utqTDS89dIo","js":{"misc\/jquery.js":1,"misc\/jquery.once.js":1,"misc\/drupal.js":1,"misc\/ui\/jquery.ui.core.min.js":1,"misc\/ui\/jquery.ui.widget.min.js":1,"misc\/ui\/jquery.ui.accordion.min.js":1,"sites\/all\/modules\/accordion_blocks\/accordion_init.js":1,"0":1,"sites\/all\/modules\/pagestyle\/jquery.pagestyle.js":1,"misc\/jquery.cookie.js":1,"sites\/all\/modules\/tb_megamenu\/js\/tb-megamenu-frontend.js":1,"sites\/all\/modules\/tb_megamenu\/js\/tb-megamenu-touch.js":1,"sites\/all\/modules\/views_bootstrap\/js\/views-bootstrap-carousel.js":1,"sites\/all\/modules\/views_ticker\/js\/views.ticker.fade.js":1,"1":1},"css":{"modules\/system\/system.base.css":1,"modules\/system\/system.menus.css":1,"modules\/system\/system.messages.css":1,"modules\/system\/system.theme.css":1,"misc\/ui\/jquery.ui.core.css":1,"misc\/ui\/jquery.ui.theme.css":1,"misc\/ui\/jquery.ui.accordion.css":1,"modules\/comment\/comment.css":1,"sites\/all\/modules\/date\/date_api\/date.css":1,"sites\/all\/modules\/date\/date_popup\/themes\/datepicker.1.7.css":1,"modules\/field\/theme\/field.css":1,"modules\/node\/node.css":1,"modules\/search\/search.css":1,"modules\/user\/user.css":1,"sites\/all\/modules\/views\/css\/views.css":1,"sites\/all\/modules\/accordion_blocks\/accordion_init.css":1,"sites\/all\/modules\/ctools\/css\/ctools.css":1,"0":1,"sites\/all\/modules\/pagestyle\/pagestyle.css":1,"https:\/\/cdnjs.cloudflare.com\/ajax\/libs\/font-awesome\/4.4.0\/css\/font-awesome.min.css":1,"sites\/all\/modules\/tb_megamenu\/css\/bootstrap.css":1,"sites\/all\/modules\/tb_megamenu\/css\/base.css":1,"sites\/all\/modules\/tb_megamenu\/css\/default.css":1,"sites\/all\/modules\/tb_megamenu\/css\/compatibility.css":1,"sites\/all\/modules\/tb_megamenu\/css\/styles\/blue.css":1,"1":1,"sites\/all\/modules\/views_ticker\/views.ticker.scroller.css":1}},"encrypt_submissions":{"baseUrl":"http:\/\/revenueodisha.gov.in"},"custom_encrypt_service":{"baseUrl":"http:\/\/revenueodisha.gov.in"},"viewsBootstrap":{"carousel":{"1":{"id":1,"name":"slider","attributes":{"interval":1000,"pause":"hover"}}}},"urlIsAjaxTrusted":{"\/":true}});
//--><!]]>
</script>

</head>

<body class="html front not-logged-in no-sidebars page-node" style="font-size:13px; position: relative; top: -12px;"  onload="noCache()">
    <body>
                     					  <div class="region region-help-desk">
    <div id="block-block-51" class="block block-block">

    
  <div class="content">
    <p><button class="open-button" onclick="openForm()">Help Desk..</button></p>
<div class="chat-popup" id="myForm">
<form action="#" class="form-container">
<h1>Help Desk (R&amp;DM)</h1>
<p><i class="fa fa-envelope-o" aria-hidden="true"></i>e-Mail : <a href="mailto:imu-rev-od@nic.in">imu-rev-od@nic.in</a> / <a href="mailto:revsec.od@nic.in">revsec.od@nic.in</a></p>
<p><i class="fa fa-phone" aria-hidden="true"></i>Phone : 0674 - 2322658 / 2539023</p>
<p>    <button type="button" class="btn cancel" onclick="closeForm()">*</button><br /></p></form>
</div>
  </div>
</div>
  </div>
                    
<div class="header-wrapp navbar-fixed-top">
<div class="address-section">
<div class="container">
<div class="pull-left">


</div>
<!-- Top Header Start-->
<div class="settings">
<div class="search pull-right margin-left20"> 
            <div id="custom-search-input">
                    					  <div class="region region-search">
    <div id="block-search-form" class="block block-search">

    
  <div class="content">
    <form action="/" method="post" id="search-block-form" accept-charset="UTF-8"><div><div class="container-inline">
      <h2 class="element-invisible">Search form</h2>
    <div class="form-item form-type-textfield form-item-search-block-form">
  <label class="element-invisible" for="edit-search-block-form--2">Search </label>
 <input title="Enter the terms you wish to search for." type="text" id="edit-search-block-form--2" name="search_block_form" value="" size="15" maxlength="128" class="form-text" />
</div>
<div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="Search" class="form-submit" /></div><input type="hidden" name="form_build_id" value="form-xpU6ifooeE65zghL1wEKnKNhB8GcNip8zv8MJcB9ohE" />
<input type="hidden" name="form_id" value="search_block_form" />
</div>
</div></form>  </div>
</div>
  </div>
                                </div>
          </div>
        
      <div class="region region-acc">
    <div id="block-block-12" class="block block-block">

    
  <div class="content">
    <div class="settings">
        <form action="" id="formLang" name="formLang" method="post">
              <input type="hidden" name="hdnSessionIdss" id="hdnSessionIdss" value="6b86fepfi9n66gmcjkrtb5e9n6" />
        <input type="hidden" name="hdnLanguage" id="hdnLanguage" value="" />
        </form>
      <ul class="social-links pull-right">

<a href="http://revenueodisha.gov.in/?q=node/22" class=" skip-to-main screenReader" id="skipbtn">Help</a> 
      <span class="line-devider">|</span>
      <a href="http://revenueodisha.gov.in/?q=node/23" class=" skip-to-main screenReader" id="skipbtn">FAQ</a> 
      <span class="line-devider">|</span>
      <a href="http://revenueodisha.gov.in/?q=node/24" class=" skip-to-main screenReader" id="skipbtn"> Contact US </a> 
      <span class="line-devider">|</span>
      <a href="http://revenueodisha.gov.in/?q=node/25" class=" skip-to-main screenReader" id="skipbtn">Feedback</a> 
      <span class="line-devider">|</span>
</ul>  
      
  <div class="search">
  
   <div class="setting-items pull-right">
   
      <a href="javascript:decreaseFontSize();" class="fontresize screenReader " title="Decrease font size">A-</a> 
      <a href="javascript:reSetFontSize();" class="fontresize screenReader" title="Standard font size" >A</a>
      <a href="javascript:increaseFontSize();" class="fontresize screenReader margin-left10" title="Increase font size">A+</a> 
      
      <a href="javascript:void(0)" onClick="chooseStyle('blue-theme', 60);" class="blue-box screenReader" title="High contrast view"></a> 
      <a href="javascript:void(0)" onClick="chooseStyle('black-theme', 60);" class="black-box screenReader" title="High contrast view"></a> 
      <a href="javascript:void(0)" onClick="chooseStyle('none', 60);" class="white-box screenReader" title="Low contrast view"></a>

      <a href="#skiptomain" class=" skip-to-main screenReader" id="skiptomain" title="Skip to main content">Skip to main content</a> 
      <span class="line-devider">|</span>
      <a href="http://revenueodisha.gov.in/?q=node/55" class=" skip-to-main screenReader" title="Download Screen reader">Download screen reader</a>
      
  </div>
</div>
      
      </div>
<style>
.news-flash img{
width: 0px;
}
.tb-megamenu{
    margin: 0 26px;}
</style>  </div>
</div>
  </div>
      
      </div>
      <!-- Top Header end-->
        <div class="clearfix"></div>
</div>
</div>
  <div class="container nav-header2">
    <div class="row">
    <!-- Dept logo start-->
      <div class="col-md-5 header-left animated slideInLeft"><a class="screenReader ct-logo-con" href="#" title="Revenue & Disaster Management Department" tabindex="9"><span id="logoid"><img src="static/images/revenueodia copy1.png" alt="AIDS" class="logo" style="height: auto; margin-top: 0px;"></span></a></div>
      <div class="col-md-7 header-right"> 
<img src="static/images/naveen-patnaik.png" alt="" class="pull-right cm-img" >
      <div class="clearfix"></div>
      </div>
       <!-- NP image start-->
    </div>
    <!-- menu Start-->
    <div class="row">
                								  <div class="region region-mainmenu">
    <div id="block-tb-megamenu-main-menu" class="block block-tb-megamenu">

    
  <div class="content">
    <div  data-duration="400" data-delay="200" id="tb-megamenu-main-menu" class="tb-megamenu tb-megamenu-main-menu style-blue animate slide">
      <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar tb-megamenu-button" type="button">
      <i class="fa fa-reorder"></i>
    </button>
    <div class="nav-collapse  always-show">
    <ul  class="tb-megamenu-nav nav level-0 items-14">
  <li  data-id="219" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega active active-trail">
  <a href="/" >
        
    Home          </a>
  </li>

<li  data-id="438" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega dropdown active active-trail">
  <a href="/"  class="dropdown-toggle" title="About Us">
        
    About Us          <span class="caret"></span>
          </a>
  <div  data-class="" data-width="" class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child">
  <div class="mega-dropdown-inner">
    <div  class="tb-megamenu-row row-fluid">
  <div  data-class="" data-width="12" data-hidewcol="0" id="tb-megamenu-column-1" class="tb-megamenu-column span12  mega-col-nav">
  <div class="tb-megamenu-column-inner mega-inner clearfix">
        <ul  class="tb-megamenu-subnav mega-nav level-1 items-7">
  <li  data-id="449" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="/?q=node/68" >
        
    About Department          </a>
  </li>

<li  data-id="440" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="/?q=node/65"  title="Administrative Unit">
        
    Administrative Unit          </a>
  </li>

<li  data-id="685" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="http://revenueodisha.gov.in/sites/default/files/document/Nomenclature_RDM.pdf"  title="Nomenclature">
        
    Nomenclature          </a>
  </li>

<li  data-id="371" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="/?q=node/14" >
        
    Who is who ?          </a>
  </li>

<li  data-id="368" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="http://revenueodisha.gov.in/sites/default/files/document/Organogram.pdf"  title="Organogram">
        
    Organogram          </a>
  </li>

<li  data-id="439" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="/?q=node/64" >
        
    Web Directory          </a>
  </li>

<li  data-id="450" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="http://revenueodisha.gov.in/sites/default/files/document/Hierarchy.pdf"  title="Hierarchy">
        
    Hierarchy          </a>
  </li>
</ul>
  </div>
</div>
</div>
  </div>
</div>
</li>

<li  data-id="708" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega dropdown">
  <a href="/?q=node/17"  class="dropdown-toggle">
        
    Citizen Services          <span class="caret"></span>
          </a>
  <div  data-class="" data-width="" class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child">
  <div class="mega-dropdown-inner">
    <div  class="tb-megamenu-row row-fluid">
  <div  data-class="" data-width="12" data-hidewcol="0" id="tb-megamenu-column-2" class="tb-megamenu-column span12  mega-col-nav">
  <div class="tb-megamenu-column-inner mega-inner clearfix">
        <ul  class="tb-megamenu-subnav mega-nav level-1 items-4">
  <li  data-id="701" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="/?q=node/240" >
        
    Display of information on Notice Board under ORTPS Rules          </a>
  </li>

<li  data-id="497" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="http://revenueodisha.gov.in/sites/default/files/document/PublicServices.pdf"  title="Services under ORTPS Act">
        
    Services under ORTPS Act          </a>
  </li>

<li  data-id="451" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="/?q=Registration-of-a-Document"  title="Registration of Document">
        
    Registration of Document          </a>
  </li>

<li  data-id="452" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="/?q=forms"  title="Forms">
        
    Forms          </a>
  </li>
</ul>
  </div>
</div>
</div>
  </div>
</div>
</li>

<li  data-id="761" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega">
  <a href="/?q=node/458" >
        
    e-Governance          </a>
  </li>

<li  data-id="437" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega dropdown">
  <a href="/?q=node/33"  class="dropdown-toggle">
        
    Acts & Rules          <span class="caret"></span>
          </a>
  <div  data-class="" data-width="" class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child">
  <div class="mega-dropdown-inner">
    <div  class="tb-megamenu-row row-fluid">
  <div  data-class="" data-width="12" data-hidewcol="0" id="tb-megamenu-column-3" class="tb-megamenu-column span12  mega-col-nav">
  <div class="tb-megamenu-column-inner mega-inner clearfix">
        <ul  class="tb-megamenu-subnav mega-nav level-1 items-2">
  <li  data-id="442" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="/?q=node/327" >
        
    Rules          </a>
  </li>

<li  data-id="441" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="/?q=node/326" >
        
    Acts          </a>
  </li>
</ul>
  </div>
</div>
</div>
  </div>
</div>
</li>

<li  data-id="436" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega dropdown">
  <a href="/?q=node/39"  class="dropdown-toggle">
        
    HRM          <span class="caret"></span>
          </a>
  <div  data-class="" data-width="" class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child">
  <div class="mega-dropdown-inner">
    <div  class="tb-megamenu-row row-fluid">
  <div  data-class="" data-width="12" data-hidewcol="0" id="tb-megamenu-column-6" class="tb-megamenu-column span12  mega-col-nav">
  <div class="tb-megamenu-column-inner mega-inner clearfix">
        <ul  class="tb-megamenu-subnav mega-nav level-1 items-5">
  <li  data-id="695" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega dropdown-submenu">
  <a href="/?q=node/234"  class="dropdown-toggle">
        
    OAS          <span class="caret"></span>
          </a>
  <div  data-class="" data-width="" class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child">
  <div class="mega-dropdown-inner">
    <div  class="tb-megamenu-row row-fluid">
  <div  data-class="" data-width="12" data-hidewcol="0" id="tb-megamenu-column-4" class="tb-megamenu-column span12  mega-col-nav">
  <div class="tb-megamenu-column-inner mega-inner clearfix">
        <ul  class="tb-megamenu-subnav mega-nav level-2 items-10">
  <li  data-id="733" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="/?q=node/246" >
        
    Gradation          </a>
  </li>

<li  data-id="734" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="/?q=node/247" >
        
    Restructuring          </a>
  </li>

<li  data-id="735" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="/?q=node/248" >
        
    Career Planning & Transfer Policy          </a>
  </li>

<li  data-id="736" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="/?q=node/249" >
        
    Pay fixation          </a>
  </li>

<li  data-id="737" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="/?q=node/250" >
        
    Re-employment          </a>
  </li>

<li  data-id="738" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="/?q=node/251" >
        
    Joining          </a>
  </li>

<li  data-id="739" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="/?q=node/252" >
        
    Promotion          </a>
  </li>

<li  data-id="740" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="/?q=node/253" >
        
    Transfer          </a>
  </li>

<li  data-id="741" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="/?q=node/254" >
        
    Retirement          </a>
  </li>

<li  data-id="754" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="/?q=node/380" >
        
    Resignation          </a>
  </li>
</ul>
  </div>
</div>
</div>
  </div>
</div>
</li>

<li  data-id="696" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega dropdown-submenu">
  <a href="/?q=node/235"  class="dropdown-toggle">
        
    ORS          <span class="caret"></span>
          </a>
  <div  data-class="" data-width="" class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child">
  <div class="mega-dropdown-inner">
    <div  class="tb-megamenu-row row-fluid">
  <div  data-class="" data-width="12" data-hidewcol="0" id="tb-megamenu-column-5" class="tb-megamenu-column span12  mega-col-nav">
  <div class="tb-megamenu-column-inner mega-inner clearfix">
        <ul  class="tb-megamenu-subnav mega-nav level-2 items-8">
  <li  data-id="749" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="/?q=node/302" >
        
    Constitution          </a>
  </li>

<li  data-id="742" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="/?q=node/255" >
        
    Gradation          </a>
  </li>

<li  data-id="743" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="/?q=node/256" >
        
    Restructuring          </a>
  </li>

<li  data-id="744" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="/?q=node/257" >
        
    Joining          </a>
  </li>

<li  data-id="745" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="/?q=node/258" >
        
    Promotion          </a>
  </li>

<li  data-id="746" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="/?q=node/259" >
        
    Transfer          </a>
  </li>

<li  data-id="747" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="/?q=node/260" >
        
    Retirement          </a>
  </li>

<li  data-id="755" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="/?q=node/381"  title="Resignation of ORS Officers">
        
    Resignation          </a>
  </li>
</ul>
  </div>
</div>
</div>
  </div>
</div>
</li>

<li  data-id="697" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="/?q=node/236" >
        
    RI/ARI/AMIN          </a>
  </li>

<li  data-id="752" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="/?q=node/370"  title="IAS Probationers">
        
    IAS Probationers          </a>
  </li>

<li  data-id="758" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="/?q=node/290"  title="Training">
        
    Training          </a>
  </li>
</ul>
  </div>
</div>
</div>
  </div>
</div>
</li>

<li  data-id="453" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega">
  <a href="http://www.rtiodisha.gov.in/pa/REVQVC8zLzQ2LzE5"  title="RTI">
        
    RTI          </a>
  </li>

<li  data-id="686" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega dropdown">
  <a href="/?q=node/233"  class="dropdown-toggle" title="Schemes">
        
    Schemes          <span class="caret"></span>
          </a>
  <div  data-class="" data-width="" class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child">
  <div class="mega-dropdown-inner">
    <div  class="tb-megamenu-row row-fluid">
  <div  data-class="" data-width="12" data-hidewcol="0" id="tb-megamenu-column-7" class="tb-megamenu-column span12  mega-col-nav">
  <div class="tb-megamenu-column-inner mega-inner clearfix">
        <ul  class="tb-megamenu-subnav mega-nav level-1 items-4">
  <li  data-id="687" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="/?q=node/232" >
        
    DILRMP          </a>
  </li>

<li  data-id="688" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="/?q=node/144"  title="Vasundhara">
        
    Vasundhara          </a>
  </li>

<li  data-id="689" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="/?q=node/143"  title="Mo Jami Mo Diha">
        
    Mo Jami Mo Diha          </a>
  </li>

<li  data-id="690" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="/?q=node/324" >
        
    Land Pass Book          </a>
  </li>
</ul>
  </div>
</div>
</div>
  </div>
</div>
</li>

<li  data-id="759" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega">
  <a href="/?q=node/282" >
        
    Tender & Advt.          </a>
  </li>
</ul>
      </div>
  </div>
  </div>
</div>
  </div>
      								        </div>
    <!-- menu end-->
  </div>
</div>




<div class="black-div"></div>
<div class="container">
<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="col-md-8 col-sm-8 col-xs-12"> 
    <!---Banner Slider--->
    <div id="wowslider-container">
      <div class="ws_images">
          <div class="region region-slider">
    <div id="block-views-slider-block-1" class="block block-views">

    
  <div class="content">
    <div class="view view-slider view-id-slider view-display-id-block_1 view-dom-id-b3e5fed4cfdbe3d5fd95b3632c49b5ba">
        
  
  
      <div class="view-content">
      <div id="views-bootstrap-carousel-1" class="views-bootstrap-carousel-plugin-style carousel slide" >
      <!-- Carousel indicators -->
    <ol class="carousel-indicators">
              <li data-target="#views-bootstrap-carousel-1" data-slide-to="0" class="active"></li>
          </ol>
  
  <!-- Carousel items -->
  <div class="carousel-inner">
          <div class="item active">
          
  <div class="views-field views-field-field-add-slider">        <div class="field-content"><img typeof="foaf:Image" src="http://revenueodisha.gov.in/sites/default/files/styles/slider_910x358/public/Slider/Meeting_03-01-19.jpeg?itok=fOR9IyuQ" width="675" height="285" alt="" /></div>  </div>      </div>
      </div>

      <!-- Carousel navigation -->
    <a class="carousel-control left" href="#views-bootstrap-carousel-1" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="carousel-control right" href="#views-bootstrap-carousel-1" data-slide="next">
      <span class="icon-next"></span>
    </a>
  </div>
    </div>
  
  
  
  
  
  
</div>  </div>
</div>
  </div>
      </div>
      
      <!---End Banner Slider---> 
      
      
      
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="region region-ministers">
    <div id="block-block-39" class="block block-block">

    
  <div class="content">
    <div class="profile-section">
        <div class="row margin0" id="offProfileSection"> 
        <div class="col-lg-12 col-sm-12 padding-0 col-xs-12 right-border   otherClass" title="Shri Sudam Marndi"> 
        <div class="profile-box screenReader" tabindex="15"> <img src="static/images/sudam.jpg" alt="Shri Sudam Marndi">
        <div class="mst-details">
<h5 style="font-weight:bolder;font-size:18px;color: #2a394d;">ଶ୍ରୀ ସୁଦାମ ମାର୍ଣ୍ଡି </h5> <p style="font-weight:bolder;font-size:18px;color: #2a394d;">ମାନ୍ୟବର ମନ୍ତ୍ରୀ </p>
<h5 class="">Shri Sudam Marndi</h5>  <p style="font-weight:bolder;">Hon'ble Cabinet Minister</p>
</div>
        <div class="clearfix"></div> 
        </div> </div> 
        
        <div class="col-lg-12 col-sm-12 padding-0 col-xs-12 right-border   otherClass" title="Nikunja B. Dhal, IAS"> 
        <div class="profile-box screenReader" tabindex="16"> <img src="static/images/NB_Dhal.jpeg" alt="Nikunja B. Dhal, IAS">
         <div class="mst-details">
<h5 style="font-weight:bolder;font-size:18px;color: #2a394d;"> ନିକୁଞ୍ଜ  ଧଳ , ଭା. ପ୍ର. ସେ. </h5> <p style="font-weight:bolder;font-size:18px;color: #2a394d;"> ପ୍ରମୁଖ ଶାସନ ସଚିବ </p>
<h5 class="">Nikunja B. Dhal, IAS</h5>  <p style="font-weight:bolder;">Principal Secretary</p>
</div>
         <div class="clearfix"></div> 
         </div> 
        </div> 
        
        </div>
      </div>  </div>
</div>
  </div>
      </div>
  </div>
  </div>
  <div class="clearfix"></div>
  
 <!---News Section--->
<div class="row">
  <div class="departments-bg">
				<div class="col-md-12 col-sm-12">
                <div class="news-flash">
						 <a href="?q=news-and-events" class="news-heading" target="_blank">
       						<i><img src="static/images/govt.png" class="mCS_img_loaded" width="30" height="35"></i> What's New</a>
					<div class="news-content">
                                          								  <div class="region region-newsnevents">
    <div id="block-views-news-and-events-block" class="block block-views">

    
  <div class="content">
    <div class="view view-news-and-events view-id-news_and_events view-display-id-block view-dom-id-ee40ceb585317147b0b9394400deee81">
        
  
  
      <div class="view-content">
      <!-- start scroll -->
<div class='view view-news_and_events'><div class='view-content view-content-news_and_events'><div id='views-ticker-fade-container-news_and_events'><ul id='views-ticker-fade-news_and_events'><li class='views-fade-item views-fade-item-news_and_events'><span class='views-fade-tick-field views-fade-tick-field-node_title'>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="#">Relinquishment of government land alienated / recorded in favour of different Departments of State Government which are surplus to their requirement or lying unutilized.</a></span>  </div></span></li><li class='views-fade-item views-fade-item-news_and_events'><span class='views-fade-tick-field views-fade-tick-field-node_title'>
  <div class="views-field views-field-title">        <span class="field-content"><a href="#">Transfer Notification of OAS-A(JB) Officers</a></span>  </div></span></li><li class='views-fade-item views-fade-item-news_and_events'><span class='views-fade-tick-field views-fade-tick-field-node_title'>
  <div class="views-field views-field-title">        <span class="field-content"><a href="#">Deployment of ORS officers to Puri District to assist District Administration, Puri</a></span>  </div></span></li><li class='views-fade-item views-fade-item-news_and_events'><span class='views-fade-tick-field views-fade-tick-field-node_title'>
  <div class="views-field views-field-title">        <span class="field-content"><a href="#">Elimination of fraction of rupee in respect of annual rent, cess, nistar cess and water rate</a></span>  </div></span></li><li class='views-fade-item views-fade-item-news_and_events'><span class='views-fade-tick-field views-fade-tick-field-node_title'>
  <div class="views-field views-field-title">        <span class="field-content"><a href="#">ଖାସମାହାଲ, ନଜୁଲ, ଗ୍ରାମକଣ୍ଠ ପରମ୍ବୋକ କିମ୍ବା ଆବାଦୀ ଜମିରେ ବାସ କରୁଥିବା ବ୍ୟକ୍ତି ମାନଙ୍କ ନାମରେ ସେହି ଜମିକୁ ରୟତି ସ୍ଵତ୍ବରେ ରେକର୍ଡ କରିବା ପାଇଁ ନିର୍ଦ୍ଧିଷ୍ଟ ସମୟ ସୀମା ମଧ୍ୟରେ ଆବେଦନ ପତ୍ର ଦାଖଲ କରିବା ସମ୍ବନ୍ଧରେ ।</a></span>  </div></span></li><li class='views-fade-item views-fade-item-news_and_events'><span class='views-fade-tick-field views-fade-tick-field-node_title'>
  <div class="views-field views-field-title">        <span class="field-content"><a href="#">Deployment of OAS &amp; ORS officers to Puri District to assist District Administration, Puri</a></span>  </div></span></li></ul></div></div></div>
<!-- end scroll -->
    </div>
    
    
  
</div>  </div>
</div>
  </div>
      								 
						</div>
                            <div class="clearfix"></div>
					</div>
                 </div>
                
                <div class="clearfix"></div>
            
		</div>
	</div>
  <!---End News Section--->
  
<!-- gallery section -->

<br>
<br>
  
<section class="page1_header">
<div class="grid_4 row">
    <div class="col-lg-4">
 		<a href="?q=gallery" class="banner " style="width: 100%;"><div class="maxheight" style="height: 50px;"><div class="box_inner">
            <div class="fa fa-picture-o"></div>Photo Gallery</div></div>
        </a>
    </div>
    <div class="col-lg-4">
          <a href="#" class="banner " style="width: 100%;"><div class="maxheight" style="height: 50px;"><div class="box_inner">
            <div class="fa fa-video-camera"></div>Video Gallery</div></div>
          </a>
     </div>
    <div class="col-lg-4">
        <a href="#" class="banner " style="width: 100%;"><div class="maxheight" style="height: 50px;"><div class="box_inner">
            <div class="fa fa-map-marker"></div>Site Map</div></div>
        </a>
    </div>            
</div>
</section>
   
<!-- gallery section End-->

<!-- All important Links -->

<div class="bg-white">
<div id="zoom">
<div class="az-large">
<div class="row">
<div class="col-lg-12">
<div class="page-header">
<h3>
<h3>All Important Links</h3>
</h3>
<div id="breadcrumb"><h2 class="element-invisible">You are here</h2><div class="breadcrumb"><a href="/">Home</a></div></div>
 
    <div class="tabs">  </div>
              </div>
           
<div align="justify">
            <p>                      <div class="region region-content">
    <div id="block-system-main" class="block block-system">

    
  <div class="content">
    
<div id="node-269" class="node node-page clearfix" about="/?q=node/269" typeof="foaf:Document">

      <span property="dc:title" content="All Important Links" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>  
  <div class="content clearfix">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><div class="other-important-liks-sec " id="impLinkSec">

<div class="col-md-3 col-sm-6 col-xs-6 padding-right-15">
<div class="imp-link  screenReader" tabindex="26"> 
<a href="/edis" target="_blank" title="edespatch">  <div class="imp-link-logo"> <img src="static/images/UP_link_1466674696.png" class="pull-left"></div><div class="link-address ">e-Despatch </div><div class="clearfix"></div></a>
</div>
</div>
                          <div class="col-md-3 col-sm-6 col-xs-6 padding-right-15">
                          <div class="imp-link  screenReader" tabindex="27"> 
						 
                          <a href="/login_1" target="_blank" title="Odisha Govt. Portal">  <div class="imp-link-logo"> <img src="static/images/UP_link_1466674696.png" class="pull-left"></div><div class="link-address ">Odisha.gov.in</div><div class="clearfix"></div></a>
						  
                          </div>
						
                          </div>
                          
                          <div class="col-md-3 col-sm-6 col-xs-6 padding-right-15">
                          <div class="imp-link  screenReader" tabindex="28"> 
						 
                          <a href="/rccms" target="_blank" title="RCCMS">  <div class="imp-link-logo"> <img src="static/images/UP_link_1466674696.png" class="pull-left"></div><div class="link-address ">RCCMS</div><div class="clearfix"></div></a>
						  
                          </div>
						
                          </div>
                          
                          <div class="col-md-3 col-sm-6 col-xs-6 padding-right-15">
                          <div class="imp-link  screenReader" tabindex="29"> 
						 
                          <a href="/eabhi" target="_blank" title="dolr.">  <div class="imp-link-logo"> <img src="static/images/UP_link_1466674696.png" class="pull-left"></div><div class="link-address ">e-Abhijoga</div><div class="clearfix"></div></a>
						  
                          </div>
						
                          </div>
                          
                          <div class="col-md-3 col-sm-6 col-xs-6 padding-right-15">
                          <div class="imp-link  screenReader" tabindex="30"> 
						 
                          <a href="http://bhulekh.ori.nic.in" target="_blank" title="bhulekh">  <div class="imp-link-logo"> <img src="static/images/UP_link_1466674696.png" class="pull-left"></div><div class="link-address ">Bhulekh</div><div class="clearfix"></div></a>
						  
                          </div>
						
                          </div>
                          <div class="col-md-3 col-sm-6 col-xs-6 padding-right-15">
                          <div class="imp-link  screenReader" tabindex="31"> 
						 
                          <a href="http://www.osdma.org/" target="_blank" title="OSDMA">  <div class="imp-link-logo"> <img src="static/images/UP_link_1466674696.png" class="pull-left"></div><div class="link-address ">OSDMA</div><div class="clearfix"></div></a>
                          
						  
                          </div>
						
                          </div>
<div class="col-md-3 col-sm-6 col-xs-6 padding-right-15">
                          <div class="imp-link  screenReader" tabindex="32"> 
						 
                          <a href="http://srcodisha.nic.in/" target="_blank" title="SRC">  <div class="imp-link-logo"> <img src="static/images/UP_link_1466674696.png" class="pull-left"></div><div class="link-address ">SRC </div><div class="clearfix"></div></a>
                          
						  
                          </div>
						
                          </div>  
                          <div class="col-md-3 col-sm-6 col-xs-6 padding-right-15">
                          <div class="imp-link  screenReader" tabindex="37"> 
						 
                          <a href="https://www.shcilestamp.com/" target="_blank" title="StockHolding">  <div class="imp-link-logo"> <img src="static/images/UP_link_1466674696.png" class="pull-left"></div><div class="link-address ">e-Stamping</div><div class="clearfix"></div></a>
                          
						  
                          </div>
						
                          </div>
                          
                          <div class="col-md-3 col-sm-6 col-xs-6 padding-right-15">
                          <div class="imp-link  screenReader" tabindex="33"> 
						 
                          <a href="http://rotiodisha.nic.in/" target="_blank" title="ROTI">  <div class="imp-link-logo"> <img src="static/images/UP_link_1466674696.png" class="pull-left"></div><div class="link-address ">ROTI</div><div class="clearfix"></div></a>
                          
						  
                          </div>
						
                          </div>
                          
                          <div class="col-md-3 col-sm-6 col-xs-6 padding-right-15">
                          <div class="imp-link  screenReader" tabindex="34"> 
						 
                          <a href="https://www.igrodisha.gov.in" target="_blank" title="IGR">  <div class="imp-link-logo"> <img src="static/images/UP_link_1466674696.png" class="pull-left"></div><div class="link-address ">IGR Portal</div><div class="clearfix"></div></a>
						  
                          </div>
						
                          </div>
                          <div class="col-md-3 col-sm-6 col-xs-6 padding-right-15">
                          <div class="imp-link  screenReader" tabindex="35"> 
						 
                          <a href="http://bhulekh.ori.nic.in/TahasilWebsite/TahasilInfoWeb.aspx" target="_blank" title="Cause List">  <div class="imp-link-logo"> <img src="static/images/UP_link_1466674696.png" class="pull-left"></div><div class="link-address ">Tahasil Information</div><div class="clearfix"></div></a>
                         </div>
			 </div>
                          <div class="col-md-3 col-sm-6 col-xs-6 padding-right-15">
                          <div class="imp-link  screenReader" tabindex="36"> 
						 
                          <a href="http://courtcaserevodisha.nic.in" target="_blank" title="CCMS">  <div class="imp-link-logo"> <img src="static/images/UP_link_1466674696.png" class="pull-left"></div><div class="link-address ">CCMS</div><div class="clearfix"></div></a>
                          </div>
	                   </div>
<div class="col-md-3 col-sm-6 col-xs-6 padding-right-15">
                          <div class="imp-link  screenReader" tabindex="32"> 
						 
                          <a href="http://ortpsa.in/" target="_blank" title="ORTPSA">  <div class="imp-link-logo"> <img src="static/images/UP_link_1466674696.png" class="pull-left"></div><div class="link-address ">ORTPS </div><div class="clearfix"></div></a>
                         </div>
			  </div>  

                          <div class="col-md-3 col-sm-6 col-xs-6 padding-right-15">
                          <div class="imp-link  screenReader" tabindex="32"> 
			  <a href="http://edistrictodisha.gov.in/edistrict/index.php" target="_blank" title="e-District">  <div class="imp-link-logo"> <img src="static/images/UP_link_1466674696.png" class="pull-left"></div><div class="link-address ">e-District</div><div class="clearfix"></div></a>
   		          </div>
                          </div>

                          <div class="col-md-3 col-sm-6 col-xs-6 padding-right-15">
                          <div class="imp-link  screenReader" tabindex="32"> 
			  <a href="http://www.ceoorissa.nic.in/" target="_blank" title="CEO Odisha">  <div class="imp-link-logo"> <img src="static/images/UP_link_1466674696.png" class="pull-left"></div><div class="link-address ">CEO Odisha </div><div class="clearfix"></div></a>
                        </div>
			</div>   
                          
                       <div class="col-md-3 col-sm-6 col-xs-6 padding-right-15">
                      <div class="imp-link  screenReader" tabindex="32"> 
			  <a href="https://odishalandrevenue.nic.in/" target="_blank" title="Online Land Revenue">  <div class="imp-link-logo"> <img src="static/images/UP_link_1466674696.png" class="pull-left"></div><div class="link-address ">Online Land Revenue</div><div class="clearfix"></div></a>
                        </div>
			</div>   
 </div></div></div>  </div>

    
</div>
  </div>
</div>
  </div>
                     </p>    
                      </div>  
                        
           </div></div>      </div>

         

</div>
  </div>
</div>
  
      <!-- Important Link End-->
<!-- Communication -->

<div class="bg-white">
<div id="zoom">
<div class="small">
<div class="row">
                <div class="col-lg-8">
                <div class="panel about-us">
                <div class="panel-heading">
                <h3 class="sidebar-title">Communications</h3>
                </div>
                <div class="well bg-department">
<div class="col-md-4 col-sm-4 ">
                <div id="DepartmentsList">

            <div class="departmentPortlet2">
  <div class="region region-section-first">
    <div id="block-block-40" class="block block-block">

    
  <div class="content">
    <ul class="dept_list_ul">
<li class="dept_list dark_blue_li"><a href="?q=node/266" target="_blank"> Odisha Right to Public Services</a></li>
<li class="dept_list tweeter_clr"><a href="?q=node/296" target="_blank"> Government land</a></li> 
 <li class="dept_list dark_blue_li"><a href="?q=node/274" target="_blank">Settlement & Consolidation</a></li>
<li class="dept_list tweeter_clr"><a href="?q=node/271" target="_blank"> Land Reforms </a></li>
<li class="dept_list dark_blue_li"><a href="?q=node/280" target="_blank">Land Acquisition</a></li>
</ul>  </div>
</div>
  </div>

</div>
</div>
                </div>
<div class="col-md-4 col-sm-4 ">
<div id="DepartmentsList">

<div class="departmentPortlet2">
  <div class="region region-section-middle">
    <div id="block-block-41" class="block block-block">

    
  <div class="content">
    <ul class="dept_list_ul"><li class="dept_list dark_blue_li"><a href="?q=node/272" target="_blank" title="sss"> DILRMP</a></li>
<li class="dept_list tweeter_clr"><a href="?q=node/268" target="_blank" title="sss"> Sairat Sources</a></li>
<li class="dept_list dark_blue_li"><a href="?q=node/264" target="_blank" title="sss"> Mutation</a></li>
<li class="dept_list tweeter_clr"><a href="?q=node/276" target="_blank" title="sss"> Distribution of Homestead Land</a></li>
<li class="dept_list dark_blue_li"><a href="?q=node/279" target="_blank" title="sss"> Resettlement and Rehabilitation</a></li>
</ul>  </div>
</div>
  </div>

</div>
</div>
                </div>
<div class="col-md-4 col-sm-4 ">
                <div id="DepartmentsList">

            <div class="departmentPortlet2">
  <div class="region region-section-last">
    <div id="block-block-42" class="block block-block">

    
  <div class="content">
    <ul class="dept_list_ul">
<li class="dark_blue_li" ><a href="?q=node/267" target="_blank" title="sss"> Registration</a></li>
<li class="tweeter_clr"><a href="?q=node/273" target="_blank" title="sss"> Forest Rights Act</a></li>
<li class="dark_blue_li"><a href="?q=node/275" target="_blank" title="sss"> User Fees</a></li>
<li class="tweeter_clr"><a href="?q=node/277" target="_blank" title="sss">  Conversion</a></li>
<li class="dark_blue_li"><a href="?q=node/278" target="_blank" title="sss"> Census</a></li> 
</ul>  </div>
</div>
  </div>

</div>
</div>
                </div>
             </div>          
              <div class="clearfix"></div>                
              <div class="clearfix"></div>
                <div class="well bg-department">

        
<div class="col-md-4 col-sm-4 ">
                <div id="DepartmentsList">

            <div class="departmentPortlet2">
  <div class="region region-section-block1">
    <div id="block-block-46" class="block block-block">

    
  <div class="content">
    <ul><li class="dark_blue_li"><a href="?q=node/270" target="_blank"> Misc. &amp; Caste Certificates</a></li>
<li class="tweeter_clr"><a href="?q=node/281" target="_blank"> ADMs’ / Collectors' Conference</a></li>
<li class="tweeter_clr"><a href="?q=node/283" target="_blank"> Activity Report</a></li>
<li class="dark_blue_li"><a href="?q=node/284" target="_blank"> Legal Matters</a></li>
</ul>  </div>
</div>
  </div>


</div>
</div>
                </div>
<div class="col-md-4 col-sm-4 ">
                <div id="DepartmentsList">

            <div class="departmentPortlet2">
  <div class="region region-section-block2">
    <div id="block-block-47" class="block block-block">

    
  <div class="content">
    <ul>
<li class="dark_blue_li dept_list"><a href="?q=node/285" target="_blank" title="sss"> Disciplinary Proceedings</a></li>
<li class="dept_list tweeter_clr"><a href="?q=node/286" target="_blank" title="sss"> Revenue Estate Management</a></li>
<li class="dark_blue_li dept_list"><a href="?q=node/287" target="_blank" title="sss"> Committees</a></li>
<li class="dark_blue_li dept_list"><a href="?q=node/289" target="_blank" title="sss"> Sanction Order / Fin Matters</a></li>
</ul>  </div>
</div>
  </div>

</div>
</div>
                </div>
<div class="col-md-4 col-sm-4 ">
                <div id="DepartmentsList">

            <div class="departmentPortlet2">
  <div class="region region-section-block3">
    <div id="block-block-48" class="block block-block">

    
  <div class="content">
    <ul>
<li class="tweeter_clr"><a href="?q=node/291" target="_blank" title="sss"> Other Important Letters</a></li>
<li class="dark_blue_li"><a href="?q=node/292" target="_blank" title="sss"> Declaration of Holidays</a></li>
<li class="tweeter_clr"><a href="?q=node/293" target="_blank" title="sss">  Re-org. of Rev Field Admns</a></li>
<li class="dark_blue_li"><a href="?q=node/294" target="_blank" title="sss"> Annual Establishment Review</a></li> 
</ul>  </div>
</div>
  </div>

</div>
</div>
                </div>
                </div>
         </div>
         </div>
         
                		  <div class="region region-governance">
    <div id="block-block-21" class="block block-block">

    
  <div class="content">
    <div class="col-md-4 col-sm-4 col-xs-12">
       <!--<a href="?q=node/458" target="_blank"><img src="http://revenueodisha.gov.in/sites/all/themes/revenue/images/egovernment.png" alt="egovernment"></a>-->
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
      <a href="http://bhulekh.ori.nic.in/statedashboard/home.aspx" target="_blank"><img src="static/images/dashboard.png" alt="dashboard"></a>
        </div>
         <!-- media-->
         <div class="col-md-4 col-sm-4 col-xs-12">
       <a href="http://bhulekh.ori.nic.in/ortpsa/index.html" target="_blank"><img src="static/images/ortps.png" alt="ortps"></a>
        </div>
  </div>
</div>
  </div>
		        
       
        
         <div class="col-md-4 col-sm-4 col-xs-12">
            <!--<div class="col_head news_head">
<div class="head_icon news_event"></div>
<h2>Important Links</h2>
</div>-->
                 <div class="panel-body">
                 <div class="fbiframe">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="twitter-sec fa-border">
								<!-- Nav tabs -->
								<div class="socialbtnnew"> 		<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#facebooktab" aria-controls="facebooktab" role="tab" data-toggle="tab"><i class="fa fa-facebook"></i> Facebook</a></li>
			<li role="presentation"><a href="#instagramtab" aria-controls="instagramtab" role="tab" data-toggle="tab"><i class="fa fa-twitter"></i>Twitter</a></li>
			</ul>
            </div>
								<!-- Tab panes -->
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane" id="instagramtab">
										<div>

      					        					  <div class="region region-twitter">
    <div id="block-block-43" class="block block-block">

    
  <div class="content">
    <a class="twitter-timeline" data-lang="en" data-width="380" data-height="300" data-link-color="#2B7BB9" href="https://twitter.com/@rdmodisha">For Testing Account</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>  </div>
</div>
  </div>
      					  
      					  
											
											


										</div>

										<!--<div class="clear10"></div>-->
									</div>
									<div role="tabpanel" class="tab-pane active" id="facebooktab">
										<div class="facebook-sec">
											<!--<h1><i class="fa fa-facebook"></i>Facebook</h1>-->
                                                  					   																			  <div class="region region-facebook">
    <div id="block-block-44" class="block block-block">

    
  <div class="content">
    <div class="fb-page fb_iframe_widget" style="width:100%" data-href="https://www.facebook.com/CMO.Odisha/" data-tabs="timeline" data-height="400" data-width="200" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=567945796926256&amp;container_width=379&amp;height=300&amp;hide_cover=true&amp;href=https%3A%2F%2Fwww.facebook.com%2FCMO.Odisha%2F&amp;locale=en_GB&amp;sdk=joey&amp;show_facepile=false&amp;small_header=true&amp;tabs=timeline&amp;width=370"><span style="vertical-align: bottom; width: 370px; height: 300px;">
                                            
                                            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Frevenuedepartmentodisha&amp;tabs=timeline&amp;width=370&amp;height=435&amp;small_header=true&amp;adapt_container_width=true&amp;hide_cover=true&amp;show_facepile=true&amp;appId" width="370" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
                                            
                                            </span></div>

  </div>
</div>
  </div>
                                                                          
      					  
											
										</div>
									</div>
								</div>
							</div>
						</div>


					</div>
					<div class="clear10"></div>
					

				</div>
                 </div>
</div>
        </div>
        
        
             

<div class="clearfix"></div>
</div>
</div>
        
    

<div class="clearfix"></div>

</div>
<!-- Communiaction End -->


<!-- Container fluid footer links -->
<div class="container-fluid footer-top-link">
<div class="container">
<div class="row">
<div class="col-lg-12">
				  <div class="region region-govlink">
    <div id="block-block-34" class="block block-block">

    
  <div class="content">
             <div class="col-lg-3">
                            <a href="https://www.india.gov.in/" target="_blank"><img src="static/images/india.png" alt="indiagov" class="img-responsive center-block"/></a>
                        </div>
                        <div class="col-lg-3">
                            <a href="http://odisha.gov.in/" target="_blank"><img src="static/images/odisha-gov.in.jpg" alt="Govt. Of Odisha" class="img-responsive center-block"/></a>
                        </div>
<div class="col-lg-3">
                            <a href="http://oddistricts.nic.in/" target="_blank"><img src="static/images/oddristricts.nic.in.jpg" alt="Districts of Odisha" class="img-responsive center-block"/></a>
                        </div>
               
                        <div class="col-lg-3">
                            <a href="https://cmgcodisha.gov.in/" target="_blank"><img src="static/images/e-Abhijog.jpg" alt="e-Abhijoga" class="img-responsive center-block"/></a>
                        </div>
</br>  </div>
</div>
  </div>
		
</div>
</div>
</div>
</div>
<!-- footer-->

<div class="container-fluid footer-top-link">


<br>

<div class="container">
<div class="row">



<div class="col-md-3 col-sm-6 col-lg-3">
<div class="section">
		 
</div>    
</div>


<div class="col-md-3 col-sm-6 col-lg-3">
<div class="section">
		 
</div>    
</div>

<div class="col-md-3 col-sm-6 col-lg-3">
<div class="section">
		 
</div>    
</div>

<div class="col-md-3 col-sm-6 col-lg-3">
<div class="section">
		 
</div>    
</div>
</div>
</div>


</div>
<div class="container-fluid bg-color">
<div class="container">
<div class="col-lg-12">
<div class="col-lg-9">
				  <div class="region region-disclaimer">
    <div id="block-block-27" class="block block-block">

    
  <div class="content">
    <div class="footer-text">
                        Disclaimer : This is the official website of Revenue & Disaster Management Department, Bhubaneswar. The website is developed and hosted by National Informatics Center. Revenue & Disaster Management Department is the owner of the website.
                    </div>  </div>
</div>
  </div>
		
</div>
<div class="col-lg-3">
		
</div>


</div>


</div>
</div>



<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/styleswitch.js"></script>
<script src="static/js/custom.js"></script>
    </body>
</body>
</html>

<!--END FOOTER SECTION-->
