@charset "utf-8";
/* CSS Document */

.breakingNews1{width:100%;height:40px;background:#FFF;position:relative;border:solid 2px #2096cd;overflow:hidden;background: #efefef;}
.breakingNews1>.bn-title{width:auto; height:40px; display:inline-block; background:#2096cd; position:relative;}
.breakingNews1>.bn-text
{
    position: absolute;
    top: 8px;
    left: 205px;
    right: 15px;
    
    }
    .breakingNews1>.bn-text marquee
    {
        white-space:nowrap;
    }
.breakingNews1>.bn-title>h2{display:inline-block; margin:0; padding:0 20px; line-height:37px; font-size:20px; color:#FFF; height:40px; box-sizing:border-box;}
.breakingNews1>.bn-title>span{width: 0;position:absolute;right: -15px;top: 0;height: 0;border-style: solid;border-width: 20px 0 20px 15px;border-color: transparent transparent transparent #2096cd;}

.breakingNews1>ul{padding:0; margin:0; list-style:none; position:absolute; left:210px; top:0; right:40px; height:40px; font-size:16px;}
.breakingNews1>ul>li{position:absolute; height:40px; width:100%; line-height:40px; display:none;}
.breakingNews1>ul>li span{color: #333!important;font-weight: 100!important;}

.breakingNews1>ul>li>a{text-decoration:none; color:#333; overflow:hidden; display:block; white-space: nowrap;text-overflow: ellipsis; font-weight:normal;}
.breakingNews1>ul>li>a>span{color:#2096cd;}
.breakingNews1>ul>li>a:hover{color:#2096cd;}

.breakingNews1>.bn-navi{width:40px; height:40px; position:absolute; right:0; top:0; opacity:0;}
.breakingNews1>.bn-navi>span{width:20px; height:40px; position:absolute; top:0; cursor:pointer; opacity:0.3; background-image:url(../img/bn-arrows.png); background-repeat:no-repeat;}
.breakingNews1>.bn-navi>span:hover{opacity:1;}
.breakingNews1>.bn-navi>span:first-child{background-position:left center; left:0;}
.breakingNews1>.bn-navi>span:last-child{background-position:right center; right:0;}
.breakingNews1:hover .bn-navi{opacity:1;}

.bn-large{height:50px;}
.bn-large>.bn-title{height:50px;}
.bn-large>.bn-title>h2{line-height:50px; font-size:26px;}
.bn-large>.bn-title>span{top:15px;}
.bn-large>ul{height:50px; left:250px; font-size:20px;}
.bn-large>ul>li{height:50px; line-height:50px;}
.bn-large>.bn-navi{height:50px; }
.bn-large>.bn-navi>span{height:50px;}

.bn-small{height:30px;}
.bn-small>.bn-title{height:30px;}
.bn-small>.bn-title>h2{line-height:30px; font-size:18px;}
.bn-small>.bn-title>span{top:5px;}
.bn-small>ul{height:30px; left:200px; font-size:14px;}
.bn-small>ul>li{height:30px; line-height:30px;}
.bn-small>.bn-navi{height:30px; }
.bn-small>.bn-navi>span{height:30px;}

/*color styles -----------------------------*/
.bn-red{border-color:#f44a56;}
.bn-red>.bn-title{background:#f44a56;}
.bn-red>.bn-title>span{border-left-color:#f44a56;}
.bn-red>ul>li>a:hover,.bn-red>ul>li>a>span{color:#f44a56;}

.bn-green{border-color:#27ae60;}
.bn-green>.bn-title{background:#27ae60;}
.bn-green>.bn-title>span{border-left-color:#27ae60;}
.bn-green>ul>li>a:hover,.bn-green>ul>li>a>span{color:#27ae60;}

.bn-purple{border-color:#795aac;}
.bn-purple>.bn-title{background:#795aac;}
.bn-purple>.bn-title>span{border-left-color:#795aac;}
.bn-purple>ul>li>a:hover,.bn-purple>ul>li>a>span{color:#795aac;}

.bn-turquoise{
    border: none;
}
.bn-turquoise>.bn-title{background: #e56353;}
.bn-turquoise>.bn-title>span{border-left-color: #e56353;}
.bn-turquoise>ul>li>a:hover,.bn-turquoise>ul>li>a>span{color:#1fb5ad;}

.bn-orange{border-color:#f46e27;}
.bn-orange>.bn-title{background:#f46e27;}
.bn-orange>.bn-title>span{border-left-color:#f46e27;}
.bn-orange>ul>li>a:hover,.bn-orange>ul>li>a>span{color:#f46e27;}

.bn-black{border-color:#333;}
.bn-black>.bn-title{background:#333;}
.bn-black>.bn-title>span{border-left-color:#333;}
.bn-black>ul>li>a:hover,.bn-black>ul>li>a>span{color:#333;}

.bn-yellow{border-color:#d3ac23;}
.bn-yellow>.bn-title{background:#d3ac23;}
.bn-yellow>.bn-title>span{border-left-color:#d3ac23;}
.bn-yellow>ul>li>a:hover,.bn-yellow>ul>li>a>span{color:#d3ac23;}

.bn-light{border-color:#DDD;}
.bn-light>.bn-title{background:#DDD;}
.bn-light>.bn-title>h2{color:#333;}
.bn-light>.bn-title>span{border-left-color:#DDD;}
.bn-light>ul>li>a:hover,.bn-light>ul>li>a>span{color:#DDD;}

.bn-pink{border-color:#d65aac;}
.bn-pink>.bn-title{background:#d65aac;}
.bn-pink>.bn-title>span{border-left-color:#d65aac;}
.bn-pink>ul>li>a:hover,.bn-pink>ul>li>a>span{color:#d65aac;}

.bn-darkred{border-color:#d01e1e;}
.bn-darkred>.bn-title{background:#d01e1e;}
.bn-darkred>.bn-title>span{border-left-color:#d01e1e;}
.bn-darkred>ul>li>a:hover,.bn-darkred>ul>li>a>span{color:#d01e1e;}

.bn-bordernone{border:none;}
.bn-italic>ul>li>a{font-style:italic;}
.bn-bold>ul>li>a{font-weight:bold;}

.breakingNews1>.bn-navi,
.breakingNews1>ul>li>a,
.breakingNews1>.bn-navi>span{transition: .25s linear;-moz-transition: .25s linear;-webkit-transition: .25s linear;}