@font-face {
	font-family: digital;
	src: url(../fonts/digital.ttf);
}
@font-face {
	font-family: Raleway;
	src: url(../fonts/Raleway.ttf);
}
@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto.ttf);
}
@font-face {
	font-family: Tajawal;
	src: url(../fonts/Tajawal.ttf);
}
@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat.ttf);
}
@font-face {
	font-family: Ubuntu;
	src: url(../fonts/Ubuntu.ttf);
}
@font-face {
	font-family: Dosis;
	src: url(../fonts/Dosis.ttf);
}
@font-face {
	font-family: Exo;
	src: url(../fonts/Exo.ttf);
}
@font-face {
	font-family: Anton;
	src: url(../fonts/Anton.ttf);
}

@font-face {
	font-family: TitilliumWeb;
	src: url(../fonts/TitilliumWeb.ttf);
}
@font-face {
	font-family: Kanit;
	src: url(../fonts/Kanit.ttf);
}
@font-face {
	font-family: Cardo;
	src: url(../fonts/Cardo.ttf);
}
@font-face {
	font-family: Orbitron;
	src: url(../fonts/Orbitron.ttf);
}
@font-face {
	font-family: Monda;
	src: url(../fonts/Monda.ttf);
}
@font-face {
	font-family: Jura;
	src: url(../fonts/Jura.ttf);
}
