@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?i0u15s');
  src:  url('../fonts/icomoon.eot?i0u15s#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?i0u15s') format('truetype'),
    url('../fonts/icomoon.woff?i0u15s') format('woff'),
    url('../fonts/icomoon.svg?i0u15s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ico1:before {
  content: "\e900";
}
.icon-ico2:before {
  content: "\e901";
}
.icon-ico3:before {
  content: "\e902";
}
.icon-ico4:before {
  content: "\e903";
}
.icon-ico5:before {
  content: "\e904";
}
.icon-ico6:before {
  content: "\e905";
}
.icon-ico7:before {
  content: "\e906";
}
.icon-ico8:before {
  content: "\e907";
}
.icon-ico9:before {
  content: "\e908";
}
