@import url('../css/efont.css');
html, body {
	white-space: normal;
}
body {
	padding: 0px;
	margin: 0px;
	font-size: 15px;
	font-family: 'exo';
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, p, ul {
	padding: 0px;
	margin: 0px;
	
}
a{text-decoration:none!important}

.gap20{height:20px;}
.mandtext{color:#f00; font-size:.9em;}
/* Header */
.e-header-fixed {
    position: fixed;
    width: 100%;
    z-index: 100;
    background: #fff;
    box-shadow: 0 2px 5px rgba(51, 51, 51, 0.32);
    top:0;
}
.e-header-fixed .header .logo {
    width: 75%;
}
.efiles{min-height: 760px}
.e-header{
}
.header {
	border-top:5px solid #f7f7f7;
}

.header .logo {padding: 0 10px;transition:.6s;}
.header .logo a {
	text-decoration: none;
	display:block;
	
}
.header .logo a img {
	width:100%;
}
.e-header-fixed .header ul{margin-top:10px}
.header ul{float:right;         margin-top: 20px; }
.header ul li{display:inline-block;  position:relative; vertical-align:middle}
.header ul li a{border-radius:3px; font-size:1.3em; display:block; }
.header ul li.search{
    margin-right: 20px;
}
.header ul li.search .input-group{width:250px; position:relative}
.header ul li.search .form-control{border-radius: 0;border: 0;box-shadow: none;border-bottom: 1px solid #ddd;padding-left:0;}
.header ul li.search .input-group-btn{
    position: absolute;
    right: 25px;
    z-index: 999;
}
.header ul li.search .input-group-btn .btn{border-radius: 0;background: transparent;color: #ccc;border: 0;}

.header ul li.search .input-group-btn .btn:focus{color: #013d79;}
.header ul li.register span{background: #fad15d;padding: 5px;display:table;color:#000;border: 1px solid #fad15d;transition:.2s;}
.header ul li.register i{margin-right:5px;color:#5f4d04;float:left;display:table-cell;font-size: 1.5em;}
.header ul li.register a{display:table-cell;color:#5f4d04;vertical-align: middle;font-size: 1em;}


.header ul li.register span:hover{ background:#ffe269; border-color:#ffe269;}








/* Menu Section */
.menu{background:#013d79;z-index: 99;}

.menu a.respomenu{ border-radius:0; background:none;  z-index:99;background: #032d56;border: 1px solid #ffffff40; padding: 7px 12px 5px 12px; transition:.2s; display:none; margin-top:5px; }
.menu a.respomenu i{ font-size:1.5em;color:#ffffff80;}
.menu .menubar>ul{ }
.menu .menubar>ul>li{ list-style:none; float:left; position:relative; }
.menu .menubar>ul>li:last-child{border-right:none;}
.menu .menubar>ul>li>a{color:#fff; padding:10px 30px; font-size:1.1em; display:block; text-decoration:none; transition:.3s;border-bottom:5px solid #013d79}
.menu .menubar>ul>li>a:hover{ border-bottom:5px solid rgba(255,255,255,0.8)}
.menu .menubar>ul>li>a.active{ border-bottom:5px solid rgba(255,255,255,0.8)}

.menu .navbar{margin-bottom:0;    min-height: auto;}
.menu .navbar .navbar-nav>li>a {
    padding: 8px 15px;
	color: #fff;
    transition:.3s;
    position: relative;
   
}
.menu .navbar .navbar-nav>li>a:after {
    position: absolute;
    bottom:0;
    left:0;
    content: '';
    height:2px;
    width:100%;
    background: #fff;
    transition: .3s;
    transform: scaleX(0)
}
.menu .navbar .navbar-nav>li>a.active:after, .menu .navbar .navbar-nav>li>a:hover:after{
    transform: scaleX(1)

}
.e-header-fixed .menu .navbar .navbar-nav>li>a {
    padding: 5px 10px;
	color: #fff;
	transition:.3s;
}
.menu .navbar .navbar-nav>li>a.active, .menu .navbar .navbar-nav>li>a:hover {border-bottom:0}
.menu .navbar .navbar-collapse{padding: 0;}
.menu .navbar-inverse {
    background-color: rgba(34, 34, 34, 0);
    border-color: rgba(8, 8, 8, 0);
    border: 0;
}
/* Banner Section */
.banner {
    height: auto;
    background: #23588e;
    padding: 30px 0 10px 0;
    position: relative;
    background-image: url(../images/letter.png), url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom right, 0% 17%;
    background-size: 15%, 110%;
	background-size: 15%, cover;
}
.banner h2{ text-transform:uppercase; color:#000; }
.today h2{margin-bottom:20px;position: relative;text-indent: 70px;}
.today h2>img{position: absolute;left: 0;top: 0;}
.today ul{margin-left:70px}
.today ul li{ list-style:none; margin-bottom:10px;}
.today ul li>a{display:block; }
.today ul li>a span{display:block; line-height:1em;font-size:3em; font-family: digital; color:#fff; letter-spacing:3px;}
.today ul li>a small{display:block; color:#00CBFF; font-size:1.1em;}


.tilldate h2{margin-bottom:20px;}
.tilldate h2>img{ position: absolute; left: -80px; top:-10px;}
.tilldate ul{}
.tilldate ul li{ list-style:none; margin-bottom:10px;}
.tilldate ul li>a{display:block; }
.tilldate ul li>a span{display:block; line-height:1em;font-size:3em; font-family: digital; color:#fff; letter-spacing:3px; }
.tilldate ul li>a small{display:block; color:#00CBFF; font-size:1.1em;}


.osa h2{margin-bottom:20px; padding-left: 15px;}
.osa h2>img{ position: absolute; left: -100px; top:-10px;width: 30%;}
.osa ul li{ list-style:none; }
.osa ul li>a{display:block; text-align:left }
.osa ul li>a span{display:block; line-height:1em;font-size:3em;  color:#fff; letter-spacing:3px;font-family: digital; }
.osa ul li>a small{display:block; color:#00CBFF; font-size:1.4em;}


.banner .icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;

}
.banner .fa {
    -webkit-font-smoothing: antialiased;
    transition: 300ms all;
    position: absolute;
    
    animation: 10s floatUp ease-in infinite alternate;
    top: 100%;
	color:rgba(255,255,255,0.1);
	cursor:pointer;
	z-index:99999;
}
.banner .fa:hover{ color:rgba(255,255,255,0.3); }
    .banner .fa:before {
      display: inline-block;
    }
    .banner .fa:nth-child(odd):before {
      animation: 40s slowRotate linear;
    }
    .banner .fa:nth-child(even):before {
      animation: 30s slowRotate linear;
      animation-direction: reverse;
    }

	
 
@keyframes floatUp {
  0% { top: 110%; top: calc(100% + 2em); }
  100% { top: -25%; top: -2em; }
}

@keyframes slowRotate {
    0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

/* Home Body 1 Section */

.hbody1{ padding:20px 0; background:#fff;}
.portlet{ position:relative; padding:30px; text-align:center;display:inline-block; border-radius:5px; margin-bottom:10px; height:150px; overflow:hidden; width:100% }
.portlet:after{position:absolute; height:100%; width:100%; content:''; background:#000; top:0; left:0; z-index:1; transition:.2s; opacity:0; transform:scaley(0); transform-origin:left;}
.portlet:hover:after{ opacity:0.3; transform:scaley(.90);}
.portlet h1{color:#fff; margin-bottom:10px; z-index:9999; position:relative;}
.portlet small{color:#fff; font-size:1.3em;; z-index:9999; position:relative}
.portlet span{position:absolute; right:15px; bottom:15px;; z-index:9999; color:#ffffff40; font-size:5em;}
.portlet b{font-weight:normal;}
/* portlet colors */
.port-blue{ background:#01708c;}
.port-green{background:#1f8a70;}
.port-red{background:#f06060;}
.port-pink{background:#a44366;}
.port-cyan{background:#1ca5b8;}
.port-violet{background:#8b86ea;}
.port-yellow{background:#fbba42;}
.port-brown{background:#806a81;}
.port-parrot{background:#9ab800;}

/* padding */
.pad0{padding:0!important;}
.padl0{padding-left:0!important;}
.padr0{padding-right:0!important;}


/* Home Body 2 Section */
.hbody2{ padding:30px 0; background:#f1f1f1;}
.countbox{ text-align:center;   border-radius:5px; margin-bottom:10px; width:32.6%; border-radius:5px; overflow:hidden; margin-right:20px; box-shadow:0 3px 5px #ccc; width:100%;  }
.countbox .count-head{ background:#446986; color:#fff; padding:10px 0; display:block}
.countbox .count-body{ padding:20px 0; background:#fff;}
.countbox .count-body span{ display:inline-block; width:40%; border-right:3px solid #ccc;}
.countbox .count-body span:last-child{ width:59%; border-right:none;}
.countbox .count-body span h3{ font-size:3.5em; margin-bottom:5px;color:#000;}
.countbox .count-body span small{font-size:1.2em;}
.counterstyle{color:#fff;font-size:3em;font-family: digital;letter-spacing: 3px;line-height: 1em;display: block;}

.hbody0{padding:30px 0; padding-bottom:0;background:#fff;font-family: Exo; background-image:url(../images/dottedbg.png);}

.hbody0 table{
    border: 1px solid #ddd;
    width: 99.98%;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
    margin-bottom: 0;
    background: #fff;
    table-layout: fixed;
    border-bottom: 1px solid #efefef;

}
    .hbody0 table tr td, .hbody0 table tr th{
        border-top: 1px solid #f1f1f1;
    }
    .hbody0 table tr td:first-child, .hbody0 table tr th:first-child{width:auto;}    
    .hbody0 table tr td:nth-child(3), .hbody0 table tr th:nth-child(2){width:100px;}    
    .hbody0 table tr td:nth-child(4), .hbody0 table tr th:nth-child(3){width:100px;}    

.hbody0 .table>tbody>tr:nth-of-type(odd){background:rgba(255, 255, 255, 0);}
.hbody0 table tr:nth-child(1) td:nth-child(3){border:none;}
.hbody0 table th, .hbody0 table td{ padding:8px 10px!important; color:#000;}
.hbody0 table td>a{ color:#333;}
.hbody0 table td>a:hover{ color:#333;}
.hbody0 table td:nth-child(2){background: #ffe496;text-align: center;border-color: #fff;}
.hbody0 table td:nth-child(2) a{color: #000;}
.hbody0 table th:nth-child(2){background: #FAD15D;}
.hbody0 table td:nth-child(2){text-align:right;}
.hbody0 table td:last-child{background: #57a6ff;text-align: right;}
.hbody0 table td:last-child a{color:#fff}
.hbody0 table th:last-child{background: #2f74c2;color: #fff}
.hbody0 table td:last-child{text-align: right;}
.hbody0 table label{display:none;}
.hbody0 strong{margin-bottom:10px; display:inline-block}

.hbody0 td{font-size:1.1em!important; white-space:nowrap}
.hbody0 th{font-size:1.1em!important;white-space:nowrap;    border-top: 1px solid #fff!important;    background: #f9f9f9;}
.hbody0 .importoff{margin-top:30px;}
.hbody0 .importoff h2{margin-bottom:15px;} 
.hbody0 table tr:nth-child(2) td:nth-child(1){
	position:relative;
	
}
.hbody0 table tr:nth-child(2) td:nth-child(1):after{
	position:absolute;
	top:0;
	right:0;
	background:#333;
	height:30px;
	width:2px;
}

/* Home Body 0 Section */

/* Home Body 3 Section */
.hbody3{padding:30px 0;background:#fff;font-family: Exo; background-image:url(../images/dottedbg.png); }
.hbody3 table{
    border: 1px solid #ddd;
    width: 99.98%;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
    margin-bottom: 0;
    background: #fff;
    table-layout: fixed;
    border-bottom: 1px solid #efefef;

    }
    .hbody3 table tr td, .hbody3 table tr th{
        border-top: 1px solid #f1f1f1;
    }
    .hbody3 table tr td:first-child, .hbody3 table tr th:first-child{display:none;}    
    .hbody3 table tr td:nth-child(2), .hbody3 table tr th:nth-child(2){width:80px;}    
    .hbody3 table tr td:nth-child(2), .hbody3 table tr th:nth-child(3){width:auto;}    
    .hbody3 table tr td:nth-child(4), .hbody3 table tr th:nth-child(4){width:100px;}    
    .hbody3 table tr td:nth-child(5), .hbody3 table tr th:nth-child(5){width:100px;}    
.hbody3 .table tr:not(:first-child) td:nth-child(3) a{ position:relative;}
.hbody3 .table tr:not(:first-child) td:nth-child(3) a:before{
	content: '';
	position: absolute;
	top: 2px;
	left: -39px;
	background: #ffe496;
	height: 21px;
	width: 3px;
}
.hbody3 .table>tbody>tr:nth-of-type(odd){background:rgba(255, 255, 255, 0);}
.hbody3 table tr:nth-child(1) td:nth-child(3){border:none;}
.hbody3 table th, .hbody3 table td{ padding:8px 10px!important; color:#000;}
.hbody3 table td>a{color: #000000;}
.hbody3 table td>a:hover{ color:#333;}
.hbody3 table td:nth-child(4){background: #ffe496;text-align: right;border-color: #fff;}
.hbody3 table td:nth-child(3) a{color: #000;}
.hbody3 table th:nth-child(4){background: #FAD15D;}
.hbody3 table td:nth-child(3){text-align:left;}
.hbody3 table td:last-child{background: #57a6ff;}
.hbody3 table td:last-child a{color:#fff}
.hbody3 table th:last-child{background: #2f74c2;color: #fff}
.hbody3 table td:last-child{text-align: right;}
.hbody3 table label{display:none;}
.hbody3 strong{margin-bottom:10px; display:inline-block}

.hbody3 td{font-size:1.1em!important; white-space:nowrap}
.hbody3 th{font-size:1.1em!important;white-space:nowrap;    border-top: 1px solid #fff!important;    background: #f9f9f9;}
.hbody3 .importoff{margin-top:30px;}
.hbody3 .importoff h2{margin-bottom:15px;} 
.hbody3 table tr:nth-child(2) td:nth-child(1){
	position:relative;
	
}
.hbody3 table tr:nth-child(2) td:nth-child(1):after{
	position:absolute;
	top:0;
	right:0;
	background:#333;
	height:30px;
	width:2px;
}
.hdr1{position: relative;font-weight: 100; margin-bottom: 40px;}
.hdr1:after {
    position: absolute;
    bottom: -21px;
    left: 0;
    height: 5px;
    width: 100px;
    background: #23588e;
    content: '';
}
.hdr1:before {
    position: absolute;
    bottom: -20px;
    left: 0;
    height: 2px;
    width: 150px;
    background: #eaeaea;
    content: '';
}
.hbody3 .row:first-child{ margin-bottom: 30px;}
/* Inner Table */
.mbody3{ padding:30px 0; background:#fff;}
.mbody3 table{border: 1px solid #ddd;}
.mbody3 table th{border-top:none!important;}
.mbody3 table tr:first-child{background: #fff5da!important;}
.mbody3 .table>tbody>tr:nth-of-type(odd){background:#fff;}
.mbody3 table th, .mbody3 table td{ padding:15px!important; color:#000;}
.mbody3 table th:nth-child(8), .mbody3 table td:nth-child(8){background:#d8f5fd;border-right: 5px solid #fff;vertical-align: middle;}
.mbody3 table td:nth-child(8){text-align:left;}
.mbody3 table th:last-child, .mbody3 table td:last-child{background:#fff5da;}
.mbody3 table td:last-child{text-align:left;}
.mbody3 table label{display:none;}
.tooltip1{display:block; text-align:center; width:100%}
.tooltip1 img{height:25px; width:25px; transition:.2s}
.tooltip1 img:hover{transform:scale(1.1);}

/* Home Body 4 Section */
.hbody4{
    padding: 20px 0;
    background: #212121;
    box-shadow: 1px -3px 1px #efefef;
    /* background-image: url(../images/buildings.png); */
    background-size: contain;
    background-position: center;
    }
.hbody4 h1{text-align:center;color: #fff;font-size:2em;margin-bottom: 20px;}
.hbody4 .topdept{background: #;padding:20px;text-align:center;}
.hbody4 .topdept h3{color:#de4a4a; margin-bottom:20px;}
.hbody4 .topdept li{display:inline-block; list-style:none; position:relative}
.hbody4 .topdept li a{color: #ffe496;font-size:1em;padding:10px 15px;font-weight:normal;transition:.2s;}
.hbody4 .topdept li a:hover{color: #e4cc85;}
.hbody4 .topdept li:after{position:absolute;content:'|';top:0;right:0;color: #ffe496;transform: rotate(15deg);}
.hbody4 .topdept li:last-child:after{ display:none;}
/* Footer */
.footer {
    padding: 10px 0;
    background: #3b3b3b;
    /* background-image: url(../images/fbg.png); */
    background-size: contain;
    background-position: center;
}
.footer ul{margin-top:15px;}
.footer ul li{ display:inline-block; position:relative; }
.footer ul li a{color:#999;font-size: 1em;padding:0 15px;padding-left:0;transition:.2s;}
.footer ul li a:hover{color:#fff;}
.footer ul li:after{position:absolute; content:''; height:15px; width:2px; background:#999;  top:5px; right:4px;}
.footer ul li:last-child:after{display:none;}
.footer p{color:#aaa; margin-top:10px;}
.footer p img{margin-left:10px;}


/* Contact Page */
.cbody1{ padding:30px 0; background:#fff;}
.cbody1 h1{text-align:left; margin-bottom:30px;position:relative}
.cbody1 h1:after{position:absolute; content:''; height:3px; width:10%; background:#013d79;  bottom:-10px; left:0;}
.address h2{ line-height:1.3em; font-size:1.7em;}
.address h2 small{display:block; margin-bottom:20px;line-height:1.5em; margin-top:10px;    color: #013d79;}
.address .row{ padding:5px 0; }
.address label{font-size:1.2em;    color: #013d79;}
.address label i{ margin-right:20px;font-size:1.2em; width:10%;}
.address p{font-size:1.2em; line-height:2em;}


/* Feedback Page */
.fbody1{ padding:30px 0; background:#fff;}
.fbody1 h1{text-align:left; margin-bottom:30px;position:relative}
.fbody1 h1:after{position:absolute; content:''; height:3px; width:10%; background:#013d79;  bottom:-10px; left:0;}
.fbody1 .form-horizontal .control-label{text-align:left;}
.fbody1 .form-horizontal .control-label .colon{float:right;}
.fbody1 .form-horizontal .impinfo{display:block; color:#f00;  font-weight:normal; font-size:.8em; margin-top:2px;}
.fbody1 .form-horizontal .form-group{position:relative;}
.fbody1 .form-horizontal .mandatory{color:#f00; font-size:.8em;  position:absolute; top:10px; right:5px;}
.fbody1 .form-horizontal textarea{height:80px; overflow:hidden}
.fbody1 .form-horizontal input{height:40px; margin-bottom:3px}
.fbody1 .captcha img{border:1px solid #ccc; padding:5px;}
.fbody1 .captcha a img{border:1px solid #ccc;margin-left:-4px; padding:6.5px; border-left:none;}
.form-horizontal .mandatory {
    color: #f00;
    font-size: .8em;
    position: relative;
    top: -3px;
    right: -3px;
}

/* Registration Page */
.rbody1{background:#fff;}
.rbody1 h1{text-align:left; margin-bottom:30px;position:relative;font-size: 1.7em; margin: 20px 0;}
.rbody1 h1:after{position:absolute; content:''; height:3px; width:10%; background:#013d79;  bottom:-10px; left:0;}
.rbody1 h2{text-align:left; margin-bottom:30px;position:relative; font-size:1.5em;}
.rbody1 .form-horizontal .control-label{text-align:left;}
.rbody1 .form-horizontal .control-label .colon{float:right;}
.rbody1 .form-horizontal .impinfo{display:block; color:#f00;  font-weight:normal; font-size:.8em; margin-top:2px;}
.rbody1 .form-horizontal .form-group{position:relative;}
.rbody1 .form-horizontal .mandatory{color:#f00; font-size:.8em;  position:absolute; top:10px; right:5px;}
.rbody1 .form-horizontal input{ margin-bottom:0px;}
.rbody1 .form-horizontal textarea{height:100px;    overflow: hidden;}
.remandtext{color:#f00; font-size:.9em;padding:12px 0;}



/* 404 Error Page */
.ebody1{ padding:0; background:#fff;}
.error{ text-align:center; padding:100px 0}
.error h1{font-size: 15em;color: #0f2f55;line-height: 180px;}
.error h4{font-size: 1.8em;text-align: center;color: #fabf19;margin: 10px 0;line-height:1.5em;}
.error p{font-size: 1.3em;text-align: center;color: #0f2f55;}
.error hr.hr-404 {
	border: 0;
	height: 1px;
	width: 100%;
	background-image: linear-gradient(to right, rgba(0,0,0,0), #0f2f55, rgba(0,0,0,0));
	margin-top: 20px;
    margin-bottom: 20px;
}
.error a{}
.progress-container {
    width: 100%;
    height: 3px;
    background: #c7c7c7;
  }
  
  .progress-bar {
    height: 3px;
    background: #fad15d;
    width: 0%;
  }
.helpDesk {
    position: fixed;
    bottom: 10px;
    right: 15px;
    border-radius: 100px;
    transition: .2s;
    z-index: 1;
    width: 160px;
    transform: translatex(125px);
    transition:.3s;
    
}
.helpDesk img{width: 100%;    filter: hue-rotate(160deg);}
.helpDesk:hover{
	transform: translatex(10px);
}

.help-panel{position:fixed;top:0;bottom:0;width:350px;right:0;display: none;z-index: 999999;height:100%;box-shadow: 0px 0 15px rgba(0, 0, 0, 0.2);background: rgb(255, 255, 255);}

.help-panel .hp-head{min-height: 100px;background: #013d79;margin-bottom: 30px;padding: 15px; background: url(../images/helpbg.jpg);    background-size: cover;}
.help-panel .hp-head .closeHP{font-size:1.5em;color:rgba(255, 255, 255, 0.5);}
.help-panel .hp-head .closeHP:focus, .help-panel .hp-head .closeHP:hover{color:rgba(255, 255, 255, 0.8);}
.help-panel .hp-head h2{color:#fff;margin-bottom: 10px;border-bottom: 1px solid rgba(255, 255, 255, 0.42);padding-bottom: 10px;}
.help-panel .hp-head h2 img{width: 12%;margin-right:10px;vertical-align: bottom;}
.help-panel .hp-head ul{}
.help-panel .hp-head ul li{display: block;margin-bottom: 5px;}
.help-panel .hp-head ul li i{display: none;vertical-align: middle;color: rgba(255, 255, 255, 0.58);margin-right: 15px;width: 25px;border: 1px solid rgba(255, 255, 255, 0.5);text-align: center;height: 25px;line-height: 1.5em;border-radius: 100px;}
.help-panel .hp-head ul li p{display: inline-block;vertical-align: middle;color: #fff;}
.help-panel .hp-body{padding:0 15px; } 
.help-panel .hp-body #div1{height:100vh; overflow: hidden; overflow-y: scroll;    padding-bottom: 250px;} 
.help-panel .hp-body #div1::-webkit-scrollbar {width: 6px;}
.help-panel .hp-body #div1::-webkit-scrollbar-track { background: #eceef1; border-radius: 0px;}
.help-panel .hp-body #div1::-webkit-scrollbar-thumb { background: #013d79;border-radius: 0px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); }

.help-tabs{
    padding-left: 10px;
    border-bottom: 0;
}
.help-tabs li{}
.help-tabs li a{background: #dedddd;color: #000;padding: 5px 10px;font-size: 14px;border-radius: 0;border: 0;}
.help-tabs li a:hover, .help-tabs li a:focus{background: #828282;color:#fff;}
.help-tabs li.active a{background: #f5f5f5;color: #000;border: 0;}
.help-tabs li.active a:hover, .help-tabs li.active a:focus{background: #dedddd;color: #000;border: 0;}
 .help-pnl .panel-default{background: #fff;border: 0;border-radius: 0;box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);}
.help-pnl .panel-default .panel-heading{background: #f5f5f5;padding: 10px;}
.help-pnl .form-group{margin-bottom:5px;}
.help-pnl .form-group .control-label {
    text-align: left;
    font-size: 13px;
    font-weight: 100;
   margin-bottom: 7px;
}
.help-pnl .form-group .btn {
    padding: 5px 10px;
    background: #013d79;
    border: none;
	transition:.3s;
	height: 34px;
}
.help-pnl .form-group .btn:hover {background:#0080ff}
.help-pnl .form-group .form-control {
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #d8d8d8;
    padding-left: 0;
}
.extrainfo{color:red;    font-size: 12px;}
 /* My Radio */
.radio1 {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 17px;
  vertical-align: middle;
  margin-top: 10px;
}

/* Hide the browser's default radio button */
.radio1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark1 {
  position: absolute;
  top: 3px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio1:hover input ~ .checkmark1 {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio1 input:checked ~ .checkmark1 {
  background-color: #013d79;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark1:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio1 input:checked ~ .checkmark1:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio1 .checkmark1:after {
 	top: 4px;
 	left: 4px;
 	width: 6px;
 	height: 6px;
 	border-radius: 50%;
 	background: white;
}
.scrolltotop {
    position: fixed;
    bottom: 15px;
    right: 40px;
    height: auto;
    width: auto;
}
.scrolltotop>img {
    height:70%;
    width:70%;
    opacity:.5;
    transition:.2s;
    }
.scrolltotop>img:hover {opacity:1}
@media (min-width: 1200px){
.container {
    width: 1250px;
}
}
@media (max-width:1440px)
{
    .menu .menubar>ul>li>a{padding:10px 20px;}
    
}
@media (max-width:1366px)
{
    .menu .menubar>ul>li>a{padding:7px 15px;}
}
@media (max-width:1152px)
{
    .menu .menubar>ul>li>a{padding:10px 8px;}
    .portlet h1{font-size:2em;}
    .countbox .count-body span{width:39%}
    .banner {
    background-position: bottom right, top;
    background-size: 15%, 110%;
}    
.hbody3 td {
    font-size: 1em!important;
    white-space: unset;
}	
	
}
@media (max-width:1024px)
{
 .header .helpline span h2{font-size:1.7em}
 .header .secuser span h2{font-size:1.3em}
 .header .secuser span i{font-size:1.4em}
 .countbox .count-body span h3{font-size:2.2em}
 .portlet h1{font-size:1.5em; font-weight:bold}
 .portlet small{font-size:1em}
 .portlet{height:120px ; padding:30px 15px;}
 .menu .menubar>ul>li>a{font-size:1em;}
}
@media (max-width:991px)
{
.hbody3 table {
    width: 100%;
    margin-bottom: 20px;
}
}
@media (max-width:768px)
{
	.header ul li.search .input-group{
		width: 150px;
	}
	.counterstyle{
		font-size:2em;
	}
	.osa ul li>a span{font-size:2em;}
    .hbody3 td {
        font-size: 1.1em!important;
        white-space: nowrap;
    }	
 .address .pull-right{display:none;}
 .container-fluid{width:100%!important;}
 .menu .menubar>ul>li>a{font-size:.8em}
 .menu .searchbar a.sbutton{width:auto;padding: 3px 5px}
 .menu .searchbar .input-group{top:42px}
 .pad0{padding:0 15px!important;}
 .padl0{padding-left:15px!important;}
 .padr0{padding-right:15px!important;}
 .respad0{padding:0!important;} 
 .respadl0{padding-left:0px!important;} 
 .respadr0{ padding-right:0px!important} 
 .header .secuser span h2 {
    font-size: 1.1em;
}
.header .secuser{padding:10px}
.header .helpline span h2 {
    font-size: 1.6em;
}
.header .helpline span.helpicon{display:none;}

.header .helpline{text-align:center;}
.header .logo a img {
    width: 100%;
    margin-top: 0;
}
.header ul {
    
    margin-top: 10px;
}
.e-header-fixed .header .logo {
    width: 100%;
    padding: 0;
}
.menu .navbar .navbar-nav>li>a {
    padding: 8px;
    color: #fff;
    transition: .3s;
    font-size: 14px;
}
.e-header-fixed .menu .navbar .navbar-nav>li>a {
    padding: 5px;
}
.table-responsive{margin-bottom:30px}
}

@media (max-width:767px)
{
		
		.hdr1{font-size:1.75em;}
		.table-responsive {
			margin-bottom: 0;
		}
	.hbody3 table tr td:first-child, .hbody3 table tr th:first-child {
		display: block;
	}
	.hbody3 table tr td:first-child label, .hbody3 table tr th:first-child label{
		display:none;
	}
	.hbody3 table tr td:first-child a{font-size: 1.3em;font-weight:bold;display: block;border-bottom: 1px solid #333;padding-bottom: 10px;white-space: normal;}
    .col-blue{background: rgb(0, 173, 239)!important}
    .col-blue td{color:#fff!important}
    .hbody3 table tr td:first-child, .hbody3 table tr th:first-child,   
    .hbody3 table tr td:nth-child(2), .hbody3 table tr th:nth-child(2),    
    .hbody3 table tr td:nth-child(3), .hbody3 table tr th:nth-child(3),  
    .hbody3 table tr td:nth-child(4), .hbody3 table tr th:nth-child(4){width:auto;} 
	.hideMe{display:none!important}
	.osa{display:none}
    .hbody3 .table tr:not(:first-child) td:nth-child(2) a:before{ display: none}
.address .pull-right{display:none;}
.header .logo a img {width: 100%;    margin-top: 0;}
.address label i{width:3%}   
.header .secuser{float:left;}
.menu .searchbar a.sbutton{width:auto;padding: 7px 12px 5px 12px;}
.hbody3 table{border-bottom:0px solid #ccc!important;display: block;box-shadow: 0 0 0 #000;border: 0;}
.hbody3 table th{display:none}   
.hbody3 .table-responsive{overflow: visible;}
.hbody3 table th:nth-child(4), .hbody3 table td:nth-child(4){background:none;text-align:left}
.hbody3 table th:nth-child(5), .hbody3 table td:nth-child(5){background:none;text-align:left}
.hbody3 table th:last-child, .hbody3 table td:last-child{background:none;}   
.hbody3 table th:first-child{display:none;}
.hbody3 table td:first-child{display: block}
.hbody3 .importoff{margin-top:0;}
.hbody3 .importoff .table tr:first-child{display: block}  
.hbody3 .importoff h2{margin:10px 0;}  
.hbody3 table tr:first-child{display: none}  
.hbody3 table tr {
    border-bottom: 0 solid #333;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0px 0px 6px #ccc;
    padding: 10px;
    border-radius: 10px;
    background-image: url(../images/envelope.png)!important;
    background-repeat: no-repeat!important;
    background-size: 19%!important;
    background-position-x: 95%!important;
    background-position-y: 90%!important;
}
.hbody3 table td>a {
    color: #333;
}
.hbody3 table .col-blue td>a, .hbody3 table .col-blue td:last-child a {
    color: #fff;
}

.hbody3 table td{display:block; text-align:left; border:none!important; padding:0 10px!important;}    
.hbody3 table label{display:inline-block;margin-right: 20px;width: 100px;position:relative;max-width: inherit;}
.hbody3 table label:after{position:absolute; height:100%; width:100%; content:':'; top:0; right:-100px; }     
.hbody3 table td:last-child a {
    color: #000;
} 
.hbody3 .table tr:not(:first-child) td:nth-child(3) a:before{display:none}
.hbody3 .table tr:nth-child(even){background: rgba(233, 161, 30, 0.4);}
.hbody3 table tr:nth-child(even) td:first-child a{border-bottom:1px solid #9c8a68}
.hbody3 table tr:nth-child(odd) td:first-child a{border-bottom: 1px solid #9de4ff;}
.hbody3 .table-responsive {
    border:0;
}
.hbody3 .table tr td{padding: 5px 10px!important;}
.hbody3 .table tr td:nth-child(3){display:none}
.hbody3 .table tbody{
width: 100%;
display: block;
}
.hbody3 .table>tbody>tr:nth-child(odd) {
    background: rgb(0, 173, 239);
}
.hbody3 .table>tbody>tr:nth-of-type(odd) td, .hbody3 .table>tbody>tr:nth-of-type(odd) td a {
    color:#fff;
}


.hbody0 table{border-bottom:0px solid #ccc!important;display: block;box-shadow: 0 0 0 #000;border: 0;}
.hbody0 table th{display:none}   
.hbody0 .table-responsive{overflow: visible;}
.hbody0 table th:nth-child(4), .hbody3 table td:nth-child(4){background:none;text-align:left}
.hbody0 table th:nth-child(5), .hbody3 table td:nth-child(5){background:none;text-align:left}
.hbody0 table th:last-child, .hbody3 table td:last-child{background:none;}   
.hbody0 table th:first-child{display:none;}
.hbody0 table td:first-child{display: block}
.hbody0 .importoff{margin-top:0;}
.hbody0 .importoff .table tr:first-child{display: block}  
.hbody0 .importoff h2{margin:10px 0;}  
.hbody0 table tr:first-child{display: none}  
.hbody0 table tr {
    border-bottom: 0 solid #333;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0px 0px 6px #ccc;
    padding: 20px 10px;
    border-radius: 10px;
    background-image: url(../images/envelope.png)!important;
    background-repeat: no-repeat!important;
    background-size: 19%!important;
    background-position-x: 95%!important;
    background-position-y: 90%!important;
}
.hbody0 table td>a {
    color: #333;
}
.hbody0 table .col-blue td>a, .hbody0 table .col-blue td:last-child a {
    color: #fff;
}

.hbody0 table td{display:block; text-align:left; border:none!important; padding:0 10px!important;}    
.hbody0 table label{display:inline-block;margin-right: 20px;width: 100px;position:relative;max-width: inherit;}
.hbody0 table tr:nth-child(2) td:nth-child(1) label{display:none}
.hbody0 table tr:nth-child(2) td:nth-child(1) a{font-size:2em}

.hbody0 table tr:nth-child(2) td:nth-child(2) label{}
.hbody0 table td:nth-child(2) {
    background: transparent;
    text-align:left;
}
.hbody0 table tr:nth-child(2) td:nth-child(2) a{}
.hbody0 table label:after{position:absolute; height:100%; width:100%; content:':'; top:0; right:-100px; }     
.hbody0 table td:last-child a {
    color: #000;
} 
.hbody0 .table tr:not(:first-child) td:nth-child(3) a:before{display:none}
.hbody0 .table tr:nth-child(even){background: rgba(233, 161, 30, 0.4);}
.hbody0 .table.col-blue1 tr:nth-child(even) {
        background: rgb(0, 173, 239);;
}
.hbody0 .table.col-blue1 tr:last-child {
        margin-bottom:0;
}
.hbody0 .table.col-blue1 tr td label{color:#fff}
.hbody0 .table.col-blue1 tr td:first-child a{border-bottom:1px solid #fff}
.hbody0 .table.col-blue1 tr td a{color:#fff}
.hbody0 table tr:nth-child(even) td:first-child a{border-bottom:1px solid #9c8a68;word-break: break-word;white-space: normal;font-size: 1.3em;font-weight: bold;display: block;padding-bottom: 10px;}
.hbody0 table tr:nth-child(odd) td:first-child a{border-bottom: 1px solid #9de4ff;}
.hbody0 .table-responsive {
    border:0;
}
.hbody0 .table tr td{
    padding: 5px 10px!important;
}
.hbody0 .table tr td:nth-child(3){display: block;text-align: left;background: transparent;}
.hbody0 .table tbody{
width: 100%;
display: block;
}
.hbody0 .table>tbody>tr:nth-child(odd) {
    background: rgb(0, 173, 239);
}
.hbody0 .table>tbody>tr:nth-of-type(odd) td, .hbody0 .table>tbody>tr:nth-of-type(odd) td a {
    color:#fff;
}
.menu {
    background: #013d79;
    position: relative;
}
.menu .navbar {
    margin-bottom: 0;
    min-height: auto;
    position: absolute;
    top: 0;
    right: 30px;
    background: #013d79;
}
.menu .menubar ul{ display:none; position:absolute; z-index:999999; width:190%; top:43px; background:#013d79 }
.menu .menubar>ul>li{ list-style:none; float:none; position:relative; }
.menu .menubar>ul>li:last-child{border-right:none;}
.menu .menubar>ul>li>a{color:#fff; padding:10px 30px; font-size:1.1em; display:block; text-decoration:none; text-transform:uppercase;transition:.3s;border-bottom:5px solid #013d79}
.menu .menubar>ul>li>a:hover{ border-bottom:5px solid #f5b70c}
.menu .menubar>ul>li>a.active{ border-bottom:5px solid #f5b70c} 
.menu a.respomenu{ display:inline-block; margin:0;}
.menu .searchbar a.sbutton{margin:0;}
.menu .searchbar .input-group{width: 300px;right: 0;top:43px;}
.menu .searchbar .input-group input{width:80%}
.menu .searchbar .input-group a {width: 20%;}
.respad0{padding-left:15px!important; padding-right:15px!important} 
.respadl0{padding-left:15px!important;} 
.respadr0{ padding-right:15px!important}
.portlet{height:auto!important; font-size:100%;}
.header .navbar-toggle{    background-color: #00adef;}
.header .navbar-toggle .icon-bar{background:#fff;}
.header ul {
    float: right;
    margin-top: 8px;
    margin-right: 10px;
}
.e-header-fixed .header .logo {
	width: 80%;
    padding: 0px;
}
.menu .navbar-nav {
    margin: 0;
}
.menu .navbar .navbar-collapse {
    padding: 0;
    border: 0px solid #013d79;
    box-shadow: 0 0 0 #333;
}

.today ul {
    margin-left: 0;
}
.today h2 {
    text-indent: 0;
}
.today ul li {
    display: block;
    width: 100%;
}
.today h2>img {
    position: static;
	width:10%;
}
.banner {
    padding: 10px 0 10px 0;
}
.tilldate h2>img {
    position: static;
	width:10%;
}
.tilldate ul li {
    display: block;
    width: 100%;
}

.header ul li.search {
    margin-right: 20px;
    display: none;
}

.rtmob {
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
}
}
@media (max-width: 640px){
.header ul li.search, .header ul li.register, .header ul li .btn-info {
    margin-right: 0;
    display: none;
}
.e-header-fixed .header ul {
    margin-top: 10px;
}
.hbody4 .topdept li {
    display: block;
	margin-bottom: 15px;
}
.hbody4 .topdept li:after {
    position: absolute;
    content: '///';
    top: 20px;
    right: 0;
    color: #ffffff;
    transform: rotate(0deg);
    left: 0;
    margin: auto;
    font-size: 12px;
}
}
@media (max-width: 520px){
	.today ul li {
		display: block;
		width: 100%;
	}
	.tilldate ul li {
		display: block;
		width: 100%
	}
	.counterstyle {
		font-size: 2.5em;
	}
	.today h2>img {
		width: 15%;
	}
	.tilldate h2>img {
		width: 15%;
	}
	.banner {
		background-size: 15%, 230%;
	}
	.hbody4 h1 {
		font-size: 1.5em;
	}
}
@media (max-width: 480px){
	.counterstyle {
		    font-size: 1.7em;
	}
	.tilldate h2 {
		margin-bottom: 10px;
		font-size:16px;
	}
	.today h2 {
		margin-bottom: 10px;
		font-size:16px;
	}
	.today ul li>a small {
		font-size: 12px;
	}
	.tilldate ul li>a small {
		font-size: 12px;
	}	
	.footer p img {
		margin-left: 5px;
		width: 40%;
	}
	.footer ul {
		margin-top: 8px;
	}
}
@media (max-width: 470px){
    .header ul li.register i{display: none}
    .header .logo {
        padding: 5px 0;
    }
    .rtmob{padding-top:10px; padding-left:0;    padding-right: 0;}
}
@media (max-width: 425px){
    .hdr1 {
        font-size: 1.5em;
    }
    .banner .icons {
        font-size: 5px;
    }
.header .helpline{padding:5px;line-height: 2.5em; margin-right: 0px;}
.header .helpline span h2 {font-size: 19px;}
.header .helpline span label{font-size: 14px;}
.header .helpline .helpicon img {width: 75%;}
.header .secuser{padding:5px}
.header .secuser span i{font-size:1.1em; margin-right:5px}
.footer{text-align:center; padding:20px 0;}
.footer p{float:none!important; margin:20px;}
.menu .menubar ul{width:185%}
.footer .col-xs-6{width:100%; text-align:center;}
.help-panel {
    width: 300px;
}
.help-panel .hp-head ul li p {
    font-size: 13px;
}
.help-tabs li a {
    padding: 5px;
    font-size: 12px;
}
.help-panel .colon{display:none}
.help-pnl .form-group .btn {
    padding: 5px 8px;
}
}
@media (max-width: 375px)
{
.header .helpline{font-size:50%;}
.header .secuser{font-size:70%;}    
.hbody3 table tr td:nth-child(2) label{border-bottom: 0;width: 100px;}
.hbody0 table tr td:nth-child(2) label{border-bottom: 0;}
.hbody0 table tr td:nth-child(2) label:after{display:none;}
.menu .menubar ul{width:183%}
.hbody3 table td>a {
    color: #333;
}
.header ul li.register a{font-size:12px;}
.navbar-toggle {
    padding: 7px 10px;
    margin-right: 8px;
    border-radius: 0;
    border: 0;
}
}

@media (max-width: 320px)
{
.header .helpline span label{font-size:9px}    
.hbody0 table label{width:40%;}
.hbody3 table label{}
.menu .menubar ul{width:180%}
.counterstyle {
    font-size: 1.5em;
}
}
